
<header style="background-color: #fff;" id="masthead" class="site-header sticky_header affix-top">
    <div style="margin-top: 0%;" class="navigation-menu">
        <div>
            <div class="menu-mobile-effect navbar-toggle button-collapse buttons" data-activates="mobile-demo">
                <span style="background-color: #111"class="icon-bar"></span>
                <span style="background-color: #111" class="icon-bar"></span>
                <span style="background-color: #111" class="icon-bar"></span>
            </div>
            
            <div style="margin-bottom: -50px;" class="sm-logo">
                <a href="" title="Travel" rel="home">
                    <img src="assets/log1.png" alt="Logo" width="274" height="10" class="logo_transparent_static">
                    <img src="assets/log1.png" alt="Sticky logo" width="274" height="130" class="logo_sticky">
                </a>
            </div>
                    <nav class="width-navigation">
                        <ul style="color: #ffd200" class="nav navbar-nav menu-main-menu side-nav" id="mobile-demo">
                            <li class="">
                                <a style="text-decoration:none" routerLink="landing/landingPage" >Home</a>
                            </li>
                            <!-- <li class="menu-item-has-children">
                                <a style="text-decoration:none" routerLink="customPackage" >Customize Package</a>
                            </li> -->
                            
                            <li><a style="text-decoration:none" routerLink="dealsPage/deal">Deals</a></li>
                            <li *ngIf="authenticate.Role=='ADMIN'"><a style="text-decoration:none" routerLink="AdminInquiryPage/inquiries">Inquiries</a></li>
                            <li *ngIf="authenticate.Role=='AGENT'"><a style="text-decoration:none" routerLink="AgentInquiryPage/inquiries">Inquiries</a></li>
                            <li *ngIf="authenticate.Role=='ADMIN'"><a style="text-decoration:none" routerLink="agent/newagent">Create Agent</a></li>
                            <li *ngIf="authenticate.Role=='ADMIN'"><a style="text-decoration:none" routerLink="agent/Listagent">Agent List</a></li>
                            <!-- <li><a style="text-decoration:none" routerLink="packageList">Search</a></li> -->
    
                            <!-- <li *ngIf="authenticate.Role=='ADMIN'" class="menu-item-has-children">
                                <a style="text-decoration:none" routerLink="updatedata/update" >Upload Data</a>
                            </li> -->
                            <li *ngIf="authenticate.Role=='ADMIN'" class="menu-item-has-children">
                                <a style="text-decoration:none" routerLink="newproduct/new" >Upload Product</a>
                            </li>
                            <li *ngIf="authenticate.Role=='ADMIN'" class="menu-item-has-children">
                                <a style="text-decoration:none" routerLink="CMS/uploadimages" >CMS</a>
                            </li>
                            <li *ngIf="authenticate.Role=='ADMIN'"><a style="text-decoration:none" (click)="logout()" routerLink="admin/register">Log Out</a></li>
                            <li *ngIf="authenticate.Role=='USER'"><a style="text-decoration:none" (click)="logout()" routerLink="admin/register">Log Out</a></li>
                            <li *ngIf="authenticate.Role=='AGENT'"><a style="text-decoration:none" (click)="logout()" routerLink="admin/register">Log Out</a></li>
                            <li *ngIf="authenticate.Role==null"><a style="text-decoration:none" routerLink="admin/register">Log In</a></li>
                            <li *ngIf="authenticate.Role==''"><a style="text-decoration:none" routerLink="admin/register">Log In</a></li>
                            <li class="menu-right">

                            </li>
                        </ul>
                    </nav>
            
        </div>
    </div>
</header>


