<!-- <div style="" class="position-relative">
    <div style="padding-left: 90px;" class="wrapper-footer wrapper-footer-newsletter position-relative bottom-0 start-50 translate-middle-x ">
        <div class="container wrapper-copyright">
            <div class="row">
                <div class="col-sm-6">
                    <div style="padding:5px"><p>Copyright © 2017 Travel. All Rights Reserved.</p></div>
                </div>
                <div class="col-sm-6">
                    <aside id="text-5" class="widget_text">
                        <div class="textwidget">
                            <ul class="footer_menu">
                                <li><a style="text-decoration: none;" href="#">Terms of Use</a></li>
                                <li>|</li>
                                <li><a style="text-decoration: none;" href="#">Privacy Policy</a></li>
                                <li>|</li>
                                <li><a style="text-decoration: none;" href="https://twitter.com/physcode"><i class="fa fa-twitter"></i></a></li>
                                <li><a style="text-decoration: none;" href="https://www.facebook.com/physcode/"><i class="fa fa-facebook"></i></a></li>
                                <li><a style="text-decoration: none;" href="https://www.instagram.com/physcode/"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
        
    </div>
</div> -->
<footer style="margin-top: 0%;">
    <div class="footer-top container-fluid">
        <div class="row mb-5" style="padding-bottom: 10px;">
           <h2 style="text-align: center;color: white;letter-spacing:1px" class="mb-5 mt-3"> Our trusted travel partners around the world</h2>
            <div class="footer-brand-logos"style="padding-bottom: 10px;">

                <!-- AMADEUS -->
                <a>
                    <img src="http://s7d9.scene7.com/is/image/TheBay/534_Footer_Brand_Logo_TOPSHOP?fmt=png&scl=1" alt="TOPSHOP">
                </a>
              
                <!-- Expedia -->
                <a>
                    <img src="http://s7d9.scene7.com/is/image/TheBay/534_Footer_Brand_Logo_TOPMAN?fmt=png&scl=1" alt="TOPMAN">
                </a>
              
                <!-- Malindoair-->
                <a>
                    <img src="http://s7d9.scene7.com/is/image/TheBay/534_Footer_Brand_Logo_BeautyGuide_FR?fmt=png&scl=1" alt="BEAUTY the Guide">
                </a>
              
                <!-- viator -->
                <a>
                    <img src="http://s7d9.scene7.com/is/image/TheBay/534_Footer_Brand_Logo_TheRoom?fmt=png&scl=1" alt="The Room">
                </a>
              
                <!-- Kleinfeld -->
                <a>
                    <img src="http://s7d9.scene7.com/is/image/TheBay/534_Footer_Brand_Logo_Kleinfeld_FR?fmt=png&scl=1" alt="Kleinfeld Hudson's Bay">
                </a>
              
              </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-3 contact-info" >
                <h3 style="color: #c0c0c0;">MorningStar Holidays</h3>
                <div style="padding:5px">About Us</div>
                <div style="padding:5px">Careers</div>
                <div style="padding:5px">Blog</div>
                <div style="padding:5px">Testimorials </div>
                <div style="padding:5px">Guides</div>
                <div style="padding:5px">Visa</div>
                <div style="padding:5px">Press</div>
                <br/>
             </div>
                 <div class= "col-md-3 col-sm-6 col-xs-12.segment-one md-mb-30 sm-mb-30">
                     <h3 style="color: #c0c0c0;">Policy</h3>
                     <div style="padding:5px">Frequently Asked Questions </div>
                     <div style="padding:5px">Terms & Conditions</div>
                     <div style="padding:5px">Privacy</div>
                     <div style="padding:5px">Cancellations </div>
                     <div style="padding:5px">Sitemap</div>
                     <div style="padding:5px">Contact Us</div>
                 </div>
                     
                        <div class="col-md-3 contact-info">
                            <h3 style="color: #c0c0c0;">Talk to Us</h3>
                            <div class="follow">Address:
                                <i class="fa fa-envelope-o"></i>example@web.com</div>
                            <div class="follow">Phone:
                            <i class="fa fa-phone"></i> 1234567891</div>
                            <div class="follow">What's App:
                                <i class="font-size:24px" class="fa">&#xf232;</i>
                                +911111111111
                            </div>
                            <br/>
                         </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 segment-three sm-mb-30">
                            <h3 style="color: #c0c0c0;">Social</h3>
                            <div style="padding:5px"><a href="#"><i class="fa fa-facebook"></i></a></div>
                             <div style="padding:5px"><a href="#"><i class="fa fa-youtube-play"></i></a></div>   
                            <div style="padding:5px"> <a href="#"><i class="fa fa-twitter"></i></a></div> 
                               <div style="padding:5px"><a href="#"><i class="fa fa-instagram"></i></a></div> 
                               <br/>
                               <br/>
                              Morning Star Holidays Private Ltd.@2021 all rights reserved.      
                        </div>
                        <div align="right" class="col-md-12">
                            Powered By Bluescripts Solutions
                        </div> 
                      
                        
        </div>
       
    </div>
</footer>