<div style="margin-top: 20px;" class="position-relative">
    <div style="padding-left: 90px;" class="wrapper-footer wrapper-footer-newsletter position-relative bottom-0 start-50 translate-middle-x ">
        <div class="main-top-footer">
            <div style="margin-top: 0px;" class="container">
                <div class="row">
                    <aside class="col-sm-4 widget_text"><h3 class="widget-title">CONTACT</h3>
                        <div class="textwidget">
                            <div class="footer-info">
                                <p>Lorem ipsum dolor sit amet, cons ectetueradipiscing elit, sed diam nonu my nibh euis motincidunt ut laoreetd
                                </p>
                                <ul class="contact-info">
                                    <li><i class="fa fa-map-marker fa-fw"></i> 1945 Washington, San Francisco</li>
                                    <li><i class="fa fa-phone fa-fw"></i> +1 234 456 7890</li>
                                    <li>
                                        <i class="fa fa-envelope fa-fw"></i><a href="mailto:hello@siteinfo.com"> hello@siteinfo.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                    <aside class="col-sm-4 widget_text"><h3 class="widget-title">INFORMATION</h3>
                        <div class="textwidget">
                            <ul class="menu list-arrow">
                                <li><a style="text-decoration: none;" href="#">Press Centre</a></li>
                                <li><a style="text-decoration: none;" href="#">Travel News</a></li>
                                <li><a style="text-decoration: none;" href="#">About Us</a></li>
                                <li><a style="text-decoration: none;" href="#">Privacy Policy</a></li>
                                <li><a style="text-decoration: none;" href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </aside>
                    <aside class="col-sm-4 widget_text"><h3 class="widget-title">Our Menu</h3>
                        <div class="textwidget">
                            <ul class="menu list-arrow">
                                <li><a style="text-decoration: none;" href="#">About us</a></li>
                                <li><a style="text-decoration: none;" href="#">Career</a></li>
                                <li><a style="text-decoration: none;" href="#">Terms</a></li>
                                <li><a style="text-decoration: none;" href="#">Privacy Policy</a></li>
                                <li><a style="text-decoration: none;" href="#">Contact</a></li>
                            </ul>
                        </div>
                    </aside>
                    </div>
            </div>
        </div>
        <div class="container wrapper-copyright">
            <div class="row">
                <div class="col-sm-6">
                    <div><p>Copyright © 2017 Travel. All Rights Reserved.</p></div>
                </div>
                <div class="col-sm-6">
                    <aside id="text-5" class="widget_text">
                        <div class="textwidget">
                            <ul class="footer_menu">
                                <li><a style="text-decoration: none;" href="#">Terms of Use</a></li>
                                <li>|</li>
                                <li><a style="text-decoration: none;" href="#">Privacy Policy</a></li>
                                <li>|</li>
                                <li><a style="text-decoration: none;" href="https://twitter.com/physcode"><i class="fa fa-twitter"></i></a></li>
                                <li><a style="text-decoration: none;" href="https://www.facebook.com/physcode/"><i class="fa fa-facebook"></i></a></li>
                                <li><a style="text-decoration: none;" href="https://www.instagram.com/physcode/"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
