.footer-brand-logos {
    margin: 0 auto;
    width: 960px; 
    height: 56px; 
    text-align: justify;
    background-color: #f0f0f0; 
}

.footer-brand-logos:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.footer-brand-logos * {
    padding: 0;
    margin: 0;
}

.footer-brand-logos img {
    height: 56px;        
}

.footer-brand-logos a {
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
}




p{
    color:white;
    line-height: 30px;
}

div{
color: white   
}

h2,h3{
    display: inline;
    
}
h2{
    font-size: 18px;
}

a{
    padding: 10px 10px;
    color:white;
}
.footer-top{
    background:black;
    padding: 20px 80px;
    background-repeat: no-repeat;
    background-size: cover;
}


.segement-one h3{
    font-family: Courgette;
    color: #fff;
    letter-spacing: 3px;
    margin:10px 0;
}

.segement-two h2{
    font-family: Poppins;
    color: #fff;
    text-transform: uppercase;
}

.segement-two h2::before{
    content: '|';
    color: #fff;
   padding-right: 10px;
}

.segement-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.segement-two ul li{
    border-bottom: 1px solid rgba(255,255,255.0.3);
    line-height: 40px;
}

.segement-two ul li a{
   color: #999;
   text-decoration: none;
}

.segement-three h2{
    color:#fff;
    font-family: Poppins;
    text-transform: uppercase;
}

.segement-three h2::before{
    content: '|';
    color: #fff;
   padding-right: 10px;
}

.segement-three a{
    background: black;
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
}

.segement-three a i{
font-size: 100px;
color: #fff;
padding: 40px 12px;
}

.segement-four h2{
    color: #fff;
   font-family: Poppins;
   text-transform: uppercase;
}

.segement-four h2::before{
    content: '|';
    color: #fff;
   padding-right: 10px;
}

.segement-four form input[type=submit]{
    background: #c65039;
    border:none;
    padding-left: 3px 15px;
    margin-left :-5px;
    color: #fff;
    text-transform: uppercase;
}

.footer-bottom-text{
    text-align: center;
    line-height: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .md-mb-30{
        margin-bottom: 30px;
    }
 
    @media only screen and (min-width: 767px) {
        .sm-mb-30{
            margin-bottom: 30px;
        }   
        .footer-top{
            padding:50px 0;
        }
    }
}
