<div class="site wrapper-content">
    <div class="top_site_main" style="background-image:url(assets/banner/top-heading.jpg);background-size: cover;">
      <div class="banner-wrapper container article_heading">
        <h2 class="heading_primary" style="font-family: 'Noto Sans JP', sans-serif;">Discover {{productDetails.destination}}</h2></div>
    </div>
    <section class="content-area single-woo-tour">
      <div class="container">
        
        <div class="tb_single_tour product">
          <div class="top_content_single row">
            <div class="row">
              <div style="margin-right: -10px;" class="col-md-8">
                <div style="width: 100%" class="images images_single_left">
  
              
                  <div class="title-single">								
                    
                  </div>
                  <div class="tour_after_title">
                    <div class="meta_date">
                      <span>{{productDetails.duration}}</span>
                    </div>
                    <div class="meta_values">
                      <span>Category:</span>
                      <div class="value">
                        <a href="tours.html" rel="tag">{{productDetails.productCategory}}</a>,
                        <!-- <a href="tours.html" rel="tag">Rail Tour</a> -->
                      </div>
                    </div>
                    <div class="tour-share">
                      <strong>Code: </strong>{{productDetails.productCode}}
                    </div>
                  </div>
                  <div id="slider" class="flexslider">
                    <!-- <div class="row">
                      <div *ngFor="let i of images" class="col-md-3 mt-3">
                        <img src={{i.url}} alt="">
                      </div>
                    </div> -->
                    <ul class="slides">
                      <div style="height: 500px;" id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div style="height: 500px;" class="carousel-inner">
                          <div class="carousel-item active" data-bs-interval="4000">
                            <img style="height: 500px;" src={{image.url}} class="d-block w-100" alt="...">
                          </div>
                          <div *ngFor="let i of images" class="carousel-item" data-bs-interval="4000">
                            <img style="height: 500px;" src={{i.url}} class="d-block w-100" alt="...">
                          </div>
                          <!-- <div class="carousel-item">
                            <img style="height: 500px;" src="assets/day_3.jpg" class="d-block w-100" alt="...">
                          </div> -->
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                     
                    </ul>
                  </div>
                  
                  <div class="clear"></div>
                  <div class="">
                    <ul class="nav nav-tabs tabs wc-tabs navs_container mt-5" id="myTab" role="tablist">
                      <li class="description_tab nav-item active" role="presentation">
                        <!-- <a href="#tab-description" role="tab" data-toggle="tab">Description</a> -->
                        <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#tab-description" type="button" role="tab" aria-selected="true">Description</button>
                      </li>
                      <li class="itinerary_tab_tab nav-item" style="margin-left: 20px;" role="presentation">
                        <!-- <a class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="" type="button" role="tab" aria-selected="true" role="tab" data-toggle="tab">Itinerary</a> -->
                        <button class="nav-link" id="itinerary-tab" data-bs-toggle="tab" data-bs-target="#itinerary_tab" type="button" role="tab" aria-selected="true">Daily Itinerary</button>
                      </li>		
                      <li class="accommodations_tab_tab nav-item" style="margin-left: 40px;" role="accommodations">
                        <!-- <a class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="" type="button" role="tab" aria-selected="true" role="tab" data-toggle="tab">Itinerary</a> -->
                        <button class="nav-link" id="accommodations-tab" data-bs-toggle="tab" data-bs-target="#accommodations_tab" type="button" role="tab" aria-selected="true">Accommodations</button>
                      </li>	
                      <li class="packagePrice_tab_tab nav-item" style="margin-left: 40px;" role="packagePrice">
                        <!-- <a class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="" type="button" role="tab" aria-selected="true" role="tab" data-toggle="tab">Itinerary</a> -->
                        <button class="nav-link" id="packagePrice-tab" data-bs-toggle="tab" data-bs-target="#packagePrice_tab" type="button" role="tab" aria-selected="true">Package Price</button>
                      </li>							
                    </ul>
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane single-tour-tabs-panel single-tour-tabs-panel--description panel entry-content wc-tab active tabs_layout" id="tab-description">
                        <p class="fs-3 mt-5"> Product Description</p>
                        <p>{{productDetails.description}}</p>
                        <!-- <p>Felis venenatis metus placerat taciti malesuada ultricies bibendum nunc hymenaeos orci erat mollis pretium ligula ligulamus pellentesque urna. Sagittis bibendum justo congue facilisi. Aliquam potenti sagittis etiam facilisis vehicula. Id.</p> -->
                        <table class="tours-tabs_table">
                          <tbody>
                          <!-- <tr>
                            <td><strong>DEPARTURE/RETURN LOCATION</strong></td>
                            <td>San Francisco International Airport</td>
                          </tr>
                          <tr>
                            <td><strong>DEPARTURE TIME</strong></td>
                            <td>Please arrive at least&nbsp;2 hours before the flight.</td>
                          </tr> -->
                          <tr>
                            <td><strong>INCLUDED</strong></td>
                            <td>
                              <table>
                                <tbody>
                                <tr *ngFor="let i of productDetails.productInclusion">
                                  <td><i class="fa fa-check icon-tick icon-tick--on"></i>{{i.inclusionText}}
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td><b>NOT INCLUDED</b></td>
                            <td>
                              <table>
                                <tbody>
                                <tr *ngFor="let i of productDetails.productExclusion">
                                  <td>
                                    <i class="fa fa-times icon-tick icon-tick--off"></i>{{i.exclusionText}}
                                  </td>
                                </tr>
                               
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                        
                        <div style="display:flex;text-align:center;justify-content:center">
                        <a href={{pdf}} target="_blank" class="brochure">Get brochure</a>
                      </div>
                      </div>


                      <div role="tabpanel" class="tab-pane single-tour-tabs-panel single-tour-tabs-panel--description panel entry-content wc-tab tabs_layout" id="accommodations_tab">
                        
                        <table style="margin-left: 10px;" class="table table-hover mt-5">
                          <!-- <caption>Accomodation List</caption> -->
                          <thead>
                            <tr>
                              <th>CITY</th>
                              <th>TYPE</th>
                              <th>HOTEL</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let i of productDetails.productSubDestinations">
                              <td>
                                {{i.subDestinationName}}
                              </td>
                              <td>
                                {{i.productType}}
                              </td>
                              <td>
                                {{i.hotelName}}
                              </td>
                            </tr>
                          </tbody>
                        </table>


                      </div>

                      <div role="tabpanel" class="tab-pane single-tour-tabs-panel single-tour-tabs-panel--description panel entry-content wc-tab tabs_layout" id="packagePrice_tab">
                        

                        <table style="margin-left: 10px;" class="table table-hover mt-5">
                          <!-- <caption>Accomodation List</caption> -->
                          <thead>
                            <tr>
                              <th>TYPE</th>
                              <th>Adult Price</th>
                              <th>Children Price</th>
                              <th>Infant Price</th>
                              <!-- <th>HOTEL</th> -->
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let i of productDetails.productPrice">
                              <td>
                                {{i.type}}
                              </td>
                              <td>
                                {{i.adultPrice}}
                              </td>
                              <td>
                                {{i.childrenPrice}}
                              </td>
                              <td>
                                {{i.infantPrice}}
                              </td>
                            </tr>
                          </tbody>
                        </table>


                      </div>





                      <div role="tabpanel" class="tab-pane single-tour-tabs-panel single-tour-tabs-panel--itinerary_tab panel entry-content wc-tab tabs_layout" id="itinerary_tab">
                        <div *ngFor="let i of Days;let j=index" class="interary-item">
                          <div class="item_content">
                          <p ><span style="margin-left:-100px;margin-top:20px" class="icon-left">{{j+1}}</span></p>
                          <h2><strong>{{i.day}}</strong></h2>
                            <p> {{i.dayDescription}}</p>
                           
                          </div>
                          
                        </div>
                        <!-- <div class="row">
                          <div *ngFor="let i of images" class="col-md-3 mt-3">
                            <img src={{i.url}} alt="">
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>							
                </div>
              </div>


              

              <div *ngIf="authenticate.Role=='ADMIN'" class="col-md-4">
                <div class="summary entry-summary description_single" style="width: 100%">
                <div class="affix-sidebar">
                  <div class="entry-content-tour">
                    <p style="color: white;font-family: 'Noto Sans JP', sans-serif;font-size: 20px;" class="price">
                      <span class="text">Deal assign to :</span><span class="travel_tour-Price-amount amount">{{productDetails.productCode}}</span>
                    </p>
                    <div class="clear"></div>
                    <div style="padding-top: 50px;padding-bottom: 50px;" class="booking">
                      <div class="">
                        <div class="form-block__title">
                          <h4>Deal</h4>
                        </div>
                        <form  id="tourBookingForm" #dealForm="ngForm" (ngSubmit)="deal(dealForm.value)">
                         
                          
                          <div class="">
                            <input name="deal_Percent" ngModel value="" placeholder="Apply Deal" type="text">
                          </div>
                         
                          <div class="">
                            <input style="visibility:hidden;display: none;" name="productCode" ngModel={{productDetails.productCode}} value="{{productDetails.productCode}}" placeholder="Phone" type="text">
                          </div>
                          <!-- <div class="">
                            <input type="text" ngModel name="date" value="" placeholder="Date Book" class="hasDatepicker">
                          </div> -->
                          
                          <div class="spinner">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                          </div>
                          <input class="btn-booking btn" value="Apply Deal" type="submit">
                        </form>
                      </div>
                    </div>
                    
                  </div>
                  <div class="widget-area align-left col-sm-3">	
                  </div>
                </div>
              </div>
              <!-- <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia velit fuga provident, asperiores nobis pariatur adipisci nemo laudantium cumque in, doloremque possimus repellendus? Enim nostrum accusantium consequuntur dolor, pariatur error!</h1> -->
              <div class="summary entry-summary description_single2" >
                
                
                    <!-- <div class="container-box" style="border-radius: 10px; box-sizing: border-box; color: black; "> -->
                      <div class="box-part" style=" margin-top: 300px;" >
                    <div  class="col-12" style="margin-top: 2px; padding-top: 2px;"> 
                      <h2 style="color:cyan; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 22px;"> Need Help ?</h2>
                    </div>
                      <div class="row" style="padding-top: 5px;">
              
                        <div  class="col-2" style="font-size: 15px;"> 
                        <i class="fa fa-phone" aria-hidden="true" style="color: blue; font-size: 30px; padding-top: 15px; margin-bottom: 15px;" ></i>
                        </div>
                          
                        <div  class="col-9" style="padding-left: 20px;"> 
                          <h5 style="color:black; font-size: 15px; padding-top: 15px;">Call US On</h5>
                          <h6 style="font-style: oblique; font-size: 16px; "><b>+12345678</b></h6>
                        </div>
                      
                      </div>
                    
              
                      <div class="row" style="padding-top: 15px;">
              
                        <div  class="col-2" style="font-size: 22px;"> 
                        
                        <i class="fa fa-clock-o" aria-hidden="true" style="color:black; font-size: 30px; padding-top: 15px; margin-bottom: 15px;" ></i>
                        </div>
                          
                        <div  class="col-9" style="padding-left: 20px;"> 
                          <h5 style="color:black; font-size: 15px; padding-top: 15px;">Timing</h5>
                          <h6 style="font-style: oblique; font-size: 16px; "><b>10AM TO 7PM</b></h6>
                        </div>
                      
                      </div>
              
                      <div class="row" style="padding-top: 15px;">
                        <div  class="col-2" style="font-size: 22px;"> 
                        <i class="fa fa-headphones" aria-hidden="true" style="color: brown; font-size: 30px; padding-top: 15px; margin-bottom: 15px;" ></i>
                        </div>
                          
                        <div  class="col-9" style="padding-left: 20px;"> 
                          <h5 style="color:black; font-size: 16px; padding-top: 16px;"><b>Let US Call U</b></h5>
                            </div>
                      </div>

              </div>
              </div>      
              
                    
              </div>
  
              <div *ngIf="authenticate.Role=='USER'" class="col-md-4">
                <div class="summary entry-summary description_single" style="width: 100%">
                <div class="affix-sidebar">
                  <div class="entry-content-tour">
                    <p style="color: white;font-family: 'Noto Sans JP', sans-serif;font-size: 20px;" class="price">
                      <span class="text">Price : </span><span class="travel_tour-Price-amount amount"> {{Rate}}</span>
                    </p>
                    <div class="clear"></div>
                    <div class="booking">
                      <div class="">
                        <div class="form-block__title">
                          <h4>Book the tour</h4>
                        </div>
                        <form id="tourBookingForm" #InquiryForm="ngForm" (ngSubmit)="Inquiry(InquiryForm.value)">
                          <div class="">
                            <input name="name" ngModel value="" placeholder="User name" type="text">
                          </div>
                          
                          <div class="">
                            <input name="email" ngModel value="" placeholder="Email" type="text">
                          </div>
                          <div class="">
                            <input name="phone" ngModel value="" placeholder="Phone" type="text">
                          </div>
                          <div class="">
                            <input name="city" ngModel value="" placeholder="City" type="text">
                          </div>
                          <div class="">
                            <input style="visibility:hidden;display: none;" name="productCode" ngModel={{productDetails.productCode}} value="{{productDetails.productCode}}" placeholder="Phone" type="text">
                          </div>
                          <div class="">
                            <input type="text" ngModel name="date" value="" placeholder="Date Book" class="hasDatepicker">
                          </div>
                          
                          <div class="spinner">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                          </div>
                          <input class="btn-booking btn" value="Inquire now" type="submit">
                        </form>
                      </div>
                    </div>
                    
                  </div>
                  <div class="widget-area align-left col-sm-3">	
                  </div>
                </div>
              </div>
              
            </div>


  
  
              <div *ngIf="authenticate.Role==''" >
                <div class="summary entry-summary description_single">
                <div class="affix-sidebar">
                  <div class="entry-content-tour">
                    <p style="color: white;font-family: 'Noto Sans JP', sans-serif;font-size: 20px;" class="price">
                      <span class="text">Price : </span><span class="travel_tour-Price-amount amount"> {{Rate}}</span>
                    </p>
                    <div class="clear"></div>
                    <div class="booking">
                      <div class="">
                        <div class="form-block__title">
                          <h4>Book the tour</h4>
                        </div>
                        <form id="tourBookingForm" #InquiryForm="ngForm" (ngSubmit)="Inquiry(InquiryForm.value)">
                          <div class="">
                            <input name="name" ngModel value="" placeholder="User name" type="text">
                          </div>
                          
                          <div class="">
                            <input name="email" ngModel value="" placeholder="Email" type="text">
                          </div>
                          <div class="">
                            <input name="phone" ngModel value="" placeholder="Phone" type="text">
                          </div>
                          <div class="">
                            <input name="city" ngModel value="" placeholder="City" type="text">
                          </div>
                          <div class="">
                            <input style="visibility:hidden;display: none;" name="productCode" ngModel={{productDetails.productCode}} value="{{productDetails.productCode}}" placeholder="Phone" type="text">
                          </div>
                          <div class="">
                            <input type="text" ngModel name="date" value="" placeholder="Date Book" class="hasDatepicker">
                          </div>
                          
                          <div class="spinner">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                          </div>
                          <input class="btn-booking btn" value="Inquire now" type="submit">
                        </form>
                      </div>
                    </div>
                    
                  </div>
                  <div class="widget-area align-left col-sm-3">	
                  </div>
                </div>
              </div>
              
            </div>




             
              
  
              <div *ngIf="authenticate.Role=='AGENT'" class="col-md-6">
                <div class="summary entry-summary description_single" style="width: 100%">
                <div class="affix-sidebar">
                  <div class="entry-content-tour">
                    <p style="color: white;font-family: 'Noto Sans JP', sans-serif;font-size: 20px;" class="price">
                      <span class="text">Price : </span><span class="travel_tour-Price-amount amount"> {{Rate}}</span>
                    </p>
                    <div class="clear"></div>
                    <div style="padding-top: 50px;padding-bottom: 50px;" class="booking">
                      <div class="">
                        <div class="form-block__title">
                          <h4>Book the tour</h4>
                        </div>
                        <form id="tourBookingForm" #dealForm1="ngForm" (ngSubmit)="deal1(dealForm1.value)">
                          <!-- <div class="">
                            <input name="name" ngModel value="" placeholder="User name" type="text">
                          </div> -->
                          
                          <div class="">
                            <input name="deal_Percent" ngModel value="" placeholder="Apply Deal" type="text">
                          </div>
                          <!-- <div class="">
                            <input name="phone" ngModel value="" placeholder="Phone" type="text">
                          </div>
                          <div class="">
                            <input name="city" ngModel value="" placeholder="City" type="text">
                          </div> -->
                          <div class="">
                            <input style="visibility:hidden;display: none;" name="productCode" ngModel={{productDetails.productCode}} value="{{productDetails.productCode}}" placeholder="Phone" type="text">
                          </div>
                          <!-- <div class="">
                            <input type="text" ngModel name="date" value="" placeholder="Date Book" class="hasDatepicker">
                          </div> -->
                          
                          <div class="spinner">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                          </div>
                          <input class="btn-booking btn" value="Apply Deal" type="submit">
                        </form>
                      </div>
                    </div>
                    
                  </div>
                  <div class="widget-area align-left col-sm-3">	
                  </div>
                </div>
              </div>
              </div>
              
            </div>
          
          </div>
        </div>
      </div>
    </section>
  </div>
  