.nav-tabs .nav-link{
    border:1 px solid #fff;
}
.nav-tabs , .nav-link{
    border:1px solid #fff;
}

.nav-tabs .nav-link:hover{
    border-bottom: 5px solid #ffd200;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.nav-tabs .nav-link.active{
    /* background-color:#ffd200; */
    border-bottom: 5px solid #ffd200;
    color: #ffd200;
    border-top: none;
    border-left:none;
    border-right: none;
    /* color: #fff;     */
}
.nav-tabs{
    border: none;
}
.brochure{
    cursor:pointer;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 30px; */
    margin-top: 20px;
    width: 200px;
    height:35px;
    color: #fff;
    border: none;
    background-color:#ffd200;
}
.brochure:hover {
    background-color:rgb(0, 230, 230)
}

/* Help */


.icon-background {
    color: #c0ffc0;
}





.box-part{
    background:#FFF;
    border-radius:2px;
    /* padding-bottom: 30px; */
    padding:6px 6px;
    margin:5px 5px;
    border: 2px solid lightgray; 
   height: 380px;
    width: 350px;
    padding-left: 100px;
    /* box-shadow:2px 2px 10px rgba(0,0,0,0.4) */
}
.text{
    margin:30px 0px;
    text-shadow: blue;
}

.segement-one {
    font-family: 'Noto Sans JP', sans-serif;
    color:black;
    letter-spacing: 3px;
    margin:10px 0;
}

