<div class="site wrapper-content">
    <div class="top_site_main" style="background-image:url(assets/banner/top-heading.jpg);background-size: cover;">
      <div class="banner-wrapper container article_heading">
        <h2 class="heading_primary" style="font-family: 'Noto Sans JP', sans-serif;">Agent List</h2></div>
      </div>
<section class="content-area single-woo-tour">


<table class="table" class="table table-bordered  table-hover" style=" padding: 30px; " >
    <thead class="thead-dark" style="background-color:black; font-size: larger; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> 
        <th scope="col" >#</th>
        <th scope="col" >Agent ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Working Area</th>
        <th scope="col">Email</th>
        <th scope="col">Number OF Inquries</th>
        <th scope="col">Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of listall;let j=index" >
            <th scope="row">{{j+1}}</th>
            <th scope="row">{{item.agentId}}</th>
            <th>{{item.firstName}}</th>
            <th>{{item.lastName}}</th>
            <th>{{item.workingArea}}</th>
            <th>{{item.email}}</th>
            <th></th>
            <th>
                
                <input type="text" style="display:none;visibility:hidden" ngModel={{item.agentId}} #agentid value="{{item.agentId}}" name=id >
                <i><button (click)="delete(j,agentid.value)" class="btn"><i class="fa fa-trash" style="font-size:20px;color: brown;"></i></button></i></th>
           
        </tr>
    </tbody>
</table>

</section>
</div>