.nav-tabs .nav-link{
    padding-left: 35px;
    padding-right: 35px;
    padding-top:10px;
    background-color: #f1f1f1
}
.nav-tabs , .nav-link{
    border:1px solid #fff;
}

.nav-tabs .nav-link:hover{
  BACKGROUND-COLOR  : #ffd200;
  border-bottom: 5px solid #ffd200;
}

.nav-tabs .nav-link.active{
    background-color:#ffd200;
    border-bottom: 5px solid #ffd200;
    color: #ffd200;
    border-top: none;
    border-left:none;
    border-right: none;
    color: #fff;    
}

.nav-tabs{
    border: none;
}
.navs_container{
    margin-left: -0px;
    margin-bottom:-1px;
    margin-top: 40px;
}
.tabs_layout{
    border: 3px solid #ffd200;
    padding:20px;
    padding-top:30px;
}