nav{
    padding-left: 120px;
}
.nav-tabs .nav-link{
    border:1 px solid #fff;

    margin-right:80px
}
.nav-tabs , .nav-link{
    border:1px solid #fff;
}

.nav-tabs .nav-link:hover{
    border-bottom: 5px solid #ffd200;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.nav-tabs .nav-link.active{
    /* background-color:#ffd200; */
    border-bottom: 5px solid #ffd200;
    color: #ffd200;
    border-top: none;
    border-left:none;
    border-right: none;
    /* color: #fff;     */
}
.nav-tabs{
    border: none;
}
.card_img:hover{
    transform: scale(1.05,1.05);
    transition: all 0.8s;
    cursor: pointer
}
.deal_card:hover{
    transform: scale(1.10,1.10);
    transition:all 0.5s;
    cursor: pointer
}
.deal_card1:hover{
    transform: scale(1.05,1.05);
    transition:all 0.5s;
    cursor: pointer
}

figure{
    overflow:hidden;
}