
<div style="padding:5%;background-color:lightgoldenrodyellow;background-repeat:no-repeat;background-size:100% 100%;position: relative;height: 100%;width: 100%;" class="bodyContent">
    <form #submitForm="ngForm" class="sign-up-form">
      <div style="margin-top: 80px;margin-bottom:80px" class="container">
    <!-- <div class="container"> -->        
            
      <div class="maindiv" style="margin-bottom: 20px; ">
           <div class="card" >
               <div class="position-absolute top-2 end-2  " ></div>
               <div ><i style='font-size:60px;color: #ffd200; margin-top: 30px;' class='fas' >&#xf084;</i></div>
               <div align="center" style="color:black;font-size:100px" class="card-header rounded-bottom fs-4">  Change Your Password</div>
               </div>
                <div class="inputs"> 
                  <div class="Fields">
                    <div class="Fieldset">
                       <input type="text" class="Before-FS" required="" autocomplete="off">
                       <h1 class="Fs-H"><span> Enter Your New Password</span></h1> 
                       <label for="current" class="placeholder">New password</label>
                        <i class="far fa-eye" style="font-size:20px; position: absolute; right: -30px; top: 16px;" id="togglePassword" ngModel #newpassword name="newpassword"></i>
                     </div>
                     <div class="Fieldset">
                       <input type="text" class="Before-FS" required="" autocomplete="off">
                       <h1 class="Fs-H"><span>Confirm Password</span></h1>
                       <label  for="newpassword" class="placeholder">Confirm password</label>
                       <i style='font-size:20px; position: absolute; right: -30px; top: 115px;' class='far' ngModel #Confirmpassword name="confirmpassword">&#xf070;</i>
                      </div>
                    </div>
                <div> <button routerLink="forgot" style="text-decoration:none;" class="btn bt1">Submit</button></div>
                    </div>
                    </div>
      
          </div>
        </form>   
      </div>
