<div class="top_site_main" style="background-image:url(assets/banner/top-heading.jpg);background-size: cover;padding-top: 90px;padding-bottom: 50px;">
    <div class="banner-wrapper container article_heading">
<h1 class="heading_primary">Upload Product</h1></div>
</div>
<div style="padding-top: 30px;padding-bottom: 50px;" class="container">
    <form #uploadForm="ngForm" (ngSubmit)="Submit(uploadForm.value);uploadForm.reset()" class="form mb-5 mt-3" action="">
    <div class="mt-5 mb-3" style="text-align:left">
        <h1 class="title_primary fs-2" style="font-family: 'Noto Sans JP', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Create Product</h1>
    </div>
        <div class="row">
            <div class="col-md-3">
                <label for="ProductName" class="form-label">Product Name</label>
                <input type="text"  class="form-control input" ngModel name="name"  placeholder="Enter Product Name" required>
            </div>
            <div class="col-md-3">
                <label for="ProductName" class="form-label">Duration</label>
                <input type="text"  class="form-control input" ngModel name="duration"  placeholder="Enter Duration">
            </div>
            <div class="col-md-3">
                <label for="ProductName" class="form-label">Product Category</label>
                <!-- <input type="text"  class="form-control input" ngModel name="category"  placeholder="Enter Product Category"> -->
                <select class="form-select" style="height: 35px;font-size: 14px;" ngModel name="category" aria-label="Default select example">
                    <option selected></option>
                    <option>Solo</option>
                    <option>Family</option>
                    <option>Couple</option>
                    <option>Adventure</option>
                    <option>Scenic</option>
                    <option>Religious</option>
                    <option>Beaches</option>
                    <option>Biking Tour</option>
                    <option>Trekking</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="ProductName" class="form-label">Product Type</label>
                <!-- <input type="text"  class="form-control input" ngModel name="producttype" placeholder="Enter Product Category"> -->
                <select class="form-select" style="height: 35px;font-size: 14px;" ngModel name="producttype" aria-label="Default select example">
                    <option selected></option>
                    <option>Domestic</option>
                    <option>International</option>
                  </select>
            </div>
        </div>

        <div class="mt-5 row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <label for="Destination" class="form-label">Destination</label>
                            <input type="text"  class="form-control input" ngModel name="destination"  placeholder="Enter Destination">
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="Description" class="form-label">Description</label>
                        <textarea style="font-size:14px" class="form-control input" ngModel name="Description" id="Description" rows="4"></textarea>
                      </div>
                  
                    <div class="mt-5 col-md-6">
                        <label for="SubDestination" class="form-label">Cities Cover</label>
                            <input style="margin-bottom: 15px;" ngModel name="subdestination" #subdestination type="text" class="form-control input"  placeholder="Enter the Cities to be cover..." required>
                    </div>
                    <div style="margin-top:10px;" class="col-md-2 mt-5">
                        <button style="width: 60px;" type="button" (click)="getsubd(subdestination.value)" class="btn12">+</button>
                    </div>
                    <div style="width:600px"  class="mt-5 col-md-4">
                        <label class="form-label">Tags</label>
                        <select class="form-select" style="height: 35px;font-size: 14px;" ngModel name="tag" aria-label="Default select example">
                            <option selected></option>
                            <option >Best Seller</option>
                            <option >MSH Recommended</option>
                            <option >Popular</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
              
            </div>
            <!-- <div align="right" class="col-md-12">
                <button type="submit" class="btn121">Submit</button>
            </div> -->
        </div>
        <table style="border: none" class="table mb-5">
            <thead>
                <th style="border-top: none;border-right: none;">Sub Destination</th>
                <th style="border-left: none;border-top: none;border-right: none;">Delete</th>
            </thead>
            <tbody>
                <tr style="border: none;" *ngFor="let t of subdestinations;let i=index">
                    <td style="border-top: none;border-right: none;">{{t.name}}</td>
                    <td style="border-top: none;border-right: none;"><button (click)="deleteSubdestination(i)" class="btn btn-outline-danger">-</button></td>
                </tr>
            </tbody>
        </table>
        
        <hr class="mt-3 mb-3">


<!-- Serivces include -->
<div class="mt-5 mb-3" style="text-align:left">
    <h1 class="title_primary fs-2" style="font-family: 'Noto Sans JP', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Services Included:</h1>
</div>

<div align="center" class="container row mt-5">
    <div class="col-md-2" *ngFor="let i of UserService">
        <div class="form-check" style="padding-bottom: 10px;">
            <input style="margin-top:5px;margin-left: -25px;" class="form-check-input" name="{{i.name}}" [(ngModel)]='i.isSelected' (change)="Onchange()" type="checkbox" id="{{i.name}}" value="option7">
            <label class="form-check-label" for="{{i.name}}">{{i.name}}</label>
          </div>
    </div>
    <!-- <div class="col-md-3">
        <div class="form-check" style="padding-bottom: 10px;">
            <input class="form-check-input" name="sightscheck" ngModel type="checkbox" id="inlineCheckbox2" value="option7">
            <label class="form-check-label" for="inlineCheckbox2">Sightseeing</label>
          </div>
    </div>
    <div class="col-md-2">
        <div class="form-check" style="padding-bottom: 10px;">
            <input class="form-check-input" name="Transfercheck" ngModel type="checkbox" id="inlineCheckbox3" value="option7">
            <label class="form-check-label" for="inlineCheckbox3">Transfer</label>
          </div>
    </div>
    <div class="col-md-2">
        <div class="form-check" style="padding-bottom: 10px;">
            <input class="form-check-input" name="mealcheck" ngModel type="checkbox" id="inlineCheckbox4" value="option7">
            <label class="form-check-label" for="inlineCheckbox4">Meals</label>
          </div>
    </div>
    <div class="col-md-2">
        <div class="form-check" style="padding-bottom: 10px;">
            <input class="form-check-input" name="visacheck" ngModel type="checkbox" id="inlineCheckbox5" value="option7">
            <label class="form-check-label" for="inlineCheckbox5">Visa</label>
          </div>
    </div> -->
</div>
<hr class="mt-3 mb-3">


    <!-- Subdestination -->
    <div class="mt-5 mb-3" style="text-align:left">
        <h1 class="title_primary fs-2" style="font-family: 'Noto Sans JP', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Sub Destination</h1>
    </div>

    <div class="row mb-5 mt-3">
        <div class="col-md-1">
            <label for="srno" class="form-label">Sr No.</label>
            <input type="number" name="ExSrNo" id="srno" #SubSr class="form-control input" placeholder="Sr No">

        </div>
        <div class="col-md-3">
            <label class="form-label">Product Type</label>
            <select class="form-select" style="height: 35px;font-size: 14px;" #productType name="type" aria-label="Default select example">
                <option selected></option>
                <option>Standard</option>
                <option>Delux</option>
                <option>Luxury</option>
              </select>
        </div>
        <div class="col-md-3">
            <label class="form-label">Sub Destination</label>
            <select class="form-select" style="height: 35px;font-size: 14px;" name="subd" #Subdestination aria-label="SubDestination">
                <option selected></option>
                <option *ngFor="let i of subdestinationOptions">{{i.name}}</option>
                <!-- <option>Sydney</option>
                <option>Adelaide</option> -->
              </select>
        </div>
        <div class="col-md-3">
            <label class="form-label">Hotels</label>
            <input type="text"  class="form-control input" name="hotel" #hotel placeholder="Enter the Hotel">
        </div>
        <div style="margin-top:27px" class="col-md-2">
            <button class="btn121" type="button" (click)="showSubdestination(productType.value,Subdestination.value,hotel.value,SubSr.value)">Add</button>
        </div>
    </div>
   <table class="table">
    <thead>
        <th style="border-top: none;border-right: none;">Serial No</th>
        <th style="border-top: none;border-right: none;">Product Type</th>
        <th style="border-top: none;border-right: none;">Sub Destination</th>
        <th style="border-top: none;border-right: none;">Hotels</th>
        <th style="border-top: none;border-right: none;">Delete</th>
    </thead>   
<tbody>
    <tr *ngFor="let j of productSubDestination;let i=index">
        <td style="border-top: none;border-right: none;">{{j.serialNo}} </td>
        <td style="border-top: none;border-right: none;">
            {{j.productType}}
        </td>
        <td style="border-top: none;border-right: none;">{{j.subDestinationName}} </td>
        <td style="border-top: none;border-right: none;">{{j.hotelName}} </td>
        <td style="border-top: none;border-right: none;"><button (click)="deleteSubdest(i)" class="btn btn-outline-danger">-</button></td>
    </tr>
</tbody>   
   </table>
    

   <!-- Product Price -->
<hr class="mt-3 mb-5">
    <div class="mt-5 mb-3" style="text-align:left">
        <h1 class="title_primary fs-2" style="font-family: 'Noto Sans JP', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Product Price</h1>
    </div>
    <div class="row mb-3 mt-3">
        <div class="col-md-1">
            <label for="srno" class="form-label">Sr No.</label>
            <input type="number" name="ExSrNo" id="srno" #PrcSr class="form-control input" placeholder="Sr No">

        </div>
        <div class="col-md-3">
            <label class="form-label">Product Price Type</label>
            <select #proType class="form-select" style="height: 35px;font-size: 14px;" ngModel name="ProductPriceType" aria-label="Default select example">
                <option selected></option>
                <option >Standard</option>
                <option >Delux</option>
                <option >Luxury</option>
              </select>
        </div>
        <div class="col-md-3">
            <label class="form-label">Adult</label>
            <input type="number" id="AdultPrice" #Adult name="adult" class="form-control input" placeholder="Enter the Amount">
        </div>
        <div class="col-md-3">
            <label class="form-label">Child</label>
            <input type="number"  #Child name="child" class="form-control input" placeholder="Enter the Amount">
        </div>
        <div class="col-md-2">
            <label class="form-label">Infant</label>
            <input type="number"  #Infant name="infant" class="form-control input" placeholder="Enter the Amount">
        </div>
        <div align="right" class="col-md-12 mt-5">
            <button type="button" (click)="ShowData(proType.value,Adult.value,Child.value,Infant.value,PrcSr.value)" class="btn121"> Add</button>
        </div>
        </div>

        <table class="table">
            <thead>
                <th style="border-top: none;border-right: none;">Serial No</th>
                <th style="border-top: none;border-right: none;">
                    Product Type
                </th>
                <th style="border-top: none;border-right: none;">Adult</th>
                <th style="border-top: none;border-right: none;">Child</th>
                <th style="border-top: none;border-right: none;">Infant</th>
                <th style="border-top: none;border-right: none;">Delete</th>
            </thead>
            <tbody>
                <tr *ngFor="let j of productPrice;let i = index">
                    <td style="border-top: none;border-right: none;">{{j.serialNo}} </td>
                    <td style="border-top: none;border-right: none;">{{j.type}} </td>
                    <td style="border-top: none;border-right: none;">{{j.adultPrice}} </td>
                    <td style="border-top: none;border-right: none;">{{j.childrenPrice}} </td>
                    <td style="border-top: none;border-right: none;">{{j.infantPrice}} </td>
                    <td style="border-top: none;border-right: none;"><button (click)="deletePrice(i)" class="btn btn-outline-danger">-</button></td>
                </tr>
            </tbody>
        </table>



        <hr class="mt-3 mb-5">
        <!-- Product Inclusion -->
    <div class="mt-5 mb-3" style="text-align:left">
        <h1 class="title_primary fs-2" style="font-family: 'Noto Sans JP', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Product Inclusion</h1>
    </div>
    <div class="row mb-5">
        <div class="col-md-2">
            <label for="srno1" class="form-label">Sr No.</label>
            <input type="number" name="InSrNo" id="srno1" #IncSr class="form-control input" placeholder="Serial No">

        </div>
        <div class="col-sm-8">
        <label for="inputEmail3" class="form-label">Product Inclusion</label>
        <textarea style="font-size:14px" class="form-control" name="inclusion" #inclusion id="exampleFormControlTextarea1" rows="2"></textarea>
    </div>
    <div class="col-sm-2">
        <button type="button" (click)="ShowInclusion(inclusion.value,IncSr.value)" class="btn121 mt-5"> Add</button>
    </div>
    </div>
    <table style="border: none" class="table mb-5">
        <thead>
            <th style="border-top: none;border-right: none;">Serial No.</th>
            <th style="border-top: none;border-right: none;">Product Inclusion</th>
            <th style="border-left: none;border-top: none;border-right: none;">Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let t of productInclusion;let i=index">
                <td style="border-top: none;border-right: none;">{{t.serialNo}}</td>
                <td style="border-top: none;border-right: none;">{{t.inclusionText}}</td>
                <td style="border-top: none;border-right: none;"><button (click)="deleteInclusion(i)" class="btn btn-outline-danger">-</button></td>
            </tr>
        </tbody>
    </table>




    <hr class="mt-3 mb-5">
    <!-- Product Exclusion -->
    <div class="mt-5 mb-3" style="text-align:left">
        <h1 class="title_primary fs-2" style="font-family: 'Noto Sans JP', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Product Exclusion</h1>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label for="srno" class="form-label">Sr No.</label>
            <input type="number" name="ExSrNo" id="srno" #ExcSr class="form-control input" placeholder="Serial No">

        </div>
        <div class="col-sm-8">
            <label for="inputEmail3" class="form-label">Product Exclusion</label>
        <textarea style="font-size:14px" class="form-control" name="exclusion" #exclusion id="exampleFormControlTextarea1" rows="2"></textarea>
    </div>
    <div class="col-sm-2">
        <button type="button" (click)="ShowExclusion(exclusion.value,ExcSr.value)" class="btn121 mt-5"> Add</button>
    </div>
    </div>

    <table style="border: none" class="table mt-5 mb-5">
        <thead>
            <th style="border-top: none;border-right: none;">Serial No.</th>
            <th style="border-top: none;border-right: none;">Product Exclusion</th>
            <th style="border-left: none;border-top: none;border-right: none;">Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let t of productExclusion;let i=index">
                <td style="border-top: none;border-right: none;">{{t.serialNo}}</td>
                <td style="border-top: none;border-right: none;">{{t.exclusionText}}</td>
                <td style="border-top: none;border-right: none;"><button (click)="deleteExclusion(i)" class="btn btn-outline-danger">-</button></td>
            </tr>
        </tbody>
    </table>

    <hr class="mt-5 mb-5">
    <!-- Product Days -->
    <div class="mt-5 mb-3" style="text-align:left">
        <h1 class="title_primary fs-2" style="font-family: 'Noto Sans JP', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Product Days</h1>
    </div>

    <div class="row mt-3">
        <div class="col-md-2">
            <label for="srno" class="form-label">Sr No.</label>
            <input type="number" name="ExSrNo" id="srno" #DaySr class="form-control input" placeholder="Serial No">

        </div>
        <div class="col-md-2">
            <label class="form-label">Product Days</label>
            <input type="text" name="days" #Day class="form-control input" placeholder="Enter Day">
        </div>
        <div class="col-md-7">
            <label class="form-label">Day Description</label>
        <textarea style="font-size:14px" class="form-control" name="description" #Description id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>
        <div style="margin-top:27px" class="col-md-1">
            <button type="button" (click)="ShowDay(Day.value,Description.value,DaySr.value)" class="btn121">Add</button>
        </div>
    </div>
    <table style="border: none" class="table mb-5">
        <thead> 
            <th style="border-top: none;border-right: none;">Serial Number</th>
            <th style="border-top: none;border-right: none;">Product Days</th>
            <th style="border-top: none;border-right: none;">Day Description</th>
            <th style="border-left: none;border-top: none;border-right: none;">Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let t of productDays;let i=index">
                
                <td style="border-top: none;border-right: none;">{{t.serialNo}}</td>
                <td style="border-top: none;border-right: none;">{{t.day}}</td>
                <td style="border-top: none;border-right: none;">{{t.dayDescription}}</td>
                <td style="border-top: none;border-right: none;"><button (click)="deleteDays(i)" class="btn btn-outline-danger">-</button></td>
            </tr>
        </tbody>
    </table>
        <hr class="mt-5 mb-5">

    <div class="mt-5 mb-5" style="text-align:left">
        <h1 class="title_primary fs-2" style="font-family: 'Noto Sans JP', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Add Images</h1>
    </div>
        <div class="container row">
          <div class="col-md-6">
            <!-- <img [src]="urllink" alt=""> -->
            <input type="file" style="height: 44px;" ngModel name="image" class="upload-box mb-3" ngModel (change)="onFileChange($event)" id="">
          </div>
        </div>
      <table style="border: none" class="table mb-5">
        <thead>
            <th style="border-top: none;border-right: none;">Images</th>
            <th style="border-left: none;border-top: none;border-right: none;">Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let j of images;let i=index">
                <td style="border-top: none;border-right: none;">{{j.name}}</td>
                <td style="border-top: none;border-right: none;"><button (click)="deleteTodo(i)" class="btn btn-outline-danger">-</button></td>
            </tr>
        </tbody>
    </table>
<div class="row">
     <!-- Modal -->
     <div class="popup center">
        <div class="icon">
          <i class="fa fa-check"></i>
        </div>
        <div class="title mb-3 mt-3">
          Done!!!!
        </div>
        <div class="description">
          Your product is created successfully. 
        </div>
        <div class="dismiss-btn">
          <button type="button" id="dismiss-popup-btn" (mouseenter)="closeModal()">
            close
          </button>
        </div>
      </div>
      <!-- Modal Ends -->



      <!-- Modal -->
      <div class="popup1 center">
        <div class="icon">
          <i class="far fa-frown"></i>
        </div>
        <div class="title mb-3 mt-3">
          OOPs!!!!
        </div>
        <div class="description">
          Seems something went wrong . Please try again.
        </div>
        <div class="dismiss-btn">
          <button id="dismiss-popup1-btn" (mouseenter)="closeModal1()">
            close
          </button>
        </div>
      </div>
      <!-- Modal Ends -->


    <div align="center" class="col-md-12">
        <button style="width: 100px;" id="open-popup-btn" class="btn12">Submit</button>
    </div>
</div>


</form>

</div>