<div style="padding-top: 30px;padding-bottom:30px" class="container-fluid">
  <!-- Modal -->
  <div class="popup center">
    <div class="icon">
      <i class="fa fa-check"></i>
    </div>
    <div class="title mb-3 mt-3">
      Done!!!!
    </div>
    <div class="description">
      Your password has been changes successfully. 
    </div>
    <div class="dismiss-btn">
      <button type="button" id="dismiss-popup-btn" (click)="closeModal()">
        Signin
      </button>
    </div>
  </div>
  <!-- Modal Ends -->



  <!-- Modal -->
  <div class="popup1 center">
    <div class="icon">
      <i class="far fa-frown"></i>
    </div>
    <div class="title mb-3 mt-3">
      OOPs!!!!
    </div>
    <div class="description">
      Seems something went wrong . Please try again.
    </div>
    <div class="dismiss-btn">
      <button id="dismiss-popup1-btn" (mouseenter)="closeModal1()">
        close
      </button>
    </div>
  </div>
  <!-- Modal Ends -->

        
      <!-- <section class="content-area single-woo-tour">
        <div class="container" >
        <form #submitForm="ngForm" class="sign-up-form">
      
          <div class="left"></div>
          
        <div class="maindiv">
            <div class="card">
             <div class="position-relative top-10 end-10 content card ">Forgot Password</div>
             <!-- <div align="center" style="color:black;" class="card-header rounded-bottom fs-4">Forgot Password</div> 
             </div>
             
            <div class="inputs"> 
                <div class="Fields">
                    <div class="Fieldset">
                     <input type="text" style="font-size:14px;" ngModel #email name="email" id="email"  class="Before-FS" required="" autocomplete="off">
                     <h1 class="Fs-H"><span>Enter Your Email</span></h1>
                     <label for="email" class="placeholder">Enter Your Email-ID</label>
                     <button routerLink="forgot" style="text-decoration:none;" class="btn bt1">Submit</button>s 
                     <button style="text-decoration:none;" class="btn bt1" (click)="getOtp(email.value)">OTP</button>
                     </div>
                </div>
            </div>
        </div> 
        <b>Please Enter Your Email In Given Text box.We will Send You OTP On Your Given Mail</b>
    </form>
        </div>
      </section> -->
    <!-- </div> -->
    
      

    <div class="wrapper1">

    <h1 style="text-align:center;">Recover Password</h1>

      <div class="step-row">
        <div id="progress"></div>
        <div style="visibility: hidden;" class="step-col"><small>step1</small></div>
        <div style="visibility: hidden;" class="step-col"><small>step2</small></div>
        <div style="visibility: hidden;" class="step-col"><small>step3</small></div>
        <!-- <div style="visibility: hidden;" class="step-col"><small>step3</small></div>
        <div style="visibility: hidden;" class="step-col"><small>step3</small></div>
        <div style="visibility: hidden;" class="step-col"><small>step3</small></div> -->
    </div>
    

    <div style="padding-top: 0px;" class="containerMonth">
    <form class="Form1">
      <div style="padding-left:150px" class="title">
        Enter your register E-mail to get OTP!
      </div>
      <div class="content">
        <div class="left">
          <img style="width: 300px;" src="assets/mail.png" alt="">
          </div>
          <div class="right">
            <input type="text" ngModel name=email #email class="input" placeholder="Enter your email">
            <div class="btn2">
            <button style="margin-top: 30px;" id="next1" type="button" (click)="next()" (click)="getOtp(email.value)">Get OTP</button>
          </div>
        </div>
      </div>
      
    <!-- <div class="btn-box">
      <button type="button" id="back3">Back</button>
      <button type="button" id="next4" >Next</button>
  </div> -->
  </form>
  </div>




  
<div style="padding-top: 0px;" class="containerMonth">
  <form class="Form2">
    <div style="padding-left:250px" class="title">
      OTP Sucessfully Sent...!
    </div>
    <div class="content">
     
        <div class="right1">
          <input type="text" ngModel name=otp #OTP class="input" placeholder="Enter OTP sent on your mail">
          <div class="btn2">
          <button style="margin-top: 30px;margin-right: 50px;margin-left: -30px;" id="next1" type="button" (click)="next()" (click)="CheckOtp(OTP.value)">Verify OTP</button>
        </div>
      </div>
      <div class="left1">
        <img style="width: 300px;" src="assets/otp.png" alt="">
        </div>
    </div>
    
  <!-- <div class="btn-box">
    <button type="button" id="back3">Back</button>
    <button type="button" id="next4" >Next</button>
</div> -->
</form>
</div>

<div style="padding-top: 0px;" class="containerMonth">
<form class="Form3">
  <div style="padding-left:210px" class="title">
    Change Your Password...!
  </div>
  <div class="content">
   
    <div class="left">
      <img style="width: 300px;" src="assets/new.png" alt="">
      </div>
      
      <div class="right">
        <input type="text" ngModel name=newPassword #newPassword class="input" placeholder="Enter new Password...">
        <input style="margin-top: 20px;" type="text" ngModel name=confirmPassword #confirmPassword class="input" placeholder="Confirm your password...">
        <div class="btn2">
          <button style="margin-top: 30px;" id="next1" type="button" (click)="next()" (click)="ChangePass(newPassword.value,confirmPassword.value)">Change</button>
        </div>
    </div>
    
  </div>
  
<!-- <div class="btn-box">
  <button type="button" id="back3">Back</button>
  <button type="button" id="next4" >Next</button>
</div> -->
</form>
</div>


</div>



</div>