

<div class="top_site_main" style="background-image:url(assets/banner/top-heading.jpg);background-size: cover;">
</div>
<div style="padding-top: 30px;padding-bottom:100px" class="container-fluid">
        
      <section class="content-area single-woo-tour">
        <div class="container" >
        <form #submitForm="ngForm" class="sign-up-form">
      
          <div class="left"></div>
          
        <div class="maindiv">
            <div class="card">
             <div class="position-relative top-10 end-10 content card ">Forgot Password</div>
             <!-- <div align="center" style="color:black;" class="card-header rounded-bottom fs-4">Forgot Password</div> -->
             </div>
             
            <div class="inputs"> 
                <div class="Fields">
                    <div class="Fieldset">
                     <input type="text" style="font-size:14px;" ngModel #email name="email" id="email"  class="Before-FS" required="" autocomplete="off">
                     <h1 class="Fs-H"><span>Enter Your Email</span></h1>
                     <label for="email" class="placeholder">Enter Your Email-ID</label>
                     <!-- <button routerLink="forgot" style="text-decoration:none;" class="btn bt1">Submit</button>s -->
                     <button style="text-decoration:none;" class="btn bt1" (click)="getOtp(email.value)">OTP</button>
                     </div>
                </div>
            </div>
        </div> 
        <b>Please Enter Your Email In Given Text box.We will Send You OTP On Your Given Mail</b>
    </form>
        </div>
      </section>
    <!-- </div> -->
    

