
<!-- <div style="padding:10%;background: url(assets/123.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size:100% 100%;position: absolute;height: 100%;width: 100%;" class="bodyContent"> -->


    <div class="container" >
        <form #submitForm="ngForm" class="sign-up-form">
      
          <div class="left"></div>
          
        <div class="maindiv">
            <div class="card">
             <div class="position-relative top-10 end-10 content card ">Forgot Password</div>
             <!-- <div align="center" style="color:black;" class="card-header rounded-bottom fs-4">Forgot Password</div> -->
             </div>
             
            <div class="inputs"> 
                <div class="Fields">
                    <div class="Fieldset">
                     <input type="text" style="font-size:14px;" ngModel #email name="email" id="email"  class="Before-FS" required="" autocomplete="off">
                     <h1 class="Fs-H"><span>Enter Your Email</span></h1>
                     <label for="email" class="placeholder">Enter Your Email-ID</label>
                     <!-- <button routerLink="forgot" style="text-decoration:none;" class="btn bt1">Submit</button>s -->
                     <button style="text-decoration:none;" class="btn bt1" (click)="getOtp(email.value)">OTP</button>
                     </div>
                </div>
            </div>
        </div> 
        <b>Please Enter Your Email In Given Text box.We will Send You OTP On Your Given Mail</b>
    </form>
    </div>