
.btn1:hover{
    color:rgb(11, 186, 255)
}
.td1:hover{
    background: black;
    color:goldenrod
}
.btn121{
    background:#fff ;
    border:2px solid #ffd200;
    width:100px;
    height:30px;
    margin-top: 0px;
    border-radius:0px;
    color: #ffd200;
}
.btn121:hover{
    background:#ffd200 ;
    color: #fff;
}
.containerTable{
    margin: 20px;
}
.bookingHeading{
    display: none;
    visibility: hidden;
}
.bookingHeading.active1{
    display: block;
    visibility:visible;
}
.bookingInput{
    display: none;
    visibility: hidden;
}
.bookingInput.active{
    display:block;
    visibility:visible;
}
.btn122{
   
        background:white ;
        border:2px solid #ffd200;
        width:120px;
        padding: 3px;
        height:30px;
        /* margin-top: 30px; */
        border-radius:0px;
        color: #ffd200;
}
.btn122:hover{
    background:#ffd200 ;
    color: #fff;
}
.popup {
    width:350px;
    height:280px;
    padding:30px 20px;
    background:#f5f5f5;
    border-radius:10px;
    box-sizing:border-box;
    z-index:21;
    text-align:center;
    opacity:0;
    top:-200%;
    transform:translate(-50%,-50%) scale(0.5);
    transition: opacity 300ms ease-in-out,
                top 1000ms ease-in-out,
                transform 1000ms ease-in-out;
  }
  .popup.active {
    opacity:1;
    position: fixed;
    top:50%;
    transform:translate(-50%,-50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
    box-shadow:0px 0px 20px 2000px rgba(0,0,0,0.5);
  }
  .popup .icon {
    margin:5px 0px;
    width:50px;
    height:50px;
    border:2px solid #34f234;
    text-align:center;
    display:inline-block;
    border-radius:50%;
    line-height:60px;
  }
  .popup .icon i.fa {
    font-size:30px;
    color:#34f234;
  } 
  .popup .title {
    margin:5px 0px;
    font-size:30px;
    font-weight:600;
  }
  .popup .description {
    color:#222;
    font-size:15px;
    padding:5px;
  }
  .popup .dismiss-btn {
    margin-top:15px;
  }
  .popup .dismiss-btn button {
    padding:10px 20px;
    background:#fff;
    color:rgb(255, 115, 115);
    border:2px solid rgb(255, 115, 115);
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    cursor:pointer;
    transition: all 300ms ease-in-out;
  }
  .popup .dismiss-btn button:hover {
    color:white;
    background:rgb(255, 115, 115);;
  }
  .popup > div {
    position:relative;
    top:10px;
    opacity:0;
  }
  .popup.active > div {
    top:0px;
    opacity:1;
  }
  .popup.active .icon {
    transition: all 300ms ease-in-out 250ms;
  }
  .popup.active .title {
    transition: all 300ms ease-in-out 300ms;
  }
  .popup.active .description {
    transition: all 300ms ease-in-out 350ms;
  }
  .popup.active .dismiss-btn {
    transition: all 300ms ease-in-out 400ms;
  }




    
.popup1 {
  width:350px;
  height:280px;
  padding:30px 20px;
  background:#f5f5f5;
  border-radius:10px;
  box-sizing:border-box;
  z-index:21;
  text-align:center;
  opacity:0;
  top:-200%;
  transform:translate(-50%,-50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;
}
.popup1.active {
    opacity:1;
    position: fixed;
    top:50%;
    transform:translate(-50%,-50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
    box-shadow:0px 0px 20px 2000px rgba(0,0,0,0.5);
}
.popup1 .icon {
  margin:5px 0px;
  width:50px;
  height:50px;
  /* border:2px solid #f25134; */
  text-align:center;
  display:inline-block;
  border-radius:50%;
  line-height:60px;
}
.popup1 .icon i.far {
  font-size:44px;
  color:#f26034;
} 
.popup1 .title {
  margin:5px 0px;
  font-size:30px;
  font-weight:600;
}
.popup1 .description {
  color:#222;
  font-size:15px;
  padding:5px;
}
.popup1 .dismiss-btn {
  margin-top:15px;
}
.popup1 .dismiss-btn button {
  padding:10px 20px;
  background:#fff;
  color:rgb(255, 115, 115);
  border:2px solid rgb(255, 115, 115);
  font-size:16px;
  font-weight:600;
  outline:none;
  border-radius:10px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
}
.popup1 .dismiss-btn button:hover {
  color:white;
  background:rgb(255, 115, 115);;
}
.popup1 > div {
  position:relative;
  top:10px;
  opacity:0;
}
.popup1.active > div {
  top:0px;
  opacity:1;
}
.popup1.active .icon {
  transition: all 300ms ease-in-out 250ms;
}
.popup1.active .title {
  transition: all 300ms ease-in-out 300ms;
}
.popup1.active .description {
  transition: all 300ms ease-in-out 350ms;
}
.popup1.active .dismiss-btn {
  transition: all 300ms ease-in-out 400ms;
}