
.btn1:hover{
    color:rgb(11, 186, 255)
}
.td1:hover{
    background: black;
    color:goldenrod
}
.btn121{
    background:#fff ;
    border:2px solid #ffd200;
    width:100px;
    height:30px;
    margin-top: 0px;
    border-radius:0px;
    color: #ffd200;
}
.btn121:hover{
    background:#ffd200 ;
    color: #fff;
}
.containerTable{
    margin: 20px;
}
.bookingHeading{
    display: none;
    visibility: hidden;
}
.bookingHeading.active1{
    display: block;
    visibility:visible;
}
.bookingInput{
    display: none;
    visibility: hidden;
}
.bookingInput.active{
    display:block;
    visibility:visible;
}
.btn122{
   
        background:white ;
        border:2px solid #ffd200;
        width:120px;
        padding: 3px;
        height:30px;
        /* margin-top: 30px; */
        border-radius:0px;
        color: #ffd200;
}
.btn122:hover{
    background:#ffd200 ;
    color: #fff;
}