@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */

*{
  font-family: 'Noto Sans JP', sans-serif;
}
.html,.body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  /* background: #f2f2f2; */
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
}
::selection{
  background: #4158d0;
  color: #fff;
}
.wrapper{
  width: 620px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 25px 40px rgba(0,0,0,0.2);
}
.wrapper .title{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg,#ffd200,#ffad06);
}
.wrapper form{
  padding: 10px 30px 50px 30px;
}
.wrapper .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.wrapper .field input:focus,
.field input:valid{
  border-color: #4158d0;
}
.wrapper .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.field input:focus ~ label,
.field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}
.content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
.content .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
.content input{
  width: 15px;
  height: 15px;
  background: red;
}
.content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
.content .pass-link{
  color: "";
}
.field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  padding-right: 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg,#ffd200,#e98400);
  transition: all 0.3s ease;
}
.field input[type="submit"]:active{
  transform: scale(0.95);
}
.signup-link{
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
.pass-link a,
.signup-link a{
  color: #4158d0;
  text-decoration: none;
}
.pass-link a:hover,
.signup-link a:hover{
  text-decoration: underline;
}

input{
  height: 35px;
  font-size:14px;
}



/* For pop up added */
.container123 {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

/* .btn {
  width: 150px;
  font-size:16px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #4d84e2;
} */

/* Modal */
.center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.popup {
  width:350px;
  height:280px;
  padding:30px 20px;
  background:#f5f5f5;
  border-radius:10px;
  box-sizing:border-box;
  z-index:21;
  text-align:center;
  opacity:0;
  top:-200%;
  transform:translate(-50%,-50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;
}
.popup.active {
  opacity:1;
  top:50%;
  transform:translate(-50%,-50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
  box-shadow:0px 0px 20px 2000px rgba(0,0,0,0.5);
}
.popup .icon {
  margin:5px 0px;
  width:50px;
  height:50px;
  border:2px solid #34f234;
  text-align:center;
  display:inline-block;
  border-radius:50%;
  line-height:60px;
}
.popup .icon i.fa {
  font-size:30px;
  color:#34f234;
} 
.popup .title {
  margin:5px 0px;
  font-size:30px;
  font-weight:600;
}
.popup .description {
  color:#222;
  font-size:15px;
  padding:5px;
}
.popup .dismiss-btn {
  margin-top:15px;
}
.popup .dismiss-btn button {
  padding:10px 20px;
  background:#fff;
  color:rgb(255, 115, 115);
  border:2px solid rgb(255, 115, 115);
  font-size:16px;
  font-weight:600;
  outline:none;
  border-radius:10px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
}
.popup .dismiss-btn button:hover {
  color:white;
  background:rgb(255, 115, 115);;
}
.popup > div {
  position:relative;
  top:10px;
  opacity:0;
}
.popup.active > div {
  top:0px;
  opacity:1;
}
.popup.active .icon {
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .title {
  transition: all 300ms ease-in-out 300ms;
}
.popup.active .description {
  transition: all 300ms ease-in-out 350ms;
}
.popup.active .dismiss-btn {
  transition: all 300ms ease-in-out 400ms;
}
  
.popup1 {
  width:350px;
  height:280px;
  padding:30px 20px;
  background:#f5f5f5;
  border-radius:10px;
  box-sizing:border-box;
  z-index:21;
  text-align:center;
  opacity:0;
  top:-200%;
  transform:translate(-50%,-50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;
}
.popup1.active {
    opacity:1;
    position: fixed;
    top:50%;
    transform:translate(-50%,-50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
    box-shadow:0px 0px 20px 2000px rgba(0,0,0,0.5);
}
.popup1 .icon {
  margin:5px 0px;
  width:50px;
  height:50px;
  /* border:2px solid #f25134; */
  text-align:center;
  display:inline-block;
  border-radius:50%;
  line-height:60px;
}
.popup1 .icon i.far {
  font-size:44px;
  color:#f26034;
} 
.popup1 .title {
  margin:5px 0px;
  font-size:30px;
  font-weight:600;
}
.popup1 .description {
  color:#222;
  font-size:15px;
  padding:5px;
}
.popup1 .dismiss-btn {
  margin-top:15px;
}
.popup1 .dismiss-btn button {
  padding:10px 20px;
  background:#fff;
  color:rgb(255, 115, 115);
  border:2px solid rgb(255, 115, 115);
  font-size:16px;
  font-weight:600;
  outline:none;
  border-radius:10px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
}
.popup1 .dismiss-btn button:hover {
  color:white;
  background:rgb(255, 115, 115);;
}
.popup1 > div {
  position:relative;
  top:10px;
  opacity:0;
}
.popup1.active > div {
  top:0px;
  opacity:1;
}
.popup1.active .icon {
  transition: all 300ms ease-in-out 250ms;
}
.popup1.active .title {
  transition: all 300ms ease-in-out 300ms;
}
.popup1.active .description {
  transition: all 300ms ease-in-out 350ms;
}
.popup1.active .dismiss-btn {
  transition: all 300ms ease-in-out 400ms;
}





