<div class="top_site_main" style="background-image:url(assets/banner/top-heading.jpg);background-size: cover;">
    <div style="padding-top:150px;padding-bottom:60px" class="banner-wrapper container article_heading">
    
        <h1 class="heading_primary fs-1">Deals</h1>
    </div>
</div>

<div class="container mt-5 mb-5">



    <div class="mt-5 mb-3" style="text-align:left">
        <h3 class="title_primary fs-2" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Deals For every Pocket</h3>
    </div>
    <!-- <div class="container"> -->
        <div class="row mb-5">
          <div class="col-sm-6">
            <div class="row">
                <div class="col-6 col-sm-6">
                    <figure style="margin-left: 0;margin-top: 0;">
                        <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                            <img src="assets/Deals/deals1.jpg" style="height: 350px;width: 100%;" class="card-img" alt="...">
                            <div class="card-img-overlay">
                                <div style="transform: rotate(-10deg);" class="shortcode_title title-center title-decoration-bottom-center">
                                    <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:125px;font-family: 'Satisfy', cursive;">Deals Below...</p>
                                    <h5 class="card-title fs-1" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold"><span>₹</span>10K</h5>
                                    <span style="margin-top:-75px;" class="line_after_title"></span>
                                </div></div>
                        </div>
                    </figure>
                </div>
                <div class="col-6 col-sm-6">
                    <figure style="margin-left: 0;margin-top: 0;">
                    <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                        <img src="assets/Deals/deals5.jpg" style="height: 350px;width: 100%;" class="card-img" alt="...">
                        <div class="card-img-overlay">
                             <div style="transform: rotate(-10deg);" class="shortcode_title title-center title-decoration-bottom-center">
                                    <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:125px;font-family: 'Satisfy', cursive;">Deals Ranging...</p>
                                    <h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold"><span>₹</span>10K-<span>₹</span>20K</h5>
                                    <span style="margin-top:-75px;" class="line_after_title"></span>
                                </div></div>
                    </div>
                    </figure>
                </div>
                <div class="col-6 col-sm-6 mt-3">
                    <figure style="margin-left: 0;margin-top: 0;">
                    <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                        <img src="assets/Deals/deals3.jpg" style="height: 350px;width: 100%;" class="card-img" alt="...">
                        <div class="card-img-overlay">
                             <div style="transform: rotate(-10deg);" class="shortcode_title title-center title-decoration-bottom-center">
                                    <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:125px;font-family: 'Satisfy', cursive;">Deals Ranging...</p>
                                    <h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold"><span>₹</span>20K-<span>₹</span>30K</h5>
                                    <span style="margin-top:-75px;" class="line_after_title"></span>
                                </div></div>
                    </div>
                    </figure>
                </div>
                <div class="col-6 col-sm-6 mt-3">
                    <figure style="margin-left: 0;margin-top: 0;">
                    <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                        <img src="assets/Deals/deals4.jpg" style="height: 350px;width: 100%;" class="card-img" alt="...">
                        <div class="card-img-overlay">
                             <div style="transform: rotate(-10deg);" class="shortcode_title title-center title-decoration-bottom-center">
                                    <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:125px;font-family: 'Satisfy', cursive;">Deals Ranging...</p>
                                    <h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold"><span>₹</span>30K-<span>₹</span>50K</h5>
                                    <span style="margin-top:-75px;" class="line_after_title"></span>
                                </div></div>
                    </div>
                    </figure>
                </div>
              </div>
          </div>
          <div class="col-sm-6">
            <figure style="margin-left: 0;margin-top: 0;margin-bottom: 0;height: 732px;">
            <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                <img src="assets/Deals/deals2.jpg" style="height: 818px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <div style="transform: rotate(-10deg);" class="shortcode_title title-center title-decoration-bottom-center">
                        <p class="card-title fs-2" style="text-align:center;margin-left: -40px;margin-top:290px;font-family: 'Satisfy', cursive;">Deals Above...</p>
                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:7px;margin-left: -40px;margin-top:5%;font-family: 'Varela Round', sans-serif;"><span>₹</span>50K</h5>
                        <span  class="line_after_title"></span>
                    </div>
                   
                </div>
            </div>
            </figure>
          </div>
        </div>
      <!-- </div> -->

      <div class="mt-5 mb-3" style="text-align:left">
        <h3 class="title_primary fs-2" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span> Deals for Domestic Packages</h3>
    </div>

<div class="carousel">
    <owl-carousel-o id="deals_Section" style="padding-left: 75px;margin-top: -20px;margin-left: 90px;" [options]="customOptions">
        <ng-template carouselSlide> 
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
            <img src="assets/Goa5.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
            <div class="card-img-overlay">
                    <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Goa</h5>
                
                
            </div>
        </div>
    </figure>
    </ng-template>  
            <ng-template carouselSlide>
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Lonavala.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">
                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Lonavala</h5>
                        <span  class="line_after_title"></span>
                    
                    
                </div>
            </div>
            </figure>
            
        </ng-template>  
       
        <ng-template carouselSlide>
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
            <img src="assets/mahabaleshwar.jpg" style="height: 330px;width: 100%;" class="card-img" alt="..img " alt="...">
            <div class="card-img-overlay">
        <div class="overlay">

                <h5 class="card-title fs-2" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Mahabaleshwar</h5>
                <span  class="line_after_title"></span>
            
            </div>
            </div>
        </div>
        </figure>
    </ng-template>  
        <ng-template carouselSlide>
            
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Mumbai.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">

                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Mumbai</h5>
                        <span  class="line_after_title"></span>
                    
                </div>
            </div>
            
        </figure>
        </ng-template>  
        <ng-template carouselSlide>
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
             <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Goa5.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">

                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Goa</h5>
                        <span  class="line_after_title"></span>
                    
                </div>
                </div>
                </figure>

        </ng-template>  
        <ng-template carouselSlide>
           
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Lonavala.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">

                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Lonavala</h5>
                        <span  class="line_after_title"></span>
                    
                </div>
            </div>
            </figure>

        </ng-template>  
        <ng-template carouselSlide>
            
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/mahabaleshwar.jpg" style="height: 330px;width: 100%;" class="card-img" alt="..img " alt="...">
                <div class="card-img-overlay">
            <div class="overlay">
                    <h5 class="card-title fs-2" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Mahabaleshwar</h5>
                    <span  class="line_after_title"></span>
                </div>
                
            </div>
            </div>
</figure>
        </ng-template>  
        </owl-carousel-o>
</div>
   
<div style="margin-top: 200px;" class="carousel2">
    <div class="mt-5 mb-3" style="text-align:left">
        <h3 class="title_primary fs-2" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span> Deals for International Packages</h3>
    </div>
    <owl-carousel-o id="deals_Section" style="padding-left: 75px;margin-top: -20px;margin-left: 90px;" [options]="customOptions">
        <ng-template carouselSlide> 
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
            <img src="assets/Deals/Bali.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
            <div class="card-img-overlay">
                    <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Bali</h5>
                
                
            </div>
        </div>
    </figure>
    </ng-template>  
            <ng-template carouselSlide>
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Deals/NewYork.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">
                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">New York</h5>
                        <span  class="line_after_title"></span>
                    
                    
                </div>
            </div>
            </figure>
            
        </ng-template>  
        <ng-template carouselSlide>
            
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div  style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Deals/Maldives.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Maldives</h5>
                    <span  class="line_after_title"></span>
                </div>
            </div>
            </figure>

        </ng-template>  
        <ng-template carouselSlide>
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
            <img src="assets/Deals/Switzerland.jpg" style="height: 330px;width: 100%;" class="card-img" alt="..img " alt="...">
            <div class="card-img-overlay">
        <div class="overlay">

                <h5 class="card-title fs-2" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Switzerland</h5>
                <span  class="line_after_title"></span>
            
            </div>
            </div>
        </div>
        </figure>
    </ng-template>  
        <ng-template carouselSlide>
            
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Deals/Bali.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">

                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Bali</h5>
                        <span  class="line_after_title"></span>
                    
                </div>
            </div>
            
        </figure>
        </ng-template>  
        <ng-template carouselSlide>
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
             <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Deals/NewYork.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">

                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">New York</h5>
                        <span  class="line_after_title"></span>
                    
                </div>
                </div>
                </figure>

        </ng-template>  
        <ng-template carouselSlide>
           
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Deals/Maldives.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">

                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Maldives</h5>
                        <span  class="line_after_title"></span>
                    
                </div>
            </div>
            </figure>

        </ng-template>  
        <ng-template carouselSlide>
            
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Deals/Switzerland.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">
                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Switzerland</h5>
                        <span  class="line_after_title"></span>
                </div>
            </div>
            </figure>

        </ng-template>  
        <ng-template carouselSlide>
            
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Deals/Bali.jpg" style="height: 330px;width: 100%;" class="card-img" alt="..img " alt="...">
                <div class="card-img-overlay">
            <div class="overlay">
                    <h5 class="card-title fs-2" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Bali</h5>
                    <span  class="line_after_title"></span>
                </div>
                
            </div>
            </div>
</figure>
        </ng-template>  
        </owl-carousel-o>
</div>
        

<div style="margin-top: 200px;height: 300px;" class="carousel2">
    <div class="mt-5 mb-3" style="text-align:left">
        <h3 class="title_primary fs-2" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Exotic Deals</h3>
    </div>

    <div class="row">
        <div class="col-md-6">
            <figure style="margin-left: 0;margin-top: 0;">
                <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                    <img src="assets/Deals/GrandHyatt.jpg" style="height: 370px;width: 100%;" class="card-img" alt="...">
                    <div class="card-img-overlay">
                         <div class="shortcode_title title-center title-decoration-bottom-center">
                                <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:285px;font-family: 'Satisfy', cursive;">Grand Hyatt Goa</p>
                                <h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold">GOA</h5>
                                <span style="margin-top:-75px;" class="line_after_title"></span>
                            </div></div>
                </div>
                </figure>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <figure style="margin-left: 0;margin-top: 0;">
                    <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                        <img src="assets/Deals/DestinyFarmstayOoty.jpg" style="height: 175px;width: 100%;" class="card-img" alt="...">
                        <div class="card-img-overlay">
                             <div class="shortcode_title title-center title-decoration-bottom-center">
                                    <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:90px;font-family: 'Satisfy', cursive;">Vilamendhoo Resort</p>
                                    <h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold">Maldives</h5>
                                    <span style="margin-top:-75px;" class="line_after_title"></span>
                                </div></div>
                    </div>
                    </figure>
                </div>
                <div class="col-md-6">
                                        <figure style="margin-left: 0;margin-top: 0;">
                                            <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                                                <img src="assets/Deals/DestinyFarmstayOoty.jpg" style="height: 175px;width: 100%;" class="card-img" alt="...">
                                                <div class="card-img-overlay">
                                                     <div class="shortcode_title title-center title-decoration-bottom-center">
                                                            <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:95px;font-family: 'Satisfy', cursive;">Destiny Farmstay </p>
                                                            <h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold">Ooty</h5>
                                                            <span style="margin-top:-75px;" class="line_after_title"></span>
                                                        </div></div>
                                            </div>
                                            </figure>
                                        
                </div>
                <div class="col-md-6">
                    <figure style="margin-left: 0;margin-top: 0;">
                        <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                            <img src="assets/Deals/DestinyFarmstayOoty.jpg" style="height: 175px;width: 100%;" class="card-img" alt="...">
                            <div class="card-img-overlay">
                                 <div class="shortcode_title title-center title-decoration-bottom-center">
                                        <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:95px;font-family: 'Satisfy', cursive;">Beleza By The Beach </p>
                                        <h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold">Goa</h5>
                                        <span style="margin-top:-75px;" class="line_after_title"></span>
                                    </div></div>
                        </div>
                        </figure>
                    
                </div>
                <div class="col-md-6">
                    <figure style="margin-left: 0;margin-top: 0;">
                        <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                            <img src="assets/Deals/DestinyFarmstayOoty.jpg" style="height: 175px;width: 100%;" class="card-img" alt="...">
                            <div class="card-img-overlay">
                                 <div class="shortcode_title title-center title-decoration-bottom-center">
                                        <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:95px;font-family: 'Satisfy', cursive;">Destiny Farmstay </p>
                                        <h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold">Ooty</h5>
                                        <span style="margin-top:-75px;" class="line_after_title"></span>
                                    </div></div>
                        </div>
                        </figure>
                    
                </div>
            </div>
        </div>
        
            
        </div>
    </div>        

    
<div style="margin-top: 200px;" class="carousel2">
    
    <div class="mt-5 mb-3" style="text-align:left">
        <h3 class="title_primary fs-2" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>At its Best</h3>
    </div>
    </div>
    <div style="padding-left: 50px;margin-bottom: 200px;" class="carousel2">
    <owl-carousel-o id="deals_best" style="padding-left: 975px;margin-top: -20px;margin-left: 90px;" [options]="customOptions">
        <ng-template  carouselSlide> 
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
                        <div style="margin-right: 30px;" class="item_border item-product">
                            <div class="post_images">
                                <a href="single-tour.html">
                                    <span class="price">$64.00</span>
                                    <img width="430" height="305" src="assets/tour/430x305/tour-3.jpg" alt="Discover Brazil" title="Discover Brazil">
                                </a>
                                <div class="group-icon">
                                    <a href="tours.html" data-toggle="tooltip" data-placement="top" title="" class="frist" data-original-title="Escorted Tour"><i class="flaticon-airplane-4"></i></a>
                                    <a href="tours.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="River Cruise"><i class="flaticon-transport-2"></i></a>
                                </div>
                            </div>
                            <div class="wrapper_content">
                                <div class="post_title"><h4>
                                    <a href="single-tour.html" rel="bookmark">Anchorage to Quito</a>
                                </h4></div>
                                <span class="post_date">5 DAYS 4 NIGHTS</span>
                                <div class="description">
                                    <p>Aliquam lacus nisl, viverra convallis sit amet&nbsp;penatibus nunc&nbsp;luctus</p>
                                </div>
                            </div>
                            <div class="read_more">
                                <div class="item_rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <a rel="nofollow" href="single-tour.html" style="margin-top: 100px;" class="">Read more</a>
                            </div>
                        </div>
    </figure>
    </ng-template>  
            <ng-template carouselSlide>
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
                        <div style="margin-right: 30px;" class="item_border item-product">
                            <div class="post_images">
                                <a href="single-tour.html">
                                    <span class="price">$434.00</span>
                                    <img width="430" height="305" src="assets/tour/430x305/tour-4.jpg" alt="Discover Brazil" title="Discover Brazil">
                                </a>
                                <div class="group-icon">
                                    <a href="tours.html" data-toggle="tooltip" data-placement="top" title="" class="frist" data-original-title="Escorted Tour"><i class="flaticon-airplane-4"></i></a>
                                    <a href="tours.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="River Cruise"><i class="flaticon-transport-2"></i></a>
                                </div>
                            </div>
                            <div class="wrapper_content">
                                <div class="post_title"><h4>
                                    <a href="single-tour.html" rel="bookmark">Anchorage to La Paz</a>
                                </h4></div>
                                <span class="post_date">5 DAYS 4 NIGHTS</span>
                                <div class="description">
                                    <p>Aliquam lacus nisl, viverra convallis sit amet&nbsp;penatibus nunc&nbsp;luctus</p>
                                </div>
                            </div>
                            <div class="read_more">
                                <div class="item_rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <a rel="nofollow" href="single-tour.html" style="margin-top: 100px;" class="">Read more</a>
                            </div>
                        </div>
            </figure>
            
        </ng-template>  
        <ng-template carouselSlide>
            
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
                        <div style="margin-right: 30px;" class="item_border item-product">
                            <div class="post_images">
                                <a href="single-tour.html">
                                    <span class="price">$345.00</span>
                                    <img width="430" height="305" src="assets/tour/430x305/tour-5.jpg" alt="Discover Brazil" title="Discover Brazil">
                                </a>
                                <div class="group-icon">
                                    <a href="tours.html" data-toggle="tooltip" data-placement="top" title="" class="frist" data-original-title="Escorted Tour"><i class="flaticon-airplane-4"></i></a>
                                    <a href="tours.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="River Cruise"><i class="flaticon-transport-2"></i></a>
                                </div>
                            </div>
                            <div class="wrapper_content">
                                <div class="post_title"><h4>
                                    <a href="single-tour.html" rel="bookmark">Cuzco to Anchorage</a>
                                </h4></div>
                                <span class="post_date">5 DAYS 4 NIGHTS</span>
                                <div class="description">
                                    <p>Aliquam lacus nisl, viverra convallis sit amet&nbsp;penatibus nunc&nbsp;luctus</p>
                                </div>
                            </div>
                            <div class="read_more">
                                <div class="item_rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <a rel="nofollow" href="single-tour.html" style="margin-top: 100px;" class="">Read more</a>
                            </div>
                        </div>
            </figure>

        </ng-template>  
        
        <ng-template carouselSlide>
            
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
                        <div style="margin-right: 30px;" class="item_border item-product">
                            <div class="post_images">
                                <a href="single-tour.html">
                                    <span class="price">$345.00</span>
                                    <img width="430" height="305" src="assets/tour/430x305/tour-5.jpg" alt="Discover Brazil" title="Discover Brazil">
                                </a>
                                <div class="group-icon">
                                    <a href="tours.html" data-toggle="tooltip" data-placement="top" title="" class="frist" data-original-title="Escorted Tour"><i class="flaticon-airplane-4"></i></a>
                                    <a href="tours.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="River Cruise"><i class="flaticon-transport-2"></i></a>
                                </div>
                            </div>
                            <div class="wrapper_content">
                                <div class="post_title"><h4>
                                    <a href="single-tour.html" rel="bookmark">Cuzco to Anchorage</a>
                                </h4></div>
                                <span class="post_date">5 DAYS 4 NIGHTS</span>
                                <div class="description">
                                    <p>Aliquam lacus nisl, viverra convallis sit amet&nbsp;penatibus nunc&nbsp;luctus</p>
                                </div>
                            </div>
                            <div class="read_more">
                                <div class="item_rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <a rel="nofollow" href="single-tour.html" style="margin-top: 100px;" class="">Read more</a>
                            </div>
                        </div>
            
        </figure>
        </ng-template>  
        <ng-template carouselSlide>
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
                        <div style="margin-right: 30px;" class="item_border item-product">
                            <div class="post_images">
                                <a href="single-tour.html">
                                    <span class="price">$78.00</span>
                                    <img width="430" height="305" src="assets/tour/430x305/tour-6.jpg" alt="Discover Brazil" title="Discover Brazil">
                                </a>
                                <div class="group-icon">
                                    <a href="tours.html" data-toggle="tooltip" data-placement="top" title="" class="frist" data-original-title="Escorted Tour"><i class="flaticon-airplane-4"></i></a>
                                    <a href="tours.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="River Cruise"><i class="flaticon-transport-2"></i></a>
                                </div>
                            </div>
                            <div class="wrapper_content">
                                <div class="post_title"><h4>
                                    <a href="single-tour.html" rel="bookmark">Anchorage to Ushuaia</a>
                                </h4></div>
                                <span class="post_date">5 DAYS 4 NIGHTS</span>
                                <div class="description">
                                    <p>Aliquam lacus nisl, viverra convallis sit amet&nbsp;penatibus nunc&nbsp;luctus</p>
                                </div>
                            </div>
                            <div class="read_more">
                                <div class="item_rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <a rel="nofollow" href="single-tour.html" style="margin-top: 100px;" class="">Read more</a>
                            </div>
                        </div>
                </figure>

        </ng-template>  
        <ng-template carouselSlide>
           
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
                        <div style="margin-right: 30px;" class="item_border item-product">
                            <div class="post_images">
                                <a href="single-tour.html">
                                    <span class="price">$104.00</span>
                                    <img width="430" height="305" src="assets/tour/430x305/tour-7.jpg" alt="Discover Brazil" title="Discover Brazil">
                                </a>
                                <div class="group-icon">
                                    <a href="tours.html" data-toggle="tooltip" data-placement="top" title="" class="frist" data-original-title="Escorted Tour"><i class="flaticon-airplane-4"></i></a>
                                    <a href="tours.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="River Cruise"><i class="flaticon-transport-2"></i></a>
                                </div>
                            </div>
                            <div class="wrapper_content">
                                <div class="post_title"><h4>
                                    <a href="single-tour.html" rel="bookmark">Anchorage to Santiago</a>
                                </h4></div>
                                <span class="post_date">5 DAYS 4 NIGHTS</span>
                                <div class="description">
                                    <p>Aliquam lacus nisl, viverra convallis sit amet&nbsp;penatibus nunc&nbsp;luctus</p>
                                </div>
                            </div>
                            <div class="read_more">
                                <div class="item_rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <a rel="nofollow" href="single-tour.html" style="margin-top: 100px;" class="">Read more</a>
                            </div>
                        </div>
            </figure>

        </ng-template>  
        <ng-template carouselSlide>
            
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
                        <div style="margin-right: 30px;" class="item_border item-product">
                            <div class="post_images">
                                <a href="single-tour.html">
                                    <span class="price">$99.00</span>
                                    <img width="430" height="305" src="assets/tour/430x305/tour-8.jpg" alt="Discover Brazil" title="Discover Brazil">
                                </a>
                                <div class="group-icon">
                                    <a href="tours.html" data-toggle="tooltip" data-placement="top" title="" class="frist" data-original-title="Escorted Tour"><i class="flaticon-airplane-4"></i></a>
                                    <a href="tours.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="River Cruise"><i class="flaticon-transport-2"></i></a>
                                </div>
                            </div>
                            <div class="wrapper_content">
                                <div class="post_title"><h4>
                                    <a href="single-tour.html" rel="bookmark">LA Explorer</a>
                                </h4></div>
                                <span class="post_date">5 DAYS 4 NIGHTS</span>
                                <div class="description">
                                    <p>Aliquam lacus nisl, viverra convallis sit amet&nbsp;penatibus nunc&nbsp;luctus</p>
                                </div>
                            </div>
                            <div class="read_more">
                                <div class="item_rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <a rel="nofollow" href="single-tour.html" style="margin-top: 100px;" class="">Read more</a>
                            </div>
                        </div>
            </figure>

        </ng-template>  
        </owl-carousel-o>


</div>


    </div>


