<div class="top_site_main" style="background-image:url(assets/banner/top-heading.jpg);background-size: cover;">
    <div style="padding-top:150px;padding-bottom:60px" class="banner-wrapper container article_heading">
    
        <h1 class="heading_primary fs-1">Deals</h1>
    </div>
</div>

<div class="container mt-5 mb-5">



    <div class="mt-5 mb-3" style="text-align:left">
        <h3 class="title_primary fs-2" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Deals For every Pocket</h3>
    </div>
    <!-- <div class="container"> -->
        <div class="row mb-5">
          <div class="col-sm-6">
            <div class="row">
                <div *ngFor="let i of everyPocketLeft" class="col-6 col-sm-6">
                    <figure style="margin-left: 0;margin-top: 0;">
                        <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                            <img src={{i.s3url}} style="height: 350px;width: 100%;" class="card-img" alt="...">
                            <div class="card-img-overlay">
                                <div style="transform: rotate(-10deg);" class="shortcode_title title-center title-decoration-bottom-center">
                                    <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:125px;font-family: 'Satisfy', cursive;">{{i.nameOnImage}}...</p>
                                    <h5 class="card-title fs-1" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold"><span>₹</span>{{i.priceOnImage}}K</h5>
                                    <span style="margin-top:-75px;" class="line_after_title"></span>
                                </div></div>
                        </div>
                    </figure>
                </div>
                <!-- <div class="col-6 col-sm-6">
                    <figure style="margin-left: 0;margin-top: 0;">
                    <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                        <img src="assets/Deals/deals5.jpg" style="height: 350px;width: 100%;" class="card-img" alt="...">
                        <div class="card-img-overlay">
                             <div style="transform: rotate(-10deg);" class="shortcode_title title-center title-decoration-bottom-center">
                                    <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:125px;font-family: 'Satisfy', cursive;">Deals Ranging...</p>
                                    <h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold"><span>₹</span>10K-<span>₹</span>20K</h5>
                                    <span style="margin-top:-75px;" class="line_after_title"></span>
                                </div></div>
                    </div>
                    </figure>
                </div>
                <div class="col-6 col-sm-6 mt-3">
                    <figure style="margin-left: 0;margin-top: 0;">
                    <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                        <img src="assets/Deals/deals3.jpg" style="height: 350px;width: 100%;" class="card-img" alt="...">
                        <div class="card-img-overlay">
                             <div style="transform: rotate(-10deg);" class="shortcode_title title-center title-decoration-bottom-center">
                                    <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:125px;font-family: 'Satisfy', cursive;">Deals Ranging...</p>
                                    <h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold"><span>₹</span>20K-<span>₹</span>30K</h5>
                                    <span style="margin-top:-75px;" class="line_after_title"></span>
                                </div></div>
                    </div>
                    </figure>
                </div>
                <div class="col-6 col-sm-6 mt-3">
                    <figure style="margin-left: 0;margin-top: 0;">
                    <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                        <img src="assets/Deals/deals4.jpg" style="height: 350px;width: 100%;" class="card-img" alt="...">
                        <div class="card-img-overlay">
                             <div style="transform: rotate(-10deg);" class="shortcode_title title-center title-decoration-bottom-center">
                                    <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:125px;font-family: 'Satisfy', cursive;">Deals Ranging...</p>
                                    <h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold"><span>₹</span>30K-<span>₹</span>50K</h5>
                                    <span style="margin-top:-75px;" class="line_after_title"></span>
                                </div></div>
                    </div>
                    </figure>
                </div>
              </div> -->
          </div>
          </div>
          <div *ngFor="let i of everyPocketRight" class="col-sm-6">
            <figure style="margin-left: 0;margin-top: 0;margin-bottom: 0;height: 732px;">
            <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                <img src={{i.s3url}} style="height: 818px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <div style="transform: rotate(-10deg);" class="shortcode_title title-center title-decoration-bottom-center">
                        <p class="card-title fs-2" style="text-align:center;margin-left: -40px;margin-top:290px;font-family: 'Satisfy', cursive;">{{i.nameOnImage}}...</p>
                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:7px;margin-left: -40px;margin-top:5%;font-family: 'Varela Round', sans-serif;"><span>₹</span>{{i.priceOnImage}}K</h5>
                        <span  class="line_after_title"></span>
                    </div>
                   
                </div>
            </div>
            </figure>
          </div>
        </div>
      <!-- </div> -->

      <div class="mt-5 mb-3" style="text-align:left">
        <h3 class="title_primary fs-2" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span> Deals for Domestic Packages</h3>
    </div>

<div class="carousel">
    <owl-carousel-o id="deals_Section" style="padding-left: 75px;margin-top: -20px;margin-left: 90px;" [options]="customOptions">
        <ng-template *ngFor="let i of Domestic" carouselSlide> 
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
            <img src={{i.s3url}} style="height: 330px;width: 100%;" class="card-img" alt="...">
            <div class="card-img-overlay">
                    <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">{{i.nameOnImage}}</h5>
                
                
            </div>
        </div>
    </figure>
    </ng-template>  
            <!-- <ng-template carouselSlide>
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Lonavala.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">
                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Lonavala</h5>
                        <span  class="line_after_title"></span>
                    
                    
                </div>
            </div>
            </figure>
            
        </ng-template>  
       
        <ng-template carouselSlide>
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
            <img src="assets/mahabaleshwar.jpg" style="height: 330px;width: 100%;" class="card-img" alt="..img " alt="...">
            <div class="card-img-overlay">
        <div class="overlay">

                <h5 class="card-title fs-2" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Mahabaleshwar</h5>
                <span  class="line_after_title"></span>
            
            </div>
            </div>
        </div>
        </figure>
    </ng-template>  
        <ng-template carouselSlide>
            
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Mumbai.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">

                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Mumbai</h5>
                        <span  class="line_after_title"></span>
                    
                </div>
            </div>
            
        </figure>
        </ng-template>  
        <ng-template carouselSlide>
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
             <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Goa5.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">

                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Goa</h5>
                        <span  class="line_after_title"></span>
                    
                </div>
                </div>
                </figure>

        </ng-template>  
        <ng-template carouselSlide>
           
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Lonavala.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">

                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Lonavala</h5>
                        <span  class="line_after_title"></span>
                    
                </div>
            </div>
            </figure>

        </ng-template>  
        <ng-template carouselSlide>
            
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/mahabaleshwar.jpg" style="height: 330px;width: 100%;" class="card-img" alt="..img " alt="...">
                <div class="card-img-overlay">
            <div class="overlay">
                    <h5 class="card-title fs-2" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Mahabaleshwar</h5>
                    <span  class="line_after_title"></span>
                </div>
                
            </div>
            </div>
</figure>
        </ng-template>   -->
        </owl-carousel-o>
</div>
   
<div style="margin-top: 200px;" class="carousel2">
    <div class="mt-5 mb-3" style="text-align:left">
        <h3 class="title_primary fs-2" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span> Deals for International Packages</h3>
    </div>
    <owl-carousel-o id="deals_Section" style="padding-left: 75px;margin-top: -20px;margin-left: 90px;" [options]="customOptions">
        <ng-template *ngFor="let i of International" carouselSlide> 
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
            <img src={{i.s3url}} style="height: 330px;width: 100%;" class="card-img" alt="...">
            <div class="card-img-overlay">
                    <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">{{i.nameOnImage}}</h5>
                
                
            </div>
        </div>
    </figure>
    </ng-template>  
            <!-- <ng-template carouselSlide>
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Deals/NewYork.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">
                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">New York</h5>
                        <span  class="line_after_title"></span>
                    
                    
                </div>
            </div>
            </figure>
            
        </ng-template>  
        <ng-template carouselSlide>
            
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div  style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Deals/Maldives.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Maldives</h5>
                    <span  class="line_after_title"></span>
                </div>
            </div>
            </figure>

        </ng-template>  
        <ng-template carouselSlide>
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
            <img src="assets/Deals/Switzerland.jpg" style="height: 330px;width: 100%;" class="card-img" alt="..img " alt="...">
            <div class="card-img-overlay">
        <div class="overlay">

                <h5 class="card-title fs-2" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Switzerland</h5>
                <span  class="line_after_title"></span>
            
            </div>
            </div>
        </div>
        </figure>
    </ng-template>  
        <ng-template carouselSlide>
            
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Deals/Bali.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">

                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Bali</h5>
                        <span  class="line_after_title"></span>
                    
                </div>
            </div>
            
        </figure>
        </ng-template>  
        <ng-template carouselSlide>
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
             <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Deals/NewYork.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">

                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">New York</h5>
                        <span  class="line_after_title"></span>
                    
                </div>
                </div>
                </figure>

        </ng-template>  
        <ng-template carouselSlide>
           
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Deals/Maldives.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">

                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Maldives</h5>
                        <span  class="line_after_title"></span>
                    
                </div>
            </div>
            </figure>

        </ng-template>  
        <ng-template carouselSlide>
            
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Deals/Switzerland.jpg" style="height: 330px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">
                        <h5 class="card-title fs-1" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Switzerland</h5>
                        <span  class="line_after_title"></span>
                </div>
            </div>
            </figure>

        </ng-template>  
        <ng-template carouselSlide>
            
                    <figure style="margin-left: 0;margin-top: 0;border-radius:0px">
            <div style="background:transparent;border:1px solid #fff;margin-right: 20px;" class="card deal_card1 text-white">
                <img src="assets/Deals/Bali.jpg" style="height: 330px;width: 100%;" class="card-img" alt="..img " alt="...">
                <div class="card-img-overlay">
            <div class="overlay">
                    <h5 class="card-title fs-2" style="text-align:center;letter-spacing:2px;margin-left: -0px;margin-top:120%;font-family: 'Varela Round', sans-serif;">Bali</h5>
                    <span  class="line_after_title"></span>
                </div>
                
            </div>
            </div>
</figure>
        </ng-template>   -->
        </owl-carousel-o>
</div>
        

<div style="margin-top: 200px;margin-bottom:500px;height: 300px;padding-bottom: 90px;" class="carousel2">
    <div class="mt-5 mb-3" style="text-align:left">
        <h3 class="title_primary fs-2" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Exotic Deals</h3>
    </div>

    <div class="row">
        <div *ngFor="let i of ExoticDeals" class="col-md-6">
            <figure style="margin-left: 0;margin-top: 0;">
                <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                    <img src={{i.s3url}} style="height: 300px;width: 100%;" class="card-img" alt="...">
                    <div class="card-img-overlay">
                         <div class="shortcode_title title-center title-decoration-bottom-center">
                                <p class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:185px;font-family: 'Satisfy', cursive;font-weight: bold;">{{i.nameOnImage}}</p>
                                <span style="margin-top:-75px;" class="line_after_title"></span>
                            </div></div>
                </div>
                </figure>
        </div>    
        </div>
    </div>        

    

    


    </div>


