.btn12{
    background:transparent ;
    text-align:center;
    border:2px solid #ffd200;
    width:160px;
    height:40px;
    margin-top: -300px;
    border-radius:0px;
    color: #ffd200;
}
.btn12:focus{
    outline: 0px solid #fff;
}
.btn12:hover{
  background: #ffd200;
  color: #fff
}

.product{
    transition: all 0.5s;
  }
  .product:hover{
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.2);
    transform: scale(1.03,1.03);
    transition: all 0.5s;
  }