<div class="site wrapper-content">
    <div class="top_site_main" style="background-image:url(assets/header.jpg);">
        <div class="banner-wrapper container article_heading">
            
            <h1 style="padding:30px;color:#fff;font-size: 30px;letter-spacing: 2px;">International Packages</h1></div>
    </div>
    <section class="content-area">
        <div class="container">
            <div class="row">
                <div class="site-main col-sm-12">
                    <div class="mb-3" style="text-align:left">
                        <h2 class="title_primary fs-2" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;margin-top: -530px;"><i class="fab fa-battle-net"></i></span>There are total {{i}} International Packages....</h2>
                    </div>
                    <hr>
                    <ul class="tours products wrapper-tours-slider">
                        <li *ngFor="let i of InternationalPackages" style="height:100%" class="item-tour col-md-4 col-sm-6">
                            <div class="item_border product item-product">
                                <div class="post_images">
                                    <a>
                                        <span class="price"><span style="padding-right: 5px;">₹</span>{{i.productRate}} /-</span>
                                        <img width="430" height="305" style="height: 200px;" src="assets/maldives.jpg" alt="Discover Brazil" title="Discover Brazil">
                                    </a>
                                    <div class="group-icon">
                                        <a href="tours.html" data-toggle="tooltip" data-placement="top" title="" class="frist" data-original-title="Escorted Tour"><i class="flaticon-airplane-4"></i></a>
                                        <a href="tours.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Rail Tour"><i class="flaticon-cart-1"></i></a>
                                    </div>
                                </div>
                                <div class="wrapper_content">
                                    <div style="padding: 10px;" class="post_title"><h4>
                                        <a href="single-tour.html" rel="bookmark">{{i.productName}}</a>
                                    </h4></div>
                                    <span style="padding: 10px;" class="post_date">{{i.duration}}</span>
                                    <div style="padding: 10px;" class="description">
                                        <p>{{i.description}}</p>
                                    </div>
                                    <div class="row">
                                        <div align="right" class="col-md-12">
                                            <form #list="ngForm" style="padding: 10px" (ngSubmit)="getData(list.value)">
                                                <input style="visibility:hidden;display: none" type="text" ngModel={{i.productCode}} name=code value={{i.productCode}} class="form-control">
                                                <button style="width: 100px;" type="submit" class="btn12">Read More</button>
                                        </form>
                                        </div>
                                    </div>
                                    
                                </div>
                                    
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>