<!-- <section> -->
    <!-- <div class="container">
        <div class="user signinBx">
            <div class="imgbox"><img src="assets/d1.jpg" alt=""></div>
            <div class="formBox">
                <form #user="ngForm" (ngSubmit)="authenticate(user.value)">
                    <h2>
                        SignIn
                    </h2>
                    <input type="text" name="userName" id="username" ngModel class="form-control" placeholder="Enter your username">
                    <input type="password" name="password" id="password" ngModel class="form-control" placeholder="Password here">
                    <input type="submit" name=""  ngModel class="form-control" value="Login">
                    <p class="signup">Don't Have an account?
                        <a onclick="toggleForm();" style="cursor:pointer">Signup.</a>
                    </p>
                </form>
            </div>
        </div>
        <div class="user signupBox">
            <div class="formBox">
                <form #submitForm="ngForm" (ngSubmit)="submitUser(submitForm.value)">
                    <h2>
                        Create an Account
                    </h2>
                    <input type="email" name="email" id="email" ngModel class="form-control" placeholder="Enter your Email">
                    <input type="password" name="password" id="pass" ngModel class="form-control" placeholder="Create your password">
                    <input type="password" name="confirmPassword" id="confirmpass" ngModel class="form-control" placeholder="Confirm your password">
                    <input type="text" name="firstName" id="fname" ngModel class="form-control" placeholder="Enter your firstName">
                    <input type="text" name="lastName" id="lname" ngModel class="form-control" placeholder="Enter your lastName">
                    <input type="text" name="contactNo" id="contact" ngModel class="form-control" placeholder="Enter your contactNo">
                    <input type="text" name="pincode" id="pincode" ngModel class="form-control" placeholder="Enter your pinCode">
                    <input type="submit" name="" onclick="toggleForm();"  ngModel class="form-control" value="Sign Up">
                    <p class="signup">Already have an account?
                        <a onclick="toggleForm();"  style="cursor:pointer" >Login. </a>
                    </p>
                </form>
            </div>
            <div class="imgbox"><img src="assets/d2.png" alt=""></div>
        </div>
    </div> -->


    <div class="container123">
      <!-- Modal -->
      <div class="popup center">
        <div class="icon">
          <i class="fa fa-check"></i>
        </div>
        <div class="title mb-3 mt-3">
          Registered!!!!
        </div>
        <div class="description">
          You have Regested your account successfully 
        </div>
        <div class="dismiss-btn">
          <button id="dismiss-popup-btn" (mouseenter)="closeModal()">
            close
          </button>
        </div>
      </div>
      <!-- Modal Ends -->



<!-- Modal -->
<div class="popup1 center">
  <div class="icon">
    <i class="far fa-frown"></i>
  </div>
  <div class="title mb-3 mt-3">
    OOPs!!!!
  </div>
  <div class="description">
    Something went wrong
  </div>
  <div class="dismiss-btn">
    <button id="dismiss-popup1-btn" (mouseenter)="closeModal1()">
      Retry
    </button>
  </div>
</div>
<!-- Modal Ends -->


      <div class="forms-container">
        <div class="signin-signup">
          <form class="sign-in-form" #user="ngForm" (ngSubmit)="authenticate(user.value)">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="userName" id="username" ngModel placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" id="password" ngModel placeholder="Password" />
            </div>
            <div align="left" >
              <a style="text-decoration:none;color: black" (click)="forgetPassword()"><small class="forget">forgot password?</small> </a>
            </div>
            <!-- <input type="button" (click)="forgetPassword()" value="forgot"/> -->
            <input type="submit" value="Login" class="btn solid" id="open-popup1-btn"/>
            <!-- <button type="button" >asdasd</button> -->
          
            <div class="social-media">
             
            
            </div>
          </form>
          <form style="padding-top: 20%;padding-bottom: 10%;" #submitForm="ngForm" (ngSubmit)="submitUser(submitForm.value)" class="sign-up-form">
            
            
            <h2 class="title">Sign up</h2>
         
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" name="email" id="email" ngModel placeholder="Email" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" id="pass" ngModel placeholder="Create Password" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="confirmPassword" id="confirmpass" ngModel placeholder="Confirm Password" />
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="firstName" id="fname" ngModel placeholder="Enter your First Name" />
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="lastName" id="lname" ngModel placeholder="Enter your Last Name" />
            </div>
            <div class="input-field">
              <i class="fas fa-phone-alt"></i>
              <input type="text"name="contactNo" id="contact" ngModel placeholder="Enter your Contact Number" />
            </div>
            <div class="input-field">
              <i class="fas fa-map-pin"></i>
              <input type="text" name="pincode" id="pincode" ngModel placeholder="Enter your pincode" />
            </div>
            <input type="submit" class="btn" value="Register" id="open-popup-btn" (mouseenter)="modal()"  />
            <div class="social-media">
              
            </div>
          </form>
        </div>
      </div>
  
      <div class="panels-container">
        <div class="panel left-panel">
          <div style="padding-right: 170px;" class="content">
            <p class="fs-5" style="padding-top: 30px;">Didn't have an account ?</p>
            <!-- <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
              ex ratione. Aliquid!
            </p> -->
            <button  style="margin-top: 100px;margin-left: -100px;" type="submit" class="btn12 transparent" id="sign-up-btn" (mouseenter)="toggle()">
              Register
            </button>
            
          </div>
          <img src="assets/img/img1.png" style="width: 500px;padding-right: 100px;margin-top: -90px;" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div style="padding-right: 190px;" class="content">
            <p class="fs-5" style="padding-top: 70px;">Already have an account?</p>
            <!-- <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              laboriosam ad deleniti.
            </p> -->
            <button style="margin-top: 190px;margin-left: -190px;" class="btn12" id="sign-up-btn1" (mouseenter)="toggle3()">
              Sign in
            </button>
            
          </div>
          <img src="assets/img/img2.png" style="width: 500px;" class="image" alt="" />
        </div>
      </div>
      
    </div>
<!-- </section> -->