<section class="content-area single-woo-tour">
  <!-- MODAL BEGINS  -->
  <div class="container123">
    <div class="popup center">
      <div class="icon">
        <i class="fa fa-check"></i>
      </div>
      <div class="title mb-3 mt-3">
        Registered!!!!
      </div>
      <div class="description">
        You have Regested your account successfully 
      </div>
      <div class="dismiss-btn">
        <button id="dismiss-popup-btn" (mouseenter)="closeModal()">
          close
        </button>
      </div>
    </div>
    <!-- Modal Ends -->
 

  
      <!-- Modal -->
<div class="popup1 center">
  <div class="icon">
    <i class="far fa-frown"></i>
  </div>
  <div class="title mb-3 mt-3">
    OOPs!!!!
  </div>
  <div class="description">
    Seems something went wrong . Please try again.
  </div>
  <div class="dismiss-btn">
    <button id="dismiss-popup1-btn" (mouseenter)="closeModal1()">
      close
    </button>
  </div>
</div>
<!-- Modal Ends -->  


<div style="padding-top: 150px;padding-bottom: 100px;" class="navbarTop body html">
    <div  *ngIf="role=='USER'" >
        <div style="padding-top: 150px;padding-bottom: 100px"class="container">
            <div class="row">
                <div align="center" class="col-md-12">
                    <img style="width: 300px;" src="assets/productList/Oops.jpg" alt="">

                </div>
            </div>
            <h1 style="text-align:center">Oops!!!....You do not have an access over this page</h1>
            
        </div>
    </div>
                
    <div style="margin-top: -80px;" *ngIf="role=='ADMIN'" class="site wrapper-content">
    <div class="wrapper">
      <div class="title">
Agent  Register</div>
    <form #agentForm="ngForm" (ngSubmit)="createAgent(agentForm.value);agentForm.reset()" class="row g-3 mt-5 mb-5">
        <div class="col-md-6">
          <label for="fname" class="form-label">First Name</label>
          <input style="font-size: 14px;" type="fname" name="first" ngModel class="form-control" id="fname" placeholder="Enter First Name">
        </div>
        <div class="col-md-6">
          <label for="lname" class="form-label">Last Name</label>
          <input style="font-size: 14px;" type="text" name="last" ngModel class="form-control" id="lname" placeholder="Last Name">
        </div>
        <div class="col-12">
          <label for="email" class="form-label">Email</label>
          <input style="font-size: 14px;" type="email" name="email" ngModel class="form-control" id="email" placeholder="Enter your email address">
        </div>
        <div class="col-12">
          <label for="contact" class="form-label">Contact Number</label>
          <input style="font-size: 14px;" type="text" name="contact" ngModel class="form-control" id="contact" placeholder="Enter your Contact Number ">
        </div>
        <div class="col-12">
            <label for="working" class="form-label">Working Area</label>
            <input style="font-size: 14px;" type="text" name="working" ngModel class="form-control" id="working" placeholder="Enter your working area ">
          </div>
        <div class="col-md-6">
          <label for="Password" class="form-label">Password</label>
          <input style="font-size: 14px;" type="password" ngModel name="Password" class="form-control" id="password" placeholder="Enter your Password">
        </div>
        <div class="col-md-6">
            <label for="Password" class="form-label">Confirm Password</label>
            <input style="font-size: 14px;" type="password" name="confirm" ngModel class="form-control" id="currentpassword" placeholder="Confirm your Password">
          </div>
          <div align="center" class="field mt-5">
            <input style="width: 250px;" type="submit" value="Register" id="open-popup-btn" >
          </div>
          <!-- <div *ngFor="let item of Agent;">
            <h4>{{item.id}}</h4>
          </div> -->
  
      </form>


</div>
</div>
</div>
  </div>
</section>
