
<div class="top_site_main" style="background-image:url(assets/banner/top-heading.jpg);background-size: cover;padding-top: 90px;padding-bottom: 50px;">
    <div class="banner-wrapper container article_heading">
  <h1 class="heading_primary">Upload Images</h1></div>
  </div>
  <div style="padding-top: 30px;padding-bottom:100px" class="container-fluid">
  
  
  <!-- Navs/Tabs -->
  
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#Add" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Add Images</button>
      <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#Del" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Delete Images</button>
    </div>
  </nav>
  
  
  
  <div class="tab-content" id="nav-tabContent">
    <div style="margin-top: 0px;" class="collapse active" id="Add" role="tabpanel" aria-labelledby="nav-homw-tab">
      <div class="card card-body">
       <form #submitForm=ngForm (ngSubmit)="UploadData(submitForm.value)">
          <div style="padding-left: 0px;" class="row">
            
             
              <div class="col-md-2">
                  <label for="" class="form-label">Name</label>
                  <input type="text" name="name" class="form-control" placeholder="Enter the name" ngModel>
                </div>
  
                <div class="col-md-2">
                  <label for="" class="form-label">Price</label>
                  <input type="text" class="form-control" name="price" placeholder="Enter the price" ngModel>
  
                  
              </div>
  
              <div class="col-md-2">
                  <label for="" class="form-label">Page Name</label>
                  <select class="form-select mt-3" name="page" style="height: 35px;font-size: 14px;" ngModel aria-label="SubDestination">
                    <option selected></option>
                    <option>landing-page</option>
                    <option>deals-page</option>
                    
                  </select>
                </div>

                <div class="col-md-2">
                  <label for="" class="form-label">Section</label>
                  <select class="form-select mt-3" name="section" style="height: 35px;font-size: 14px;" ngModel aria-label="SubDestination">
                    <option selected></option>
                    <option>Section 1</option>
                    <option>Section 2</option>
                    <option>Section 3</option>
                    <option>Section 4</option>
                    <option>Section 5</option>
                    
                  </select>
                </div>


                <div class="col-md-2">
                  <label for="" class="form-label">Subsection Name</label>
                  <select class="form-select mt-3" name="subsection" style="height: 35px;font-size: 14px;" ngModel aria-label="SubDestination">
                    <option selected></option>
                    <option>Sub-Section 1</option>
                    <option>Sub-Section 2</option>                    
                  </select>
                </div>


                <div class="col-md-2">
                  <label for="country" class="form-label">Upload Image</label>
                    <input type="file" style="height: 37.5px;width: 220px;" name="image" class="upload-box mb-3" ngModel (change)="onFileChange($event)" id="">
                </div>
                <div align="right" style="margin-left: -90px;" class="col-md-12">
          <input style="margin-top: 20px;" type="submit" value="Add" class="btn121">
                </div>
          
          </div>
        <div class="row" style="padding-top: 40px;" >
        </div>
      </form>
        
        <table style="padding-left: 80px;margin-top:20px;font-family: 'Noto Sans JP', sans-serif;" class="table">
            <thead >
               
                <th style="border-top: none;border-right: none;">
                  Name
                </th>
  
                <th style="border-top: none;border-right: none;">
                  Price
                </th>
  
                <th style="border-top: none;border-right: none;">
                  Bucket Name
                </th>      
                <th style="border-top: none;border-right: none;">
                  Image
                </th>        
              <th  style="border-top: none;border-right: none;">
                  Delete
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let i of uploadData;let j=index">
                <td style="border-top: none;border-right: none;">{{i.nameOnImage}}</td>
                <td style="border-top: none;border-right: none;">{{i.priceOnImage}}</td>
                  <td style="border-top: none;border-right: none;">{{i.pageName}}/{{i.section}}/{{i.subSection}}</td>
                  <td style="border-top: none;border-right: none;">{{i.fileName}}</td>
                  <td style="border-top: none;border-right: none;">
                    <button (click)="deleteData(j)" class="btn btn-outline-danger">-</button>
                  </td>
              </tr>
          </tbody>
        </table>
        <div class="row">
          <div align="center" class="col-md-12 mt-5">
            <div class="upload">
              <input style="width:150px;height: 45px;font-size: 16px; ;" type="button" (click)="UploadAllData()" value="Upload" class="btn121">
              </div>
          </div>
        </div>
        
      </div>
    </div>
    <div style="margin-top: 0px;" class="collapse" id="Del" role="tabpanel" aria-labelledby="nav-homw-tab">
      <div class="card card-body">
        <div class="container">
        <div class="row">
          <div class="col-md-8">
            <label for="" class="form-label">Bucket Name</label>
            <select class="form-select mt-3" name="bucketName" #bucket style="height: 35px;font-size: 14px;" ngModel aria-label="SubDestination">
              <option selected></option>
              <option>landing-page/trending-domestic-destinations</option>
              <option>landing-page/trending-international-destinations</option>
              <option>landing-page/explore-by-themes</option>
              <option>landing-page/popular/left</option>
              <option>landing-page/popular/right</option>
              <option>deals-page/deals-for-domestic-packages</option>
              <option>deals-page/deals-for-international-packages</option>
              <option>deals-page/deals-for-every-pocket/left</option>
              <option>deals-page/deals-for-every-pocket/right</option>
              <option>deals-page/exotic-deals</option>
            </select>
          </div>
          <div class="col-md-4">
          <input style="margin-top: 30px;" (click)="getBucketName(bucket.value)" type="submit" value="Get Images" class="btn121">
          </div>
  
          <div class="row mt-5">
            <!-- Delete Image from Below -->
            <div *ngFor="let i of ImageData;let j=index" class="col-md-4">
              <div class="col-md-12 mt-5">
                <div class="product content-list-tour">
                 
                  <div class="image">
                    <img src={{i.s3url}} style="width: 100%; height:360px" alt="">
                  </div>
                  <div class="delete">
                    <input style="display:none;visibility:hidden"type="text" ngModel={{i.s3url}} name="delete" #name >
                    <button class="btn btn-outline-danger" (click)="delete(j,name.value)" style="width: 50px;height:30px;">
                      Delete
                    </button>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
      </div>
    </div>
  </div>