::selection{
    color: #fff;
    background: #664AFF;
  }
  
  .wrapper{
    width: 650px;
  }
  
  .wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  }
  
  .search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  
  button{
      background-color: #fff;
      border: none;
      border-radius: 90px;
  }
  .search-input .icon button{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #ffd200;
    cursor: pointer;
    padding-right: 40px;
  }
  
  .search-input .icon button:hover{
      color: rgb(89, 214, 255);
  }  

  

  .btn12{
    background:transparent ;
    border:2px solid #ffd200;
    width:160px;
    height:40px;
    margin-top: 20px;
    border-radius:0px;
    color: #ffd200;
}
.btn12:focus{
    outline: 0px solid #fff;
}
.btn12:hover{
  background: #ffd200;
  color: #fff
}

.edit{
  background:transparent ;
  border:2px solid #e22200;
  width:160px;
  height:40px;
  margin-top: 20px;
  border-radius:0px;
  color: #e22200; 
}
.edit:hover{
  background:  #e22200;
  color: #fff
}

.product{
  padding: 10px;
  transition: all 0.5s;
}
.product:hover{
  box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.2);
  transform: scale(1.03,1.03);
  transition: all 0.5s;
}
.accordion-button{
  background: white;
  }
  
  .accordion-body{
      background: #fff;
  
  }
  .btn123{
padding: 5px;
margin-bottom: -10px;
    border:1px solid rgb(255, 90, 90);
    color: white;
    background-color:rgb(255, 90, 90);
    border-radius:0%;
  }
  .btn{
    margin: 20px;
    /* margin-bottom: 20px; */
    padding: 10px;
    font-size: 12px;
/* margin-bottom: -10px; */
    border:1px solid rgb(65, 125, 255);
    color: white;
    background-color:rgb(65, 125, 255);;
    border-radius:0%;
  }
  .btn1234{
    color: #ffd200;
  }
  .btn1234:hover{
    color: rgb(65, 125, 255);
  }
  .containerList{
    margin-left: 80px;
    
    margin-right: 80px;
  }
  .hotel{
    display: flex;
    margin-bottom: 10px;
  }
  .row1{
    display: flex;
  }
  .hotel i{
    color: rgb(0, 174, 255);
    font-size: 14px;
  }
  .tags{
    text-align: center;
    font-weight: bold;
    margin-left: -20px;
    margin-top: -10px;
    font-size:12px;
    padding: 5px;
    position: relative;
    width: 50%;
    background: linear-gradient(to right,#ffbd06,#ffd200);
    transition: all ease 0.6s;
}

.tags::before{
  content:'';
  height: 0;
  width: 0;
  padding-left: 2px;
  border-top:0px solid transparent;    
  border-bottom: 30px solid transparent;    
  right: -30px;
  /* transform:rotate(180deg); */
  position: absolute;
  top: 0;
  border-left: 50px solid #e22200;
  z-index: 999;
}

.tags::after{
  content:'';
  height: 0;
  width: 0;
  padding-left: 2px;
  border-top:30px solid transparent;    
  border-bottom: 0px solid transparent;    
  right: -30px;
  /* transform:rotate(180deg); */
  position: absolute;
  top: 0;
  border-left: 50px solid #ffd200;
  z-index: 999;
}
.services{
  display: flex;
}

.clone{
  background:transparent ;
  border:2px solid #664AFF;
  width:160px;
  height:40px;
  margin-top: 20px;
  border-radius:0px;
  color:blue; 
}
.clone:hover{
  background:  blue;
  color: #fff
}
