<div class="cont">
	<div style="padding-bottom:260px" class="wrapper-container">
		<div class="site wrapper-content">
			<div class="top_site_main" style="background-image:url(assets/header_search.jpg);background-size: cover;">
				<div class="banner-wrapper container article_heading">
				  
				  <h1 style="color: #fff;text-align: center;font-family: 'Noto Sans JP', sans-serif;font-size: 24px;font-weight: bold;letter-spacing: 2px;margin-top: 40px;">SEARCH YOUR TOUR</h1></div>
				  <div style="padding-left:0px;margin: 10px;" class="row">
					<form #searchForm="ngForm" (ngSubmit)="search(searchForm.value)">
					<div align="center" style="margin-top: -10px;margin-bottom: 50px;" class="col-md-12">
						<div class="wrapper">
						  <div class="search-input">
							<a href="" target="_blank" hidden></a>
							<input ngModel type="text" name=Package style="font-family: 'Noto Sans JP', sans-serif;" placeholder="Type to search....">
							<div>
							</div>
							<div class="icon">
									<button><i class="fas fa-search"></i></button>
							</div>
						  </div>
						</div>  
					  </div>
					</form>
				</div>
			  </div>
			<section class="content-area">
				<div class="containerList">
		
					<div class="row">
						<div class="col-md-3">
							<div  class="container">
								<div align="center" class="row">
									<div style="margin-top: -5px;" class="col-sm-6">
										<h3 class="mt-3 mb-3">Filter By</h3>   
									</div>
									<div class="col-sm-6">
										<button class="btn123">Clear Filter</button>   
									</div>
								</div>
									<!-- <div class="col-md-3 col-sm-6 col-xs-12 segment-three sm-mb-30 "  >
										<button type="submit" class="btn btn-primary">Clear Filter</button>
									  </div> -->
									  <form #filter="ngForm" (ngSubmit)="filters(filter.value)">
									  <div style="border: 1px solid lightgrey" class="accordion" id="accordionPanelsStayOpenExample">
										<div class="accordion-item">
										  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
											<p class="accordion-button fs-4" style="border: 0px solid white;color: black;" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
											  Filter Price
											</p>
										  </h2>
										  <div id="panelsStayOpen-collapseOne" style="border: 0px solid white;border-bottom: 1px solid lightgrey;"  class="accordion-collapse collapse show show" aria-labelledby="panelsStayOpen-headingOne">
												<div style="margin-top: -5px;padding-left: 10%;" class="accordion-body">
													<div class="form-check" style="padding-bottom: 10px;">
														<input class="form-check-input" ngModel name="below10000" type="checkbox" id="inlineCheckbox1" value="option1">
														<label class="form-check-label" for="inlineCheckbox1">Below ₹10000 </label>
													  </div>
													  <div class="form-check" style="padding-bottom: 10px;">
														<input class="form-check-input" name="from10000to20000" ngModel type="checkbox" id="inlineCheckbox2" value="option2">
														<label class="form-check-label" for="inlineCheckbox2">₹10000-20000</label>
													  </div>
													  <div class="form-check" style="padding-bottom: 10px;">
														<input class="form-check-input" name="from20000to40000" ngModel type="checkbox" id="inlineCheckbox3" value="option3" >
														<label class="form-check-label" for="inlineCheckbox3">₹20000-40000</label>
													  </div>

													  <div class="form-check" style="padding-bottom: 10px;">
														<input class="form-check-input" name="above40000" ngModel type="checkbox" id="inlineCheckbox3" value="option3" >
														<label class="form-check-label" for="inlineCheckbox3">Above 40000 </label>
													  </div>

														
												</div>
										  </div>
										</div>
										<div class="accordion-item">
										  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
											<a class="accordion-button collapsed fs-4" style="border: 0px solid white;color: black;" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
											  Tour Type
											</a>
										  </h2>
										  <div id="panelsStayOpen-collapseTwo"  style="border: 0px solid white;border-bottom: 1px solid lightgrey;" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
											<div class="accordion-body" style="margin-top: -5px;padding-left: 10%;">
													<div class="form-check" *ngFor='let i of packagetype' style="padding-bottom: 10px;">
														<input class="form-check-input" name="{{i.name}}" [(ngModel)]='i.isselected' type="checkbox" id="{{i.id}}" (change)="onchange()" value="option1">
														<label class="form-check-label" for="{{i.id}}">{{i.name}} </label>
													  </div>
													 
											</div>
										  </div>
										</div>
										<div class="accordion-item">
										  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
											<p class="accordion-button collapsed fs-4" style="border: 0px solid white;color: black;" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
											 Tour Category
											</p>
										  </h2>
										  <div id="panelsStayOpen-collapseThree" style="border: 0px solid white;border-bottom: 1px solid lightgrey;" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree">
											<div class="accordion-body" style="margin-top: -5px;padding-left: 10%;">
												<div class="form-check" *ngFor="let j of packageCategory" style="padding-bottom: 10px;">
													<input class="form-check-input" name="{{j.name}}" [(ngModel)]='j.isselected'  type="checkbox" id="{{j.name}}" (change)="onchange()" value="{{j.name}}">
													<label class="form-check-label" for="{{j.name}}">{{j.name}} </label>
												  </div>
											</div>
										  </div>
										</div>
										
										  <div class="accordion-item">
											<h2 class="accordion-header" id="panelsStayOpen-headingFive">
											  <p class="accordion-button collapsed fs-4" style="border: 0px solid white;color: black;" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
												Inclusions
											  </p>
											</h2>
											<div id="panelsStayOpen-collapseFive" style="border: 0px solid white;border-bottom: 1px solid lightgrey;" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingFive">
											  <div class="accordion-body" style="margin-top: -5px;padding-left: 10%;">
												<div class="form-check" *ngFor="let k of ServicesIncludes" style="padding-bottom: 10px;">
													<input class="form-check-input" name="{{k.name}}" [(ngModel)]='k.isselected'  type="checkbox" id="{{k.name}}" (change)="onchange()" value="{{k.name}}">
													<label class="form-check-label" for="{{k.name}}">{{k.name}} </label>
												  </div>
											</div>
											</div>
										  </div>

										  <div class="accordion-item">
											<h2 class="accordion-header" id="panelsStayOpen-headingSix">
											  <p class="accordion-button collapsed fs-4" style="border: 0px solid white;color: black;" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
												Tags
											  </p>
											</h2>
											<div id="panelsStayOpen-collapseFive" style="border: 0px solid white;border-bottom: 1px solid lightgrey;" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingSix">
											  <div class="accordion-body" style="margin-top: -5px;padding-left: 10%;">
												<div class="form-check" *ngFor="let m of recommend" style="padding-bottom: 10px;">
													<input class="form-check-input" name="{{m.name}}" [(ngModel)]='m.isselected'  type="checkbox" id="{{m.name}}" (change)="onchange()" value="{{m.name}}">
													<label class="form-check-label" for="{{m.name}}">{{m.name}} </label>
												  </div>
											</div>
											</div>
										  </div>
										  <button type="submit" class="btn">Apply Filter</button>
									  </div>
									</form>
								</div>
						</div>
						<div class="site-main col-md-9 alignright">
							<div class="mb-3" style="text-align:left">
								<h2 *ngIf="key!=0" class="title_primary fs-2" style="font-family: 'Noto Sans JP', sans-serif;font-weight: bold;"><span *ngIf="key!=0" style="margin-right: 10px;color: gold;margin-top: -530px;"><i class="fab fa-battle-net"></i></span>{{total}}</h2>
							</div>
							<ng-template #elseBlock>
								<div class="container">
									<div class="row">
										<div align="center" class="col-md-12">
											<img style="width: 300px;" src="assets/productList/Oops.jpg" alt="">
						
										</div>
									</div>
									<h1>Oops!!!....The package you are looking for seems to be unavailable </h1>
									
								</div>
							</ng-template>
							<ul  *ngIf="key!=0 else elseBlock" class="tours products wrapper-tours-slider">
								<li style="margin-top: -20px;height: 100%;" *ngFor="let i of products" class="item-list-tour col-md-12 ">
									<form #list="ngForm" (ngSubmit)="getData(list.value)">
										<input style="visibility:hidden;" type="text" ngModel={{i.productCode}} name=code value={{i.productCode}} class="form-control">
										<div  class="product content-list-tour">
										<div  class="post_images">
											<div style="height: 250px;" class="card text-white">
												<img src="https://morning-star-image-store.s3.ap-south-1.amazonaws.com/{{i.productCode}}/day_1.jpg" style="height: 250px;" class="card-img" alt="...">
												<div class="card-img-overlay">
												  <h5 *ngIf="i.tag" class="card-title tags">{{i.tag}}</h5>
												</div>
											  </div>
										
										</div>
										<div class="wrapper_content">
											<div class="content-left">
												<div style="margin-top: -50px;" class="post_title"><h4>
													<button type="submit" class="fs-3 btn1234" style="font-family: 'Noto Sans JP', sans-serif;font-weight: 500;margin-top: 20px;" rel="bookmark">{{i.productName}}</button>
													<span style="margin-left: 10px;" class="post_date">{{i.duration}}</span></h4></div>
												<div style="margin-top:-10px;margin-bottom: 15px;" class="subdestination">
													<div class="row1">
														<p style="font-size:12px;color: grey;margin-left: 10px;margin-top:5px;margin-bottom: 15px;" *ngFor="let subd of i.subDestinations">{{subd.subDestinationName}}</p>
													</div>
												</div>

													
														<p style="margin-top: 10px;"> Serivces Included:</p><br/>
														<div style="margin-top: -30px;" class="row1">
													 <div class="services" style="margin-top: 15px;" *ngFor="let j of i.servicesIncluded">
																<div *ngIf="j=='Hotel'">
																	<div class="hotel">
																		<i class="fas fa-hotel" style="margin-right: 10px; font-size: 20px;"></i><p style="margin-top:-5px ;padding-right: 10px;"> Hotel </p>
																	</div>
																</div>
																<div *ngIf="j=='Meal'">
																	<div class="hotel">
																		<i class="fas fa-utensils" style="margin-right: 10px;font-size: 20px;"></i><p style="margin-top:-5px ;padding-right: 10px;"> Meal</p>
																	</div>
																</div>
															
																<div *ngIf="j=='Sightseeing'">
																	<div class="hotel">
																		<i class="fas fa-umbrella-beach" style="margin-right: 10px;font-size: 20px;"></i> <p style="margin-top:-5px ;padding-right: 10px;">Sightseeing</p>
																	</div>
																</div>
															
																<div *ngIf="j=='Transfer'">
																	<div class="hotel">
																		<i class="fas fa-bus-alt" style="margin-right: 10px;font-size: 20px;"></i> <p style="margin-top:-5px ;padding-right: 10px;">Transfer</p> 
																	</div>
																</div>	
															
																<div *ngIf="j=='Visa'">
																	<div class="hotel">
																		<i class="fas fa-passport" style="margin-right: 10px;font-size: 20px;"></i> <p style="margin-top:-5px ;">Visa</p>
																	</div>
																</div>
															
													</div>
													</div>

													<!-- <div class="services" *ngIf="i.servicesIncluded=='Hotel,Meal,Sightseeing,Transfer'">
														Services includes: working
													</div> -->
													<!-- <div class="services" *ngIf="i.servicesIncluded=='Hotel,Meal,Sightseeing'">
														Services includes: working2
													</div> -->
												</div>
											<div style="margin-top: -20px;" class="content-right">
												<!-- <div class="item_rating">
													<div class="item_rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</div>
												</div> -->
												<p style="font-size: 10px;color:grey">Starting price per Adult</p>
												<span style="padding-top: 20px;margin-top:10px;font-family: 'Noto Sans JP', sans-serif;font-size: 18px;" class="price">RS.{{i.productRate}}/-</span>
													<input style="visibility:hidden;display:none;" type="text" ngModel={{i.productRate}} value="{{i.productRate}}" name=rate>
													<button style="width: 100px;" type="submit" class="btn12">Read More</button>
													<!-- <form  id="EditForm" #Edit="ngForm" (ngSubmit)="EditProduct(EditForm.value)">	</form>
													<form  id="CloneForm" #Clone="ngForm" (ngSubmit)="CloneProduct(CloneForm.value)"></form> -->


													<input style="visibility:hidden;display:none;" #productcode type="text" ngModel={{i.productCode}} name=product value={{i.productCode}} class="form-control">
													<input style="visibility:hidden;display:none;" #productedit type="text" ngModel=edit name=productedit value=edit class="form-control">
													<button *ngIf="authenticate.Role=='ADMIN' " (click)="EditProduct(productcode.value,productedit.value)" style="width: 100px;" type="button" class="edit">Edit</button>
													<input style="visibility:hidden;display:none;" #productclone type="text" ngModel=clone name=productClone value=clone class="form-control">
													<button *ngIf="authenticate.Role=='ADMIN'" (click)="CloneProduct(productcode.value,productclone.value)" style="width: 100px" class="clone" type="button">Clone</button>
													
													
													
													<!-- <form *ngIf="authenticate.Role=='ADMIN'"  #productcode="ngForm" (ngSubmit)="decide(productcode.value)" (click)="decide(productcode.value)">
													<input style="visibility:hidden;display:none;" #productcode type="text" ngModel={{i.productCode}} name=productcode value={{i.productCode}} class="form-control">
													<button  style="width: 100px" class="clone" type="button">decide</button>
													
													</form>
													 -->
											
											
										</div>
										</div>
									</div>
								</form>
								</li>
								
							</ul>
							<hr>
							<div style="margin-top: 20px;height: 300px;" class="carousel2">
								<div class="mt-5 mb-3" style="text-align:left">
									<h3 class="title_primary fs-2" style="font-family: 'Noto Sans JP', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Exotic offers for you!!</h3>
								</div>
							
								<div class="row">
									<div class="col-md-6">
										<figure style="margin-left: 0;margin-top: 0;">
											<div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
												<img src="assets/Deals/GrandHyatt.jpg" style="height: 370px;width: 100%;" class="card-img" alt="...">
												<div class="card-img-overlay">
													 <div class="shortcode_title title-center title-decoration-bottom-center">
															<p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:285px;font-family: 'Noto Sans JP', sans-serif;">Grand Hyatt Goa</p>
															<h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Noto Sans JP', sans-serif;font-weight:bold">GOA</h5>
															<span style="margin-top:-75px;" class="line_after_title"></span>
														</div></div>
											</div>
											</figure>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-6">
												<figure style="margin-left: 0;margin-top: 0;">
												<div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
													<img src="assets/Deals/DestinyFarmstayOoty.jpg" style="height: 175px;width: 100%;" class="card-img" alt="...">
													<div class="card-img-overlay">
														 <div class="shortcode_title title-center title-decoration-bottom-center">
																<p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:90px;font-family: 'Noto Sans JP', sans-serif;">Vilamendhoo Resort</p>
																<h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Noto Sans JP', sans-serif;font-weight:bold">Maldives</h5>
																<span style="margin-top:-75px;" class="line_after_title"></span>
															</div></div>
												</div>
												</figure>
											</div>
											<div class="col-md-6">
																	<figure style="margin-left: 0;margin-top: 0;">
																		<div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
																			<img src="assets/Deals/DestinyFarmstayOoty.jpg" style="height: 175px;width: 100%;" class="card-img" alt="...">
																			<div class="card-img-overlay">
																				 <div class="shortcode_title title-center title-decoration-bottom-center">
																						<p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:95px;font-family: 'Noto Sans JP', sans-serif;">Destiny Farmstay </p>
																						<h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Noto Sans JP', sans-serif;font-weight:bold">Ooty</h5>
																						<span style="margin-top:-75px;" class="line_after_title"></span>
																					</div></div>
																		</div>
																		</figure>
																	
											</div>
											<div class="col-md-6">
												<figure style="margin-left: 0;margin-top: 0;">
													<div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
														<img src="assets/Deals/DestinyFarmstayOoty.jpg" style="height: 175px;width: 100%;" class="card-img" alt="...">
														<div class="card-img-overlay">
															 <div class="shortcode_title title-center title-decoration-bottom-center">
																	<p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:95px;font-family: 'Noto Sans JP', sans-serif;">Beleza By The Beach </p>
																	<h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Noto Sans JP', sans-serif;font-weight:bold">Goa</h5>
																	<span style="margin-top:-75px;" class="line_after_title"></span>
																</div></div>
													</div>
													</figure>
												
											</div>
											<div class="col-md-6">
												<figure style="margin-left: 0;margin-top: 0;">
													<div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
														<img src="assets/Deals/DestinyFarmstayOoty.jpg" style="height: 175px;width: 100%;" class="card-img" alt="...">
														<div class="card-img-overlay">
															 <div class="shortcode_title title-center title-decoration-bottom-center">
																	<p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:95px;font-family: 'Noto Sans JP', sans-serif;">Destiny Farmstay </p>
																	<h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Noto Sans JP', sans-serif;font-weight:bold">Ooty</h5>
																	<span style="margin-top:-75px;" class="line_after_title"></span>
																</div></div>
													</div>
													</figure>
												
											</div>
										</div>
									</div>
									
										
									</div>
								</div>        
							
							
						</div>					
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
