<div class="top_site_main" style="background-image:url(assets/banner/top-heading.jpg);background-size: cover;padding-top: 90px;padding-bottom: 50px;">
    <div class="banner-wrapper container article_heading">
<h1 class="heading_primary">Upload Product</h1></div>
</div>
<div style="padding-top: 30px;padding-bottom: 50px;" class="container">

    <div class="mt-5 mb-3" style="text-align:left">
        <h1 class="title_primary fs-2" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Create Product</h1>
    </div>
    <form [formGroup]="Product" (ngSubmit)="Submit()" class="form mb-5 mt-3" action="">
        <div class="row">
            <div class="col-md-4">
                <label for="ProductName" class="form-label">Product Name</label>
                <input type="text" class="form-control" formControlName="name"  placeholder="Enter Product Name" required>
            </div>
            <div class="col-md-4">
                <label for="ProductName" class="form-label">Duration</label>
                <input type="text" class="form-control" formControlName="duration"  placeholder="Enter Duration">
            </div>
            <div class="col-md-4">
                <label for="ProductName" class="form-label">Product Category</label>
                <input type="text" class="form-control" formControlName="category"  placeholder="Enter Product Category">
            </div>
        </div>

        <div class="mt-5 row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6">
                        <label for="Destination" class="form-label">Destination</label>
                            <input type="text" class="form-control" formControlName="destination"  placeholder="Enter Destination">
                    </div>
                  
                    <div class="mt-3 col-md-8">
                        <label for="SubDestination" class="form-label">Sub Destination</label>
                            <input style="margin-bottom: 15px;" formControlName="subdestination" #subdestination type="text" class="form-control"  placeholder="Enter Sub Destination" required>
                    </div>
                    <div style="margin-top:20px;" class="col-md-4">
                        <button style="width: 60px;" type="button" (click)="getsubd(subdestination.value)" class="btn12">+</button>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="mb-3">
                    <label for="Description" class="form-label">Description</label>
                    <textarea class="form-control" formControlName="Description" id="Description" rows="4"></textarea>
                  </div>
            </div>
            <!-- <div align="right" class="col-md-12">
                <button type="submit" class="btn121">Submit</button>
            </div> -->
        </div>
        <table style="border: none" class="table mb-5">
            <thead>
                <th style="border-top: none;border-right: none;">Sub Destination</th>
                <th style="border-left: none;border-top: none;border-right: none;">Delete</th>
            </thead>
            <tbody>
                <tr style="border: none;" *ngFor="let t of subdestinations;let i=index">
                    <td style="border-top: none;border-right: none;">{{t.name}}</td>
                    <td style="border-top: none;border-right: none;"><button (click)="deleteSubdestination(i)" class="btn btn-outline-danger">-</button></td>
                </tr>
            </tbody>
        </table>
    <hr class="mt-3 mb-3">

    <!-- Subdestination -->
    <div class="mt-5 mb-3" style="text-align:left">
        <h1 class="title_primary fs-2" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Sub Destination</h1>
    </div>

    <div class="row mb-5 mt-3">
        <div class="col-md-3">
            <label class="form-label">Product Type</label>
            <select class="form-select" style="height: 35px;font-size: 14px;" #productType formControlName="type" aria-label="Default select example">
                <option selected></option>
                <option>Standard</option>
                <option>Delux</option>
                <option>Luxury</option>
              </select>
        </div>
        <div class="col-md-4">
            <label class="form-label">Sub Destination</label>
            <select class="form-select" style="height: 35px;font-size: 14px;" formControlName="subd" #Subdestination aria-label="SubDestination">
                <option selected></option>
                <option *ngFor="let i of subdestinationOptions">{{i.name}}</option>
                <!-- <option>Sydney</option>
                <option>Adelaide</option> -->
              </select>
        </div>
        <div class="col-md-3">
            <label class="form-label">Hotels</label>
            <input type="text" class="form-control" formControlName="hotel" #hotel placeholder="Enter the Hotel">
        </div>
        <div style="margin-top:27px" class="col-md-2">
            <button class="btn121" type="button" (click)="showSubdestination(productType.value,Subdestination.value,hotel.value)">Add</button>
        </div>
    </div>
   <table class="table">
    <thead>
        <th style="border-top: none;border-right: none;">Product Type</th>
        <th style="border-top: none;border-right: none;">Sub Destination</th>
        <th style="border-top: none;border-right: none;">Hotels</th>
        <th style="border-top: none;border-right: none;">Delete</th>
    </thead>   
<tbody>
    <tr *ngFor="let j of productSubDestination;let i=index">
        <td style="border-top: none;border-right: none;">
            {{j.productType}}
        </td>
        <td style="border-top: none;border-right: none;">{{j.subDestinationName}} </td>
        <td style="border-top: none;border-right: none;">{{j.hotelName}} </td>
        <td style="border-top: none;border-right: none;"><button (click)="deleteSubdest(i)" class="btn btn-outline-danger">-</button></td>
    </tr>
</tbody>   
   </table>
    

   <!-- Product Price -->
<hr class="mt-3 mb-5">
    <div class="mt-5 mb-3" style="text-align:left">
        <h1 class="title_primary fs-2" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Product Price</h1>
    </div>
    <div class="row mb-3 mt-3">
        <div class="col-md-3">
            <label class="form-label">Product Type</label>
            <select #proType class="form-select" style="height: 35px;font-size: 14px;" formControlName="ProductType" aria-label="Default select example">
                <option selected></option>
                <option >Standard</option>
                <option >Delux</option>
                <option >Luxury</option>
              </select>
        </div>
        <div class="col-md-3">
            <label class="form-label">Adult</label>
            <input type="text" #Adult formControlName="adult" class="form-control" placeholder="Enter the Amount">
        </div>
        <div class="col-md-3">
            <label class="form-label">Child</label>
            <input type="text" #Child formControlName="child" class="form-control" placeholder="Enter the Amount">
        </div>
        <div class="col-md-3">
            <label class="form-label">Infant</label>
            <input type="text" #Infant formControlName="infant" class="form-control" placeholder="Enter the Amount">
        </div>
        <div align="right" class="col-md-12 mt-3">
            <button type="button" (click)="ShowData(proType.value,Adult.value,Child.value,Infant.value)" class="btn121"> Add</button>
        </div>
        </div>

        <table class="table">
            <thead>
                <th style="border-top: none;border-right: none;">
                    Product Type
                </th>
                <th style="border-top: none;border-right: none;">Adult</th>
                <th style="border-top: none;border-right: none;">Child</th>
                <th style="border-top: none;border-right: none;">Infant</th>
                <th style="border-top: none;border-right: none;">Delete</th>
            </thead>
            <tbody>
                <tr *ngFor="let j of productPrice;let i = index">
                    <td style="border-top: none;border-right: none;">{{j.productType}} </td>
                    <td style="border-top: none;border-right: none;">{{j.adultPrice}} </td>
                    <td style="border-top: none;border-right: none;">{{j.childrenPrice}} </td>
                    <td style="border-top: none;border-right: none;">{{j.infantPrice}} </td>
                    <td style="border-top: none;border-right: none;"><button (click)="deletePrice(i)" class="btn btn-outline-danger">-</button></td>
                </tr>
            </tbody>
        </table>



        <hr class="mt-3 mb-5">
        <!-- Product Inclusion -->
    <div class="mt-5 mb-3" style="text-align:left">
        <h1 class="title_primary fs-2" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Product Inclusion</h1>
    </div>
    <div class="row mb-5">
        <label for="inputEmail3" class="col-sm-2 col-form-label mt-3">Product Inclusion</label>
    <div class="col-sm-8">
        <textarea class="form-control" formControlName="inclusion" #inclusion id="exampleFormControlTextarea1" rows="2"></textarea>
    </div>
    <div class="col-sm-2">
        <button type="button" (click)="ShowInclusion(inclusion.value)" class="btn121"> Add</button>
    </div>
    </div>
    <table style="border: none" class="table mb-5">
        <thead>
            <th style="border-top: none;border-right: none;">Product Inclusion</th>
            <th style="border-left: none;border-top: none;border-right: none;">Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let t of productInclusion;let i=index">
                <td style="border-top: none;border-right: none;">{{t.inclusionText}}</td>
                <td style="border-top: none;border-right: none;"><button (click)="deleteInclusion(i)" class="btn btn-outline-danger">-</button></td>
            </tr>
        </tbody>
    </table>




    <hr class="mt-3 mb-5">
    <!-- Product Exclusion -->
    <div class="mt-5 mb-3" style="text-align:left">
        <h1 class="title_primary fs-2" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Product Exclusion</h1>
    </div>
    <div class="row">
        <label for="inputEmail3" class="col-sm-2 col-form-label mt-3">Product Exclusion</label>
    <div class="col-sm-8">
        <textarea class="form-control" formControlName="exclusion" #exclusion id="exampleFormControlTextarea1" rows="2"></textarea>
    </div>
    <div class="col-sm-2">
        <button type="button" (click)="ShowExclusion(exclusion.value)" class="btn121"> Add</button>
    </div>
    </div>

    <table style="border: none" class="table mb-5">
        <thead>
            <th style="border-top: none;border-right: none;">Product Exclusion</th>
            <th style="border-left: none;border-top: none;border-right: none;">Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let t of productExclusion;let i=index">
                <td style="border-top: none;border-right: none;">{{t.exclusionText}}</td>
                <td style="border-top: none;border-right: none;"><button (click)="deleteExclusion(i)" class="btn btn-outline-danger">-</button></td>
            </tr>
        </tbody>
    </table>

    <hr class="mt-5 mb-5">
    <!-- Product Days -->
    <div class="mt-5 mb-3" style="text-align:left">
        <h1 class="title_primary fs-2" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Product Days</h1>
    </div>

    <div class="row mt-3">
        <div class="col-md-4">
            <label class="form-label">Product Days</label>
            <input type="text" formControlName="days" #Day class="form-control" placeholder="Enter Day">
        </div>
        <div class="col-md-7">
            <label class="form-label">Day Description</label>
        <textarea class="form-control" formControlName="description" #Description id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>
        <div style="margin-top:27px" class="col-md-1">
            <button type="button" (click)="ShowDay(Day.value,Description.value)" class="btn121">Add</button>
        </div>
    </div>
    <table style="border: none" class="table mb-5">
        <thead> 
            <th style="border-top: none;border-right: none;">Product Days</th>
            <th style="border-top: none;border-right: none;">Day Description</th>
            <th style="border-left: none;border-top: none;border-right: none;">Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let t of productDays;let i=index">
                <td style="border-top: none;border-right: none;">{{t.day}}</td>
                <td style="border-top: none;border-right: none;">{{t.dayDescription}}</td>
                <td style="border-top: none;border-right: none;"><button (click)="deleteDays(i)" class="btn btn-outline-danger">-</button></td>
            </tr>
        </tbody>
    </table>
        <hr class="mt-5 mb-5">
    <div class="mt-5 mb-5" style="text-align:left">
        <h1 class="title_primary fs-2" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Add Images</h1>
    </div>
        <div class="container row">
          <div class="col-md-6">
            <!-- <img [src]="urllink" alt=""> -->
            <input type="file" style="height: 44px;" name="image" class="upload-box mb-3" ngModel (change)="onFileChange($event)" id="">
          </div>
        </div>
      <table style="border: none" class="table mb-5">
        <thead>
            <th style="border-top: none;border-right: none;">Images</th>
            <th style="border-left: none;border-top: none;border-right: none;">Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let j of images;let i=index">
                <td style="border-top: none;border-right: none;">{{j.name}}</td>
                <td style="border-top: none;border-right: none;"><button (click)="deleteTodo(i)" class="btn btn-outline-danger">-</button></td>
            </tr>
        </tbody>
    </table>
<div class="row">
    <div align="center" class="col-md-12">
        <button style="width: 100px;" class="btn12">Submit</button>
    </div>
</div>


</form>

</div>