.btn12{
    background:transparent ;
    border:2px solid #ffd200;
    width:150px;
    height:40px;
    margin-top: 20px;
    border-radius:30px;
    color: #ffd200;
}
.btn121{
    background:#ffd200 ;
    border:2px solid #ffd200;
    width:100px;
    height:40px;
    margin-top: 0px;
    border-radius:0px;
    color: #fff;
}
.btn12:focus{
    outline: 0px solid #ffd200;
}
.btn12:hover{
  background: #ffd200;
  color: #fff
}