<!-- <app-customization></app-customization> -->
<app-header>
</app-header>
<router-outlet></router-outlet> 
<app-footer>
</app-footer>
<!-- <app-search-customization></app-search-customization> -->
<!-- <app-inquiry></app-inquiry> -->
<!-- <app-user-registration></app-user-registration> -->
<!-- <app-package-details></app-package-details> -->
<!-- <app-package-list></app-package-list> -->
<!-- <app-home-page></app-home-page> -->

<!-- <app-deals></app-deals> -->
<!-- <app-package></app-package> -->

<!-- <app-add-product></app-add-product> -->
<!-- <app-site-images></app-site-images> -->
<!-- <app-product-details></app-product-details> -->