<h1>{{title}}</h1>
<div class="container-fluid">
  <p style="margin-left: 15px;" class="fs-2 mb-5 mt-5">
    <span style="color: rgb(10, 190, 250);"><i class="fas fa-th-list"></i></span> Package Details
  </p>
  <div style="margin-left: 10px;" class="container row">
    <div class="col-md-12 mb-1">
      <p class="fs-4">
        User Inormation
      </p>
    </div>
    <div class="mb-3 row">
      <label for="staticEmail" style="margin-left: 0px;margin-top: -3px;" class="col-md-2 col-form-label">Find
        User</label>
      <div class="col-sm-4 mb-5">
        <input type="text" style="margin-left: -100px;width: 180px;font-size: 12px" #contact_number class="form-control"
          id="staticEmail" placeholder="Enter your contact Number">
      </div>
      <button style="width: 80px;height:30px;font-size: 13px;margin-left: -20%;"
        (click)="getUserData2(contact_number.value)" class="col-sm-2 btn btn-outline-primary">
        Find
      </button>
      <table id="t1" style="margin-left: 7%;" class="table container">
        <thead>
          <th>
            First Name
          </th>
          <th>
            Last Name
          </th>
          <th>
            Contact Number
          </th>
          <th>
            E-mail
          </th>
          <th>
            PIN
          </th>
        </thead>
        <tbody>
          <tr>
            <td>{{userdata.firstName}}</td>
            <td>{{userdata.lastName}}</td>
            <td>{{userdata.contactNo}} </td>
            <td>{{userdata.email}} </td>
            <td>{{userdata.pinCode}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container-fluid mt-3">
    <form #dayForm="ngForm" (ngSubmit)="addData(dayForm.value)">
      <div class="row">
        <div class="col-md-2">
          <label for="destination" class="form-label">Destination</label>
          <select name="destination" class="form-select" [(ngModel)]="optionSelectedDestinations" id="destination"
            #destination (ngModelChange)="getSubDestinations($event)" required>
            <option></option>
            <option *ngFor="let des of destinations" [ngValue]=des>
              {{des.name}}
            </option>
          </select>
        </div>

        <!--SUB-->
        <div class="col-md-2">
          <label for="subDestination" class="form-label">Sub Destination</label>
          <select name="subDestination" class="form-select" [(ngModel)]="optionSelectedSubDestinations"
            id="subDestination" #subDestination (ngModelChange)="getStayAndSights($event)" required>
            <option></option>
            <option *ngFor="let des of subDestinations" [ngValue]=des>
              {{des.name}}
            </option>
          </select>
        </div>

        <!--Stay-->
        <div class="col-md-1">
          <label for="stay" class="form-label">Stay</label>
          <select name="stay" class="form-select" [(ngModel)]="optionSelectedStays" id="stay" #destination
            (ngModelChange)="getMeals($event)" required>
            <option></option>
            <option *ngFor="let des of stays" [ngValue]=des>
              {{des.name}}
            </option>
          </select>
        </div>

        <!--Meals-->
        <div class="col-md-1">
          <label for="meals" class="form-label">Meals</label>
          <select name="meals" class="form-select" [(ngModel)]="optionSelectedMealOptions" id="meals" #meals required>
            <option></option>
            <option *ngFor="let des of mealOptions" [ngValue]=des>
              {{des.name}}
            </option>
          </select>
        </div>
    <!-- CheckIn -->
            <div class="col-md-2">
              <label for="CheckIn" class="form-label">CheckIn</label>
              <input name="checkIn" [(ngModel)]="checkInDate" id="checkIn" type="date" class="form-control">
            </div>
    <!-- CheckIn -->
          <div class="col-md-2">
            <label for="CheckOut" class="form-label">CheckOut</label>
            <input name="checkOut" type="date" id="CheckOut" [(ngModel)]="checkOutDate" class="form-control">
          </div>



<!--SightSeeing-->
        <div class="col-md-1">
          <label for="sightSeeing" class="form-label">SightSeeing</label>
          <select name="sightSeeing" class="form-select" [(ngModel)]="optionSelectedSights" id="sightSeeing"
            #sightSeeing required>
            <option></option>
            <option *ngFor="let des of sights" [ngValue]=des>
              {{des.name}}
            </option>
          </select>
        </div>

        <div class="col-md-1">
          <button style="margin: 30px;" type="submit" class="btn btn-outline-primary">+</button>
        </div>
      </div>
    </form>

    <table id="t2" class="table mt-5 mb-5">
      <thead>
        <tr>
          <!-- <th scope="col">Day</th> -->
          <th scope="col">Destination</th>
          <th scope="col">Sub-Destination</th>
          <th scope="col">Stay</th>
          <th scope="col">CheckIn</th>
         <th scope="col">CheckOut</th>
          <th scope="col">Meal</th>
          <th scope="col">Site Seeing</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of dailyItinerary;let i=index">
          <!-- <td>{{t.content}}</td> -->
          <td>{{t.destination}}</td>
          <td>{{t.subDestination}}</td>
          <td>{{t.stay}}</td>
          <td>{{t.checkIn}} </td>
          <td>{{t.checkOut}} </td> 
          <td>{{t.meal}}</td>
          <td>{{t.sightSeeing}}</td>
          <td> <button (click)="deleteTodo(i)" class="btn btn-outline-danger">-</button></td>
        </tr>
      </tbody>
    </table>
    <form #submitForm="ngForm" (ngSubmit)="submitAndGeneratePDF(submitForm.value)">
      <div class="container">
        <div style="margin-left: 13%;margin-top: 5%;" class="row">
          <div class="col-md-2">
            <div style="margin-top: 35px;" class="form-check">
              <input class="form-check-input" type="checkbox" ngModel name="airTicket" id="airTicket">
              <label class="form-check-label" for="airTicket">
                Air Tickets
              </label>
            </div>
          </div>
          <div class="col-md-2">
            <div style="margin-top: 35px;" class="form-check">
              <input class="form-check-input" type="checkbox" ngModel name="visa">
              <label class="form-check-label" for="visa">
                Visa
              </label>
            </div>
          </div>
          <div class="col-md-2">
            <label for="price" class="form-label">Price</label>
            <input type="text" ngModel class="form-control" name="price" placeholder="Enter the price">
          </div>
          <div class="col-md-4">
            <button type="submit" style="margin-left: 30px;margin-top: 30px;"
              class="btn btn-outline-primary">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>