<h1>{{appName}}</h1>
<h2>{{getelement(0)}}</h2>
<app-landing-page></app-landing-page>
<app-customization></app-customization>

<input type="text" disabled={{disabled}} value={{appName}}>
<input type="text" [disabled]="disabled" [value]="appName">
<input type="text" #name>
<button (click)="alertName(name.value)">Click for name</button>


<ng-template [ngIf]="color=='red'">
  <h1>Red Color</h1>
</ng-template>

<ng-template [ngIf]="color=='green'">
  <h1>Green Color</h1>
</ng-template>

<ng-template [ngIf]="color=='blue'">
  <h1>Blue Color</h1>
</ng-template>

<div [ngSwitch]="color">
  <h1 style="color: red;" *ngSwitchCase="'red'">Color</h1>
  <h1 style="color: green;" *ngSwitchCase="'green'">Color</h1>
  <h1 style="color: yellow;" *ngSwitchCase="'yellow'">Color</h1>
  <h1 style="color: gray;" *ngSwitchDefault>Color</h1>
</div>

<!-- <div>
  <select #dropDown (change)="printSelected(dropDown.value)">
    <option *ngFor="let day of dailyIternary" value={{day.key}}>
      {{day.name}}
    </option>
  </select>
</div> -->

<form #customForm="ngForm" (ngSubmit)="getFormValues(customForm.value)">  
  <input type="text" ngModel name="textName">
  <input type="date" ngModel name="selectedDate">
  <input type="text" ngModel name="selectedDest" value={{destination}}>

    <select #dropDown [(ngModel)]="optionSelected" (ngModelChange)="printSelected($event)" required name="dest">
    <option *ngFor="let day of dropDownOptions" [ngValue]="day">
      {{day.value}}
    </option>
  </select>
  <button>Get Values</button>
</form>

<div>
  <table>
    <tr>
      <td>Name</td>
      <td>Date</td>
    </tr>
    <tr *ngFor="let obj of dailyIternary">
      <td>{{obj.nameVal}}</td>
      <td>{{obj.selectedDate}}</td>
    </tr>
  </table>

</div>
