<div class="container">
  <form #image="ngForm" (ngSubmit)="getImg(image.value)">
    <div class="row">
    <div class="col-md-12">
      <h1>Upload Image</h1>
    </div>
  </div>
  <div class="container row">
    <div class="col-md-6">
      <img [src]="urllink" alt="">
      <input type="file" name="image" ngModel (change)="onFileChange($event)" id="">
    </div>
    <div class="col-md-6">
      <input type="submit" (click)="onUpload()" value="Upload" class="btn btn-outline-danger">
    </div>
  </div>
</form>
</div>
