<div class="wrapper1">
    <div class="step-row">
      <div id="progress"></div>
      <div style="visibility: hidden;" class="step-col"><small>step1</small></div>
      <div style="visibility: hidden;" class="step-col"><small>step2</small></div>
      <div style="visibility: hidden;" class="step-col"><small>step3</small></div>
      <div style="visibility: hidden;" class="step-col"><small>step3</small></div>
      <div style="visibility: hidden;" class="step-col"><small>step3</small></div>
      <div style="visibility: hidden;" class="step-col"><small>step3</small></div>
  </div>
  
    <div style="padding-top: 5px;" class="containerMonth">
      <form class="Form1">
        <div class="title">
          When you are <span style="color: rgb(36, 103, 180);text-decoration-line:underline;text-decoration-style:dotted;"> travelling to </span>Maldives....
        </div>
      <label class="option_item">
        <input type="radio" name="month" class="checkbox">
        <div class="option_inner facebook">
          <div class="tickmark"></div>
          <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
          <div style="margin-top: -25px;margin-left: -10px;" class="name">May</div>
          <div class="pick">Our Pick</div>
        </div>
      </label>
      <label class="option_item">
        <input type="radio" name="month" class="checkbox">
        <div class="option_inner facebook">
          <div class="tickmark"></div>
          <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
          <div style="margin-top: -25px;margin-left: -10px;" class="name">Jun</div>
          <div class="pick">Our Pick</div>
        </div>
      </label>
      <label class="option_item">
        <input type="radio" name="month" class="checkbox">
        <div class="option_inner facebook">
          <div class="tickmark"></div>
          <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
          <div style="margin-top: -25px;margin-left: -10px;" class="name">Jul</div>
          <div class="pick">Our Pick</div>
        </div>
      </label>
      <label class="option_item">
        <input type="radio" name="month" class="checkbox">
        <div class="option_inner facebook">
          <div class="tickmark"></div>
          <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
          <div style="margin-top: -25px;margin-left: -10px;" class="name">Aug</div>
          <div class="pick">Our Pick</div>
        </div>
      </label>
  
      <label class="option_item">
        <input type="radio" name="month" class="checkbox">
        <div class="option_inner facebook">
          <div class="tickmark"></div>
          <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
          <div style="margin-top: -25px;margin-left: -10px;text-align: center;" class="name">Sep</div>
          <div class="pick">Our Pick</div>
        </div>
      </label>
  
      <label class="option_item">
        <input type="radio" name="month" class="checkbox">
        <div class="option_inner facebook">
          <div class="tickmark"></div>
          <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
          <div style="margin-top: -25px;margin-left: -10px;" class="name">Oct</div>
          <div class="pick">Our Pick</div>
        </div>
      </label>
  
      <label class="option_item">
        <input type="radio" name="month" class="checkbox">
        <div class="option_inner facebook">
          <div class="tickmark"></div>
          <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
          <div style="margin-top: -25px;margin-left: -10px;" class="name">Nov</div>
          <div class="pick">Our Pick</div>
        </div>
      </label>
  
      <label class="option_item">
        <input type="radio" name="month" class="checkbox">
        <div class="option_inner facebook">
          <div class="tickmark"></div>
          <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
          <div style="margin-top: -25px;margin-left: -10px;" class="name">Dec</div>
          <div class="pick">Our Pick</div>
        </div>
      </label>
  
      <label class="option_item">
        <input type="radio" name="month" class="checkbox">
        <div class="option_inner facebook">
          <div class="tickmark"></div>
          <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
          <div style="margin-top: -25px;margin-left: -10px;" class="name">Jan</div>
          <div class="pick">Our Pick</div>
        </div>
      </label>
      <div class="btn-box">
        <button type="button" (mouseenter)="next()" id="next1" >Next</button>
    </div>
    </form>
  </div>
  
  <!-- Choose Date -->
  <div style="padding-top: 0px;" class="containerMonth">
    <form class="Form2" >
      <div class="title">
        When do you Wish <span style="color: rgb(36, 103, 180);text-decoration-line:underline;text-decoration-style:dotted;"> to travel </span>Maldives....
      </div>
      <input style="height: 50px;font-size: 16px;padding-left: 10px;" class="form-control" type="date" name="" id="">
    <div class="btn-box">
      <button type="button" (mouseenter)="back()" id="back1">Back</button>
      <button type="button" (mouseenter)="next1()" id="next2">Next</button>
  </div>
  </form>
    </div>
  
  
  
  
  
  
  
  <!-- Choose Duration -->
  
    <div style="padding-left: 0px;" class="containerMonth">
      <form class="Form3">
        <div class="title">
          How many days of joy you want in Maldives?
        </div>
        <label style="margin-left: 50px" class="list_item">
          <input type="radio" name="days" class="checkbox">
          <div class="option_inner facebook">
            <div class="tickmark"></div>
            <div class="col">
              <div class="pic" style="margin-top: -10px;"> <img class="irc_mut img-fluid" src="https://i.imgur.com/bGCqROr.png" width="80" height="80"> </div>
            </div>
            <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
            <div style="margin-top: 20px;margin-left: -10px;" class="name"> 3-5 days</div>
           
          </div>
        </label>
        <label class="list_item">
          <input type="radio" name="days"  class="checkbox">
          <div class="option_inner facebook">
            <div class="tickmark"></div>
            <div class="col">
              <div class="pic" style="margin-top: -10px;"> <img class="irc_mut img-fluid" src="https://i.imgur.com/bGCqROr.png" width="80" height="80"> </div>
            </div>
            <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
            <div style="margin-top: 20px;margin-left: -10px;" class="name">6-8 days</div>
           
          </div>
        </label>
        <label class="list_item">
          <input type="radio" name="days" class="checkbox">
          <div class="option_inner facebook">
            <div class="tickmark"></div>
            <div class="col">
              <div class="pic" style="margin-top: -10px;"> <img class="irc_mut img-fluid" src="https://i.imgur.com/bGCqROr.png" width="80" height="80"> </div>
            </div>
            <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
            <div style="margin-top: 20px;margin-left: -15px;" class="name">9-11 days</div>
           
          </div>
        </label>
  
        <label class="list_item">
          <input type="radio" name="days" class="checkbox">
          <div class="option_inner facebook">
            <div class="tickmark"></div>
            <div class="col">
              <div class="pic" style="margin-top: -10px;"> <img class="irc_mut img-fluid" src="https://i.imgur.com/bGCqROr.png" width="80" height="80"> </div>
            </div>
            <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
            <div style="margin-top: 20px;margin-left: -10px;" class="name">12-15 days</div>
          
          </div>
        </label>
      <div class="btn-box">
        <button type="button" (mouseenter)="back1()" id="back2">Back</button>
        <button type="button" (mouseenter)="next2()" id="next3" >Next</button>
    </div>
    </form>
  </div>
  
  
  
  
  
  
  
  <!-- Choose Who is travelling with you -->
  <div style="padding-top: 0px;" class="containerMonth">
    <form class="Form4">
      <div style="padding-left:150px" class="title">
        With whom you wanna travel along?
      </div>
      <label style="margin-left: 50px" class="list_item">
        <input type="radio" name="days" class="checkbox">
        <div class="option_inner facebook">
          <div class="tickmark"></div>
          <div class="col">
            <div class="pic" style="margin-top: -50px;margin-left: -30px;margin-right:-30px"> <img class="irc_mut img-fluid" style="width: 900px;" src="assets/customization/Couple.png" > </div>
          </div>
          <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
          <div style="margin-top: 20px;margin-left: 10px;" class="name"> Partner</div>
         
        </div>
      </label>
      <label class="list_item">
        <input type="radio" name="days"  class="checkbox">
        <div class="option_inner facebook">
          <div class="tickmark"></div>
          <div class="col">
            <div class="pic" style="margin-top: -30px;margin-left: -20px;margin-right:-20px"> <img class="irc_mut img-fluid" style="width: 900px;" src="assets/customization/Family.png" > </div>
          </div>
          <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
          <div style="margin-top: 30px;margin-left: -10px;" class="name">Family</div>
         
        </div>
      </label>
      <label class="list_item">
        <input type="radio" name="days" class="checkbox">
        <div class="option_inner facebook">
          <div class="tickmark"></div>
          <div class="col">
            <div class="pic" style="margin-top: -30px;margin-left: -20px;margin-right:-20px"> <img class="irc_mut img-fluid" style="width: 900px;" src="assets/customization/friends.png" > </div>
          </div>
          <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
          <div style="margin-top: 20px;margin-left: -15px;" class="name">Friends</div>
         
        </div>
      </label>
  
      <label class="list_item">
        <input type="radio" name="days" class="checkbox">
        <div class="option_inner facebook">
          <div class="tickmark"></div>
          <div class="col">
            <div class="pic" style="margin-top: -30px;margin-left: -20px;margin-right:-20px"> <img class="irc_mut img-fluid" style="width: 900px;" src="assets/customization/solo.png" > </div>
          </div>
          <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
          <div style="margin-top: 20px;margin-left: -10px;" class="name">12-15 days</div>
        
        </div>
      </label>
    <div class="btn-box">
      <button type="button" (mouseenter)="back2()" id="back3">Back</button>
      <button type="button" (mouseenter)="next3()" id="next4" >Next</button>
  </div>
  </form>
  </div>
  
  
  
  <!-- what do you like to see -->
  <div style="padding-top: 0px;" class="containerMonth">
    <form class="Form5">
      <div style="padding-left:150px" class="title">
        What will you like to see and do?
      </div>
      <label class="list_item1">
        <input type="radio" name="days" class="checkbox">
        <div class="option_inner facebook">
          <div class="tickmark"></div>
          <div class="col">
            <div class="pic" style="margin-top: -50px;margin-left: -30px;margin-right:-30px"> <img class="irc_mut img-fluid" style="width: 900px;" src="assets/customization/Art.png" > </div>
          </div>
          <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
          <div style="margin-top: 0px;margin-left: 0px;" class="name"> Art & Culture</div>
         
        </div>
      </label>
      <label class="list_item1">
        <input type="radio" name="days"  class="checkbox">
        <div class="option_inner facebook">
          <div class="tickmark"></div>
          <div class="col">
            <div class="pic" style="margin-top: -50px;margin-left: -20px;margin-right:-20px"> <img class="irc_mut img-fluid" style="width: 900px;" src="assets/customization/adventure.png" > </div>
          </div>
          <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
          <div style="margin-top: 0px;margin-left: -10px;" class="name">Adventure &  Outdoor</div>
         
        </div>
      </label>
      <label class="list_item1">
        <input type="radio" name="days" class="checkbox">
        <div class="option_inner facebook">
          <div class="tickmark"></div>
          <div class="col">
            <div class="pic" style="margin-top: -30px;margin-left: -20px;margin-right:-20px"> <img class="irc_mut img-fluid" style="width: 900px;" src="assets/customization/nightlife.png" > </div>
          </div>
          <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
          <div style="margin-top: 10px;margin-left: -15px;" class="name">Food & Nightlife</div>
         
        </div>
      </label>
  
      <label class="list_item1">
        <input type="radio" name="days" class="checkbox">
        <div class="option_inner facebook">
          <div class="tickmark"></div>
          <div class="col">
            <div class="pic" style="margin-top: -40px;margin-left: -20px;margin-right:-20px"> <img class="irc_mut img-fluid" style="width: 900px;" src="assets/customization/shopping.png" > </div>
          </div>
          <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
          <div style="margin-top: 10px;margin-left: -10px;" class="name">Shopping & Leisure</div>
        
        </div>
      </label>
      <label class="list_item1">
        <input type="radio" name="days" class="checkbox">
        <div class="option_inner facebook">
          <div class="tickmark"></div>
          <div class="col">
            <div class="pic" style="margin-top: -50px;margin-left: -30px;margin-right:-30px"> <img class="irc_mut img-fluid" style="width: 900px;" src="assets/customization/all.png" > </div>
          </div>
          <!-- <div class="icon"><i class="fab fa-facebook-f"></i></div> -->
          <div style="margin-top: 20px;margin-left: -10px;" class="name"> A bit of everything</div>
         
        </div>
      </label>
    <div class="btn-box">
      <button type="button" (mouseenter)="back3()" id="back4">Back</button>
      <button type="button" (mouseenter)="next4()" id="next5" >Next</button>
  </div>
  </form>
  </div>
  
  
  
  <!-- Wohoo -->
  <div style="padding-top: 0px;" class="containerMonth">
    <form class="Form6">
      <div style="padding-left:10px" class="title">
      Wohoo!!!....You have successfully customization your package.
      </div>
     
      <input class="btnlast" type="submit" style="width: 400px;margin-left: 180px;margin-top: 90px;margin-bottom: 90px;" value="View Your Personalised daily Itinerary">
  
    <div class="btn-box">
      <button type="button" (mouseenter)="back4()" id="back5">Back</button>
  </div>
  </form>
  </div>
  
  </div>
      