<div class="cont">
	<div style="padding-bottom:260px" class="wrapper-container">
		<div class="site wrapper-content">
			<div class="top_site_main" style="background-image:url(assets/header_search.jpg);background-size: cover;">
				<div class="banner-wrapper container article_heading">
				  
				  <h1 style="color: #fff;text-align: center;font-size: 24px;font-weight: bold;letter-spacing: 2px;margin-top: 40px;">SEARCH YOUR TOUR</h1></div>
				  <div style="padding-left:0px;margin: 10px;" class="row">
					<form #searchForm="ngForm" (ngSubmit)="search(searchForm.value)">
					<div align="center" style="margin-top: -10px;margin-bottom: 50px;" class="col-md-12">
						<div class="wrapper">
						  <div class="search-input">
							<a href="" target="_blank" hidden></a>
							<input ngModel type="text" name=Package placeholder="Type to search....">
							<div>
							</div>
							<div class="icon">
									<button><i class="fas fa-search"></i></button>
							</div>
						  </div>
						</div>  
					  </div>
					</form>
				</div>
			  </div>
			<section class="content-area">
				<div class="container">
		<ng-template #elseBlock>
			<div class="container">
				<div class="row">
					<div align="center" class="col-md-12">
						<img style="width: 300px;" src="assets/productList/Oops.jpg" alt="">
	
					</div>
				</div>
				<h1>Oops!!!....The package you are looking for is seems to be unavailable. Wanna Customize your Dream Package</h1>
				<div class="row">
					<div align="center" class="col-md-12">
						<button (click)="nav()" class="btn12" >Customize Package</button>
					</div>
				</div>
			</div>
		</ng-template>
					<div *ngIf="key!=0 else elseBlock" class="row">
						<div class="col-md-4">
							<div  class="container">
								<div align="center" class="row">
									<div style="margin-top: -5px;" class="col-sm-6">
										<h3 class="mt-3 mb-3">Filter By</h3>   
									</div>
									<div class="col-sm-6">
										<button class="btn123">Clear Filter</button>   
									</div>
								</div>
									<!-- <div class="col-md-3 col-sm-6 col-xs-12 segment-three sm-mb-30 "  >
										<button type="submit" class="btn btn-primary">Clear Filter</button>
									  </div> -->
									  <form #filter="ngForm" (ngSubmit)="filters(filter.value)">
									  <div style="border: 1px solid lightgrey" class="accordion" id="accordionPanelsStayOpenExample">
										<div class="accordion-item">
										  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
											<p class="accordion-button fs-4" style="border: 0px solid white;color: black;" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
											  Filter Price
											</p>
										  </h2>
										  <div id="panelsStayOpen-collapseOne" style="border: 0px solid white;border-bottom: 1px solid lightgrey;"  class="accordion-collapse collapse show show" aria-labelledby="panelsStayOpen-headingOne">
												<div style="margin-top: -5px;padding-left: 10%;" class="accordion-body">
													<div class="form-check" style="padding-bottom: 10px;">
														<input class="form-check-input" ngModel name="below10000" type="checkbox" id="inlineCheckbox1" value="option1">
														<label class="form-check-label" for="inlineCheckbox1">Below ₹10000 </label>
													  </div>
													  <div class="form-check" style="padding-bottom: 10px;">
														<input class="form-check-input" name="from10000to20000" ngModel type="checkbox" id="inlineCheckbox2" value="option2">
														<label class="form-check-label" for="inlineCheckbox2">₹10000-20000</label>
													  </div>
													  <div class="form-check" style="padding-bottom: 10px;">
														<input class="form-check-input" name="from20000to40000" ngModel type="checkbox" id="inlineCheckbox3" value="option3" >
														<label class="form-check-label" for="inlineCheckbox3">₹20000-40000</label>
													  </div>

													  <div class="form-check" style="padding-bottom: 10px;">
														<input class="form-check-input" name="above40000" ngModel type="checkbox" id="inlineCheckbox3" value="option3" >
														<label class="form-check-label" for="inlineCheckbox3">Above 40000 </label>
													  </div>

														<div class="btn-group">
															<a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
																more
															  </a>
														<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
														  <li><a class="dropdown-item" href="#">Menu item</a></li>
														  <li><a class="dropdown-item" href="#">Menu item</a></li>
														  <li><a class="dropdown-item" href="#">Menu item</a></li>
														</ul>
													  </div>
												</div>
										  </div>
										</div>
										<div class="accordion-item">
										  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
											<a class="accordion-button collapsed fs-4" style="border: 0px solid white;color: black;" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
											  Destination
											</a>
										  </h2>
										  <div id="panelsStayOpen-collapseTwo"  style="border: 0px solid white;border-bottom: 1px solid lightgrey;" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
											<div class="accordion-body" style="margin-top: -5px;padding-left: 10%;">
													<div class="form-check" style="padding-bottom: 10px;">
														<input class="form-check-input" name="india" ngModel type="checkbox" id="inlineCheckbox4" value="option1">
														<label class="form-check-label" for="inlineCheckbox4">India </label>
													  </div>
													  <div class="form-check" style="padding-bottom: 10px;">
														<input class="form-check-input" name="overseas" ngModel type="checkbox" id="inlineCheckbox5" value="option2">
														<label class="form-check-label" for="inlineCheckbox5">Overseas</label>
													  </div>
													  <div class="btn-group">
														<a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
															more
														  </a>
													<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													  <li><a class="dropdown-item" href="#">Menu item</a></li>
													  <li><a class="dropdown-item" href="#">Menu item</a></li>
													  <li><a class="dropdown-item" href="#">Menu item</a></li>
													</ul>
												  </div>
											</div>
										  </div>
										</div>
										<div class="accordion-item">
										  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
											<p class="accordion-button collapsed fs-4" style="border: 0px solid white;color: black;" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
											 Tour Type
											</p>
										  </h2>
										  <div id="panelsStayOpen-collapseThree" style="border: 0px solid white;border-bottom: 1px solid lightgrey;" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree">
											<div class="accordion-body" style="margin-top: -5px;padding-left: 10%;">
												<div class="form-check" style="padding-bottom: 10px;">
													<input class="form-check-input" name="family" ngModel type="checkbox" id="inlineCheckbox6" value="option6">
													<label class="form-check-label" for="inlineCheckbox6">Family Holidays </label>
												  </div>
												  <div class="form-check" style="padding-bottom: 10px;">
													<input class="form-check-input" name="adventure" ngModel type="checkbox" id="inlineCheckbox7" value="option7">
													<label class="form-check-label" for="inlineCheckbox7">Adventure</label>
												  </div>
												  <div class="form-check" style="padding-bottom: 10px;">
													<input class="form-check-input" name="couple" ngModel type="checkbox" id="inlineCheckbox8" value="option8" >
													<label class="form-check-label" for="inlineCheckbox8">Couple</label>
												  </div>
												  <div class="btn-group">
													<a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
														more
													  </a>
												<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
												  <li><a class="dropdown-item" href="#">Menu item</a></li>
												  <li><a class="dropdown-item" href="#">Menu item</a></li>
												  <li><a class="dropdown-item" href="#">Menu item</a></li>
												</ul>
											  </div>
											</div>
										  </div>
										</div>
										<div class="accordion-item">
											<h2 class="accordion-header" id="panelsStayOpen-headingFour">
											  <p class="accordion-button collapsed fs-4" style="border: 0px solid white;color: black;" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
												Trip Must Have
											  </p>
											</h2>
											<div id="panelsStayOpen-collapseFour" style="border: 0px solid white;border-bottom: 1px solid lightgrey;" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingFour">
											  <div class="accordion-body" style="margin-top: -5px;padding-left: 10%;">
												<div class="form-check" style="padding-bottom: 10px;">
													<input class="form-check-input" name="shoppingMall" ngModel type="checkbox" id="inlineCheckbox9" value="option9">
													<label class="form-check-label" for="inlineCheckbox9">Shopping Mall </label>
												  </div>
												  <div class="form-check" style="padding-bottom: 10px;">
													<input class="form-check-input" name ngModel type="checkbox" id="inlineCheckbox10" value="option10">
													<label class="form-check-label" name="coffee" for="inlineCheckbox10">Coffee Plantation</label>
												  </div>
												  <div class="form-check" style="padding-bottom: 10px;">
													<input class="form-check-input" ngModel type="checkbox" id="inlineCheckbox11" value="option11" >
													<label class="form-check-label" name="Museum" for="inlineCheckbox11">Museum</label>
												  </div>
												  <div class="btn-group">
													<a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
														more
													  </a>
												<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
												  <li><a class="dropdown-item" href="#">Menu item</a></li>
												  <li><a class="dropdown-item" href="#">Menu item</a></li>
												  <li><a class="dropdown-item" href="#">Menu item</a></li>
												</ul>
											  </div>
											</div>
											</div>
										  </div>
										  <div class="accordion-item">
											<h2 class="accordion-header" id="panelsStayOpen-headingFive">
											  <p class="accordion-button collapsed fs-4" style="border: 0px solid white;color: black;" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
												Inclusions
											  </p>
											</h2>
											<div id="panelsStayOpen-collapseFive" style="border: 0px solid white;border-bottom: 1px solid lightgrey;" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingFive">
											  <div class="accordion-body" style="margin-top: -5px;padding-left: 10%;">
												<div class="form-check" style="padding-bottom: 10px;">
													<input class="form-check-input" name="accomodation" ngModel type="checkbox" id="inlineCheckbox12" value="option12">
													<label class="form-check-label" for="inlineCheckbox12">Accommodation </label>
												  </div>
												  <div class="form-check" style="padding-bottom: 10px;">
													<input class="form-check-input" name="meal" ngModel type="checkbox" id="inlineCheckbox13" value="option13">
													<label class="form-check-label" for="inlineCheckbox13">Meal</label>
												  </div>
												  <div class="form-check" style="padding-bottom: 10px;">
													<input class="form-check-input" name="flight" ngModel type="checkbox" id="inlineCheckbox14" value="option14" >
													<label class="form-check-label" for="inlineCheckbox14">Flight</label>
												  </div>
												  <div class="btn-group">
													<a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
													  more
													</a>
												<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
												  <li><a class="dropdown-item" href="#">Menu item</a></li>
												  <li><a class="dropdown-item" href="#">Menu item</a></li>
												  <li><a class="dropdown-item" href="#">Menu item</a></li>
												</ul>
											  </div>
											</div>
											</div>
										  </div>
										  <button type="submit" class="btn">Apply Filter</button>
									  </div>
									</form>
								</div>
						</div>
						<div class="site-main col-md-8 alignright">
							<div *ngIf="key!=0" class="mb-3" style="text-align:left">
								<h2 class="title_primary fs-2" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;margin-top: -530px;"><i class="fab fa-battle-net"></i></span>Total {{key}} results are found....</h2>
							</div>
							<ul class="tours products wrapper-tours-slider">
								<li *ngFor="let i of products" class="item-list-tour col-md-12 ">
									<div class="product content-list-tour">
										<div class="post_images">
											<a href="single-tour.html">
												<img width="430" height="305" src="assets/tour/430x305/tour-1.jpg" alt="Discover Brazil" title="Discover Brazil">
											</a>
											<div class="group-icon">
												<a data-toggle="tooltip" data-placement="top" title="" class="frist" data-original-title="Escorted Tour"><i class="flaticon-airplane-4"></i></a>
												<a data-toggle="tooltip" data-placement="top" title="" data-original-title="Rail Tour"><i class="flaticon-cart-1"></i></a>
											</div>
										</div>
										<div class="wrapper_content">
											<div class="content-left">
												<div class="post_title"><h4>
													<a class="fs-3" style="font-weight: 500;" rel="bookmark">{{i.productName}}</a>
												</h4></div>
												<div class="description">
													<p>{{i.description}}</p>
					
												</div>
												<span class="post_date">{{i.duration}}</span></div>
											<div class="content-right">
												<!-- <div class="item_rating">
													<div class="item_rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</div>
												</div> -->
												<span style="padding-top: 30px;margin-top:15px;font-size: 18px;" class="price">RS.{{i.productRate}}/-</span>
												<form #list="ngForm" (ngSubmit)="getData(list.value)">
													<input style="visibility:hidden" type="text" ngModel={{i.productCode}} name=code value={{i.productCode}} class="form-control">
													<button style="width: 100px;" type="submit" class="btn12">Read More</button>
											
											</form>
										</div>
										</div>
									</div>
								</li>
								
							</ul>
							<hr>
							<div style="margin-top: 20px;height: 300px;" class="carousel2">
								<div class="mt-5 mb-3" style="text-align:left">
									<h3 class="title_primary fs-2" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>Exotic offers for you!!</h3>
								</div>
							
								<div class="row">
									<div class="col-md-6">
										<figure style="margin-left: 0;margin-top: 0;">
											<div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
												<img src="assets/Deals/GrandHyatt.jpg" style="height: 370px;width: 100%;" class="card-img" alt="...">
												<div class="card-img-overlay">
													 <div class="shortcode_title title-center title-decoration-bottom-center">
															<p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:285px;font-family: 'Satisfy', cursive;">Grand Hyatt Goa</p>
															<h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold">GOA</h5>
															<span style="margin-top:-75px;" class="line_after_title"></span>
														</div></div>
											</div>
											</figure>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-6">
												<figure style="margin-left: 0;margin-top: 0;">
												<div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
													<img src="assets/Deals/DestinyFarmstayOoty.jpg" style="height: 175px;width: 100%;" class="card-img" alt="...">
													<div class="card-img-overlay">
														 <div class="shortcode_title title-center title-decoration-bottom-center">
																<p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:90px;font-family: 'Satisfy', cursive;">Vilamendhoo Resort</p>
																<h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold">Maldives</h5>
																<span style="margin-top:-75px;" class="line_after_title"></span>
															</div></div>
												</div>
												</figure>
											</div>
											<div class="col-md-6">
																	<figure style="margin-left: 0;margin-top: 0;">
																		<div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
																			<img src="assets/Deals/DestinyFarmstayOoty.jpg" style="height: 175px;width: 100%;" class="card-img" alt="...">
																			<div class="card-img-overlay">
																				 <div class="shortcode_title title-center title-decoration-bottom-center">
																						<p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:95px;font-family: 'Satisfy', cursive;">Destiny Farmstay </p>
																						<h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold">Ooty</h5>
																						<span style="margin-top:-75px;" class="line_after_title"></span>
																					</div></div>
																		</div>
																		</figure>
																	
											</div>
											<div class="col-md-6">
												<figure style="margin-left: 0;margin-top: 0;">
													<div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
														<img src="assets/Deals/DestinyFarmstayOoty.jpg" style="height: 175px;width: 100%;" class="card-img" alt="...">
														<div class="card-img-overlay">
															 <div class="shortcode_title title-center title-decoration-bottom-center">
																	<p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:95px;font-family: 'Satisfy', cursive;">Beleza By The Beach </p>
																	<h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold">Goa</h5>
																	<span style="margin-top:-75px;" class="line_after_title"></span>
																</div></div>
													</div>
													</figure>
												
											</div>
											<div class="col-md-6">
												<figure style="margin-left: 0;margin-top: 0;">
													<div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
														<img src="assets/Deals/DestinyFarmstayOoty.jpg" style="height: 175px;width: 100%;" class="card-img" alt="...">
														<div class="card-img-overlay">
															 <div class="shortcode_title title-center title-decoration-bottom-center">
																	<p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:95px;font-family: 'Satisfy', cursive;">Destiny Farmstay </p>
																	<h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold">Ooty</h5>
																	<span style="margin-top:-75px;" class="line_after_title"></span>
																</div></div>
													</div>
													</figure>
												
											</div>
										</div>
									</div>
									
										
									</div>
								</div>        
							
							
						</div>					
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
