<div class="cont">
	<div style="padding-bottom:260px" class="wrapper-container">
		<div class="site wrapper-content">
			<div class="top_site_main" style="background-image:url(assets/banner/top-heading.jpg);background-size: cover;">
				<div class="banner-wrapper container article_heading">
				  
				  <h1 class="heading_primary">Package List</h1></div>
			  </div>
			<section class="content-area">
				<div class="container">
	
	
	<div style="padding-top:50px" class="row">
		<form #searchForm="ngForm" (ngSubmit)="search(searchForm.value)">
		<div align="center" style="margin-top: -10px;margin-bottom: 50px;" class="col-md-12">
			<div class="wrapper">
			  <div class="search-input">
				<a href="" target="_blank" hidden></a>
				<input ngModel type="text" name=Package placeholder="Type to search....">
				<div class="autocom-box">
				  <!-- here list are inserted from javascript -->
				</div>
				<div class="icon">
						<button><i class="fas fa-search"></i></button>
				</div>
			  </div>
			</div>  
		  </div>
		</form>
	</div>
		<ng-template #elseBlock>
			<div class="container">
				<div class="row">
					<div align="center" class="col-md-12">
						<img style="width: 300px;" src="assets/productList/Oops.jpg" alt="">
	
					</div>
				</div>
				<h1>Oops!!!....The package you are looking for is seems to be unavailable. Wanna Customize your Dream Package</h1>
				<div class="row">
					<div align="center" class="col-md-12">
						<button (click)="nav()" class="btn12" >Customize Package</button>
					</div>
				</div>
			</div>
		</ng-template>
					<div *ngIf="key!=0 else elseBlock" class="row">
						<div class="site-main col-sm-12 alignright">
							<ul class="tours products wrapper-tours-slider">
								<li *ngFor="let i of products" class="item-list-tour col-md-12 product">
									<div class="content-list-tour">
										<div class="post_images">
											<a href="single-tour.html">
												<img width="430" height="305" src="assets/tour/430x305/tour-1.jpg" alt="Discover Brazil" title="Discover Brazil">
											</a>
											<div class="group-icon">
												<a href="tours.html" data-toggle="tooltip" data-placement="top" title="" class="frist" data-original-title="Escorted Tour"><i class="flaticon-airplane-4"></i></a>
												<a href="tours.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Rail Tour"><i class="flaticon-cart-1"></i></a>
											</div>
										</div>
										<div class="wrapper_content">
											<div class="content-left">
												<div class="post_title"><h4>
													<a href="single-tour.html" rel="bookmark">Discover {{i.productName}}</a>
												</h4></div>
												<div class="description">
													<p>{{i.description}}</p>
					
												</div>
												<span class="post_date">{{i.duration}}</span></div>
											<div class="content-right">
												<div class="item_rating">
													<div class="item_rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</div>
												</div>
												<span class="price">{{i.productRate}}</span>
												<form #list="ngForm" (ngSubmit)="getData(list.value)">
													<input style="visibility:hidden" type="text" ngModel={{i.productCode}} name=code value={{i.productCode}} class="form-control">
													<button style="width: 120px;" type="submit" class="btn12">Read More</button>
											
											</form>
										</div>
										</div>
									</div>
								</li>
								
							</ul>
							
						</div>					
					</div>
				</div>
			</section>
		</div>
	</div>
</div>

