@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #585c68;
}

.wrapper1 {
padding-left: 20px;	
height:700px;
/* background: #585c68; */
position: relative;
width: 780px;
padding-top: 180px;
margin: 0px auto 0;
overflow:hidden;
transition: all 0.5s;
padding-bottom: 50px;
}

.containerMonth .title {
  font-size: 24px;
  color: rgb(43, 43, 43);
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  padding-left: 12%;
  padding-right: 12%;
  margin-bottom: 20px;
}

.containerMonth form {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
/* transition: all 0.3s; */
padding-bottom: 40px;
}

.containerMonth  .option_item {
  display: block;
  position: relative;
  width: 115px;
  height: 145px;
  margin: 5px;
  padding: 0;
/* transition: all 0.3s; */

}

.containerMonth .list_item {
  display: block;
  position: relative;
  width: 200px;
  height: 300px;
  margin: 10px;
  padding: 0;
}

.containerMonth  .option_item .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.option_item .option_inner {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 58px 40px;
  cursor: pointer;
  color: #585c68;
  display: block;
  /* border: 2px solid green; */
  position: relative;
  border: 2px solid #f1f1f1;
	transition: all ease 0.3s;

}
.btn-box{
    width: 100%;
    /* height: 115px; */
    margin: 30px auto;
    text-align: center;
}
form button{
    width: 115px;
    height: 35px;
    background: linear-gradient(to right,#ff105f,#ffad06);
    color: #fff;
    margin:0 10px;
    outline: none;
    border-radius: 20px;
    border: 0;
}
.option_item:hover .option_inner {
	background:#4dc08118;
	border:2px solid #4dc081;
	transform: scale(1.01,1.01);
	box-shadow:15px 2px 15px 5px rgba(0, 0, 0, 0.096);
	margin-top: -2px;
	transition: all ease 0.3s;
}

.option_item .option_inner .icon {
  margin-bottom: 10px;
}

.option_item .option_inner .icon .fab {
  font-size: 12px;
}

.option_item .option_inner .name {
  user-select: none;
}

.option_item .checkbox:checked ~ .option_inner {
  border-color: #4dc081;
  background:#4dc08118;
}

.option_item .option_inner .tickmark {
  position: absolute;
  top: -1px;
  left: -1px;
  border: 20px solid;
  border-color: #000 transparent transparent #000;
  display: none;
  /* background:#4dc08118; */
}

.option_item .option_inner .tickmark:before {
  content: "";
  position: absolute;
  top: -8px;
  left: -12px;
  width: 10px;
  height: 5px;
  border: 3px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
}

.option_item .checkbox:checked ~ .option_inner .tickmark {
  display: block;
}

.option_item .option_inner .tickmark {
  border-color: #4dc081 transparent transparent #4dc081;
}


.pick{
  font-size: 12px;
  padding: 3px;
  background:#ffd200  ;
  color: #fff;
  font-weight:600;
  border-radius: 20px;
  margin-top: 20px;
  width: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: -25px;
  text-align: center;
  user-select: none;
}
.step-row{
    width: 780px;
	margin-left:-20px;
	margin-top: -5px;
	margin-bottom: 20px;
    height: 10px;
    box-shadow:0 -1px 5px 0 rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    position: relative;
	padding-left: 0px;
    /* margin: 120px auto; */
}
.step-col{
    width: 130px;
    text-align: center;
    position: relative;
    color: #333;
}
#progress{
    position: absolute;
    height: 100%;
    width: 130px;
    background: linear-gradient(to right,#ffd200,#ffad06);
    transition: all ease 0.6s;
}
#progress.active{
  padding-left: 260px;
}
#progress.active1{
  padding-left: 390px;
}
#progress.active2{
  padding-left: 520px;
}
#progress.active3{
  padding-left: 650px;
}
#progress.active4{
  padding-left: 780px;
}

#progress::after{
    content:'';
    height: 0;
    width: 0;
    border-top:5px solid transparent;    
    border-bottom: 5px solid transparent;    
    right: -10px;
    position: absolute;
    top: 0;
    border-left: 10px solid #ffad06;
}
.containerMonth .Form1{
  transition: all 0s;
}
.Form1{
  transition: all ease 0.5s;
}
.Form1.active{
	left: -1990px;
  /* visibility: hidden; */
}
.Form2.active{
	padding-left:20px ;
	left: 0px;
	
}
.Form2{
	left:1200px;
}
.Form2.active1{
	left: -1990px;
}

.Form3{
  left:1200px;
}
.Form3.active{
  padding-left:20px ;
	left: 0px;
}
.Form3.active1{
  left: -1990px;
}
.Form4{
  left:1200px;
}

.Form4.active{
  padding-left:20px ;
	left: 0px;
}

.Form4.active1{
  left: -1990px;
}


.Form5{
  left:1200px;
}

.Form5.active{
  padding-left:20px ;
	left: 0px;
}
.Form5.active1{
  left: -1990px;
}


.Form6{
  left:1200px;
}
.Form6.active{
  padding-left:20px ;
	left: 0px;
}
.Form5.active1{
  left: -1990px;
}





/* form3 */
.containerMonth .list_item .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.list_item .option_inner {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 58px 40px;
  cursor: pointer;
  color: #585c68;
  display: block;
  border: 2px solid transparent;
  position: relative;
  border: 3px solid #f1f1f1;
}

.list_item .option_inner .icon {
  margin-bottom: 10px;
}

.list_item .option_inner .icon .fab {
  font-size: 12px;
}

.list_item .option_inner .name {
  user-select: none;
}

.list_item .checkbox:checked ~ .option_inner {
  border-color: #4dc081;
  background:#4dc08118;
}

.list_item .option_inner .tickmark {
  position: absolute;
  top: -1px;
  left: -1px;
  border: 20px solid;
  border-color: #000 transparent transparent #000;
  display: none;
}

.list_item .option_inner .tickmark:before {
  content: "";
  position: absolute;
  top: -8px;
  left: -12px;
  width: 10px;
  height: 5px;
  border: 3px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
}

.list_item .checkbox:checked ~ .option_inner .tickmark {
  display: block;
}

.list_item .option_inner .tickmark {
  border-color: #4dc081 transparent transparent #4dc081;
}


.option_inner:hover{
  background:#4dc08118;
  border:2px solid #4DC081;
  transform: scale(1.01,1.01);
  box-shadow:15px 2px 15px 5px rgba(0, 0, 0, 0.096);
  margin-top: -2px;
  transition: all ease 0.3s;
}


.list_item .option_inner:hover {
  background:#4dc08118;
  border:2px solid #4DC081;
  transform: scale(1.01,1.01);
  box-shadow:15px 2px 15px 5px rgba(0, 0, 0, 0.096);
  margin-top: -2px;
  transition: all ease 0.3s;
}
.containerMonth .list_item {
  display: block;
  position: relative;
  width: 150px;
  height: 190px;
  margin: 10px;
  padding: 0;
transition: all ease 0.3s;
}




/*  */
.containerMonth .list_item1 .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.list_item1 .option_inner {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 58px 40px;
  cursor: pointer;
  color: #585c68;
  display: block;
  border: 2px solid transparent;
  position: relative;
  border: 3px solid #f1f1f1;
}

.list_item1 .option_inner .icon {
  margin-bottom: 10px;
}

.list_item1 .option_inner .icon .fab {
  font-size: 12px;
}

.list_item1 .option_inner .name {
  user-select: none;
}

.list_item1 .checkbox:checked ~ .option_inner {
  border-color: #4dc081;
  background:#4dc08118;
}

.list_item1 .option_inner .tickmark {
  position: absolute;
  top: -1px;
  left: -1px;
  border: 20px solid;
  border-color: #000 transparent transparent #000;
  display: none;
}

.list_item1 .option_inner .tickmark:before {
  content: "";
  position: absolute;
  top: -8px;
  left: -12px;
  width: 10px;
  height: 5px;
  border: 3px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
}

.list_item1 .checkbox:checked ~ .option_inner .tickmark {
  display: block;
}

.list_item1 .option_inner .tickmark {
  border-color: #4dc081 transparent transparent #4dc081;
}


.option_inner:hover{
  background:#4dc08118;
  border:2px solid #4DC081;
  transform: scale(1.01,1.01);
  box-shadow:15px 2px 15px 5px rgba(0, 0, 0, 0.096);
  margin-top: -2px;
  transition: all ease 0.3s;
}


.list_item1 .option_inner:hover {
  background:#4dc08118;
  border:2px solid #4DC081;
  transform: scale(1.01,1.01);
  box-shadow:15px 2px 15px 5px rgba(0, 0, 0, 0.096);
  margin-top: -2px;
  transition: all ease 0.3s;
}
.containerMonth .list_item1 {
  display: block;
  position: relative;
  width: 142px;
  height: 210px;
  margin: 5px;
  padding: 0;
}

.btnlast{
  background: linear-gradient(to right,#ffd200,#ffad06);
  height: 40px;
  font-size: 16px;
  border-radius: 30px;
  border:none;
  color: #fff;
  font-weight:600;
  transition: all ease 0.5s;
}
.btnlast:hover{
  transition: all ease 0.5s;
  background: linear-gradient(to left,#ffd200,#ffad06);
}