<div class="navbarTop">
 <div class="site wrapper-content">
  <div class="top_site_main" style="background-image:url(assets/banner/top-heading.jpg);background-size: cover;">
    <div class="banner-wrapper container article_heading">
      <div class="breadcrumbs-wrapper">
        <ul class="phys-breadcrumb">
          <li><a href="index.html" class="home">Home</a></li>
          <li>Package Customize</li>
        </ul>
      </div>
      <h1 class="heading_primary">Package Customize</h1></div>
  </div>
       
   <section style="margin-top: -20px;" class="content-area">
    <div class="container-fluid">
      
      <div align="center" class="row mt-5 mb-3">
                  <div class="shortcode_title title-center title-decoration-bottom-center">
                      <h4 class="title_primary"><i style="margin-right:10px" class="fab fa-artstation"></i>Search Our Packages</h4><span class="line_after_title"></span>
                  </div>

                  <div style="margin-top: -10px;margin-bottom: 50px;" class="col-md-12">
                    <div class="wrapper">
                      <div class="search-input">
                        <a href="" target="_blank" hidden></a>
                        <input type="text" placeholder="Type to search....">
                        <div class="autocom-box">
                          <!-- here list are inserted from javascript -->
                        </div>
                        <div class="icon"><i class="fas fa-search"></i></div>
                      </div>
                    </div>  
                  </div>
                  <h2 class="mb-3 mt-3">
                    -OR-
                  </h2>
                  <div class="shortcode_title title-center title-decoration-bottom-center mb-5 mt-5">
                    <h4 class="title_primary"><i style="margin-right:10px" class="fab fa-artstation"></i>Customize Your Package</h4><span class="line_after_title"></span>
                </div>
                 

                  <div class="col-md-2">
                      <a style="text-decoration: none; color: black;width: 150px;"  id="popup-open-btn" (click)="showModal()" class="fs-5">
                         Destination <i class="fa fa-plus"></i>
                     </a>
                  </div>
                  <div class="col-md-2">
                      <a style="text-decoration: none; color: black;width: 150px;"  id="popup1-open-btn" (click)="showModal1()" class="fs-5">
                         Sub-destination <i class="fa fa-plus"></i>
                     </a>
                  </div>
                  <div class="col-md-2">
                      <a style="text-decoration: none; color: black;width: 150px;" id="popup2-open-btn" (click)="showModal2()" href="#" data-bs-toggle="modal" data-bs-target="#Stay"
                      class="fs-5">
                         Stay <i class="fa fa-plus"></i>
                     </a>
                  </div>
                  <div class="col-md-2">
                      <a style="text-decoration: none; color: black;width: 150px;" id="popup3-open-btn" (click)="showModal3()" href="#" data-bs-toggle="modal" data-bs-target="#meal"
                      class="fs-5">
                         Meal <i class="fa fa-plus"></i>
                     </a>
                  </div>
                  <div class="col-md-2">
                      <a style="text-decoration: none; color: black;width: 150px;" id="popup4-open-btn" (click)="showModal4()" (click)="ShowData()"  href="#" data-bs-toggle="modal" data-bs-target="#Sight"
                      class="fs-5">
                         SightSeeing <i class="fa fa-plus"></i>
                     </a>
                  </div>
                  <div class="col-md-2">
                    <button style="color:white;margin-top:-50px" type="submit" class="btn12" (click)="ShowData()">Add</button>
                  </div>
          </div>
    </div>
  </section>
</div>
<div class="container">
  <table class="table" style="border: 0px;border-bottom: 2px solid black;">
      <thead >
        <th style="border: 0px solid white;">
          Destination
        </th>
        <th style="border: 0px solid white;">
          Sub Destination
        </th>
        <th style="border: 0px solid white;">
          Stay
        </th>
        <th style="border: 0px solid white;">
          Meal
        </th>
        <th style="border: 0px solid white;">
          SightSeeing
        </th>
        <th style="border: 0px solid white;">
          Delete
        </th>
      </thead>
    <tbody>
<tr *ngFor="let i of dailyItinerary;let t=index">
<td>
  {{i.destination}}
</td>
<td>
  {{i.subDestination}}
</td>
<td>
  {{i.stay}}
</td>
<td>
  {{i.meal}}
</td>
<td>
  {{i.sightSeeing}}
</td>
<td>
  <button (click)="deleteTodo(t)" class="btn btn-outline-danger">-</button>
</td>
</tr>
    </tbody>
  </table>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-3">
      <table class="table">
        <tr *ngFor="let i of desti">
      <td>{{i.name}}</td>
      <td>{{i.key}}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table">
        <tr *ngFor="let j of subDestinations">
      <td>{{j.name}}</td>
      <td>{{j.key}}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table">
        <tr *ngFor="let k of stays">
      <td>{{k.name}}</td>
      <td>{{k.key}}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table">
        <tr *ngFor="let m of meal">
      <td>{{m.name}}</td>
      <td>{{m.key}}</td>
        </tr>
      </table>
    </div>
  </div>
  
</div>

<!-- Destination -->

<div class="popup center">
  <div class="description">
    <form #newData="ngForm" (ngSubmit)="newdata()" >
      <owl-carousel-o [options]="customOptions">
        <ng-template *ngFor="let dest of desti" carouselSlide>  
                      <div style="height: 100%;width: 50%;margin-left: 25%;" class="card">
                        <div align="center" style="background:transparent" class="card-header">
                          <p style="letter-spacing:2px" class="fs-3"><i class="fas fa-tree"></i>
                            {{dest.name}}
                          </p>
                        </div>
                        <div class="card-body">
                          <p style="margin-top: 5px;font-weight: bold;" class="card-title">Description: <span style="font-weight:400"> {{dest.description}} </span></p>
                            <div align="center" class="row  mb-3">
                                <p class="fs-3">
                                    <i style="margin-right:10px" class="far fa-images"></i>Images of {{dest.name}}:-
                                </p>
                                <div class="col-sm-6">
                                        <img src="assets/Alappuzha1.jpg" class="img-fluid img_over" style="width:500px;height:140px" alt="">
                                </div>
                                <div class="col-sm-6">
                                        <img src="assets/Alappuzha2.jpg" class="img-fluid img_over" style="width:420px;height: 140px;" alt="">
                                </div>
                            </div>
                            <div align="center" class="row mt-3    ">
                                    <div class="col-sm-4">
                                        <img src="assets/Alappuzha3.jpg" class="img-fluid img_over" style="width:100%;height:140px" alt="">
                                    </div>
                                    <div class="col-sm-4">
                                        <img src="assets/Alappuzha4.jpg" class="img-fluid img_over" style="width:100%;height:140px" alt="">
                                    </div>
                                    <div class="col-sm-4">
                                        <img src="assets/Alappuzha5.jpg" class="img-fluid img_over" style="width:100%;height:140px" alt="">
                                    </div>
                                    <div align="left" class="col-md-4">
                                        <a href="#"> show more.... </a>
                                    </div>
                                    </div>
                                </div>
                        
                        <form #destinationForm="ngForm" (ngSubmit)="getSubdestination(destinationForm.value)" >
                        <div class="row">
                          <div class="col-md-4">
                            <input type="text" #name class="form-control" name=destination ngModel={{dest.name}} value={{dest.name}} >
                          </div>
                          <div class="col-md-4">
                            <input type="text" #key class="form-control" name=key ngModel={{dest.key}} value={{dest.key}} >
                          </div>
                          <div class="col-md-4">
                            <div align="right" style="margin-right: 40px;margin-bottom: 40px;margin-top: -20px;" class="plus-unit">
                              <button type="submit" (click)="getvalue(key.value,name.value)" class="plus-toggler">select</button>
                          </div>
                          </div>
                        </div>
                      </form>
                    </div>
                   
                      </ng-template>
                      </owl-carousel-o>
                      <button type="submit" class="bt12">Add</button>
                      </form>
                      <div class="dismiss-btn">
                        <button (click)="closeModal()" id="dismiss-popup-btn">
                          Close
                        </button>
                      </div>
  </div>
  </div>


<!-- SubDestination -->
<div class="popup1 center">
  <div class="description">
    <form #newData="ngForm" (ngSubmit)="newdata()" >
      <owl-carousel-o [options]="customOptions">
        <ng-template *ngFor="let subd of subDestinations" carouselSlide>  
          <div style="height: 100%;width: 50%;margin-left: 25%;" class="card">
            <div align="center" style="background:transparent" class="card-header">
              <p style="letter-spacing:2px" class="fs-3"><i class="fas fa-tree"></i>
                {{subd.name}}
              </p>
            </div>
            <div class="card-body">
              <p style="margin-top: 5px;font-weight: bold;" class="card-title">Description: <span style="font-weight:400"> {{subd.description}} </span></p>
                <div align="center" class="row  mb-3">
                    <p class="fs-3">
                        <i style="margin-right:10px" class="far fa-images"></i>Images of {{subd.name}}:-
                    </p>
                    <div class="col-sm-6">
                            <img src="assets/Alappuzha1.jpg" class="img-fluid img_over" style="width:500px;height:140px" alt="">
                    </div>
                    <div class="col-sm-6">
                            <img src="assets/Alappuzha2.jpg" class="img-fluid img_over" style="width:420px;height: 140px;" alt="">
                    </div>
                </div>
                <div align="center" class="row mt-3    ">
                        <div class="col-sm-4">
                            <img src="assets/Alappuzha3.jpg" class="img-fluid img_over" style="width:100%;height:140px" alt="">
                        </div>
                        <div class="col-sm-4">
                            <img src="assets/Alappuzha4.jpg" class="img-fluid img_over" style="width:100%;height:140px" alt="">
                        </div>
                        <div class="col-sm-4">
                            <img src="assets/Alappuzha5.jpg" class="img-fluid img_over" style="width:100%;height:140px" alt="">
                        </div>
                        <div align="left" class="col-md-4">
                            <a href="#"> show more.... </a>
                        </div>
                    </div>
                
            
            </div>
            <form #subDestinationForm="ngForm" (ngSubmit)="getSight(subDestinationForm.value)" (ngSubmit)="getStay(subDestinationForm.value)" >
              <div class="row">
                <div class="col-md-4">
                  <input style="visibility:hidden" type="text" class="form-control" name=Subdestination ngModel={{subd.name}} value={{subd.name}} >
                </div>
                <div class="col-md-4">
                  <input style="visibility:hidden" type="text" class="form-control" name=key ngModel={{subd.key}} value={{subd.key}} >
                </div>
                <div class="col-md-4">
                  <div align="right" style="margin-right: 40px;margin-bottom: 40px;margin-top: -20px;" class="plus-unit">
                    <button type="submit" class="plus-toggler">select</button>
                </div>
                </div>
              </div>
            </form>
          </div>
                      </ng-template>
                      </owl-carousel-o>
                      <button type="submit" class="bt12">Add</button>
                      </form>
                      <div class="dismiss-btn">
                        <button (click)="closeModal1()" id="dismiss-popup1-btn">
                          Close
                        </button>
                      </div>
  </div>
  </div>


<!-- Stay -->
<div class="popup2 center">
  <div class="description">
    <!-- <form #newData="ngForm" (ngSubmit)="newdata()" > -->
      <owl-carousel-o [options]="customOptions">
        <ng-template *ngFor="let stay of stays" carouselSlide>  
          <div style="height: 100%;width: 50%;margin-left: 25%;" class="card">
            <div align="center" style="background:transparent" class="card-header">
              <p style="letter-spacing:2px" class="fs-3"><i style="color: rgb(255, 112, 112);" class="fas fa-campground"></i>
                {{stay.name}} 
              </p>
            </div>
            <div class="card-body">
              <p style="margin-top: 20px;font-weight: bold;" class="card-title">Description: <span style="font-weight:400">{{stay.description}}</span></p>
                <div align="center" style="margin-left: 09px;" class="row  mb-3">
                    <p class="fs-3">
                        <i style="margin-right:10px;color: rgb(112, 222, 255);" class="far fa-images"></i>Images of {{stay.name}}:-
                    </p>
                    <div class="col-sm-6">
                            <img src="assets/st5.jpg" class="img-fluid img_over" style="width:100%;height:140px" alt="">
                    </div>
                    <div class="col-sm-6">
                            <img src="assets/st2.jpg" class="img-fluid img_over" style="width:100%;height: 140px;" alt="">
                    </div>
                    <div align="center" style="margin-left:-10px;" class="row mt-3    ">
                        <div class="col-sm-4">
                            <img src="assets/st3.jpg" class="img-fluid img_over" style="width:100%;height:140px" alt="">
                        </div>
                        <div class="col-sm-4">
                            <img src="assets/st4.jpg" class="img-fluid img_over" style="width:100%;height:140px" alt="">
                        </div>
                        <div class="col-sm-4">
                            <img src="assets/st1.jpg" class="img-fluid img_over" style="width:100%;height:140px" alt="">
                        </div>
                        <div align="left" class="col-md-4">
                            <a href="#"> show more.... </a>
                        </div>
                    </div>
                </div>
                <form #stayForm="ngForm" (ngSubmit)="getMeal(stayForm.value)">
                  <div class="row">
                    <div class="col-md-4">
                      <input style="visibility:hidden" type="text" class="form-control" name=stay ngModel={{stay.name}} value={{stay.name}} >
                    </div>
                    <div class="col-md-4">
                      <input style="visibility:hidden" type="text" class="form-control" name=key ngModel={{stay.key}} value={{stay.key}} >
                    </div>
                    <div class="col-md-4">
                      <div align="right" style="margin-right: 40px;margin-bottom: 40px;margin-top: -20px;" class="plus-unit">
                        <button type="submit" class="plus-toggler">select</button>
                    </div>
                    </div>
                  </div>
                </form> 
            
            </div>
          </div>
                      </ng-template>
                      </owl-carousel-o>
                      <button type="submit" class="bt12">Add</button>
                      <!-- </form> -->
                      <div class="dismiss-btn">
                        <button (click)="closeModal2()" id="dismiss-popup2-btn">
                          Close
                        </button>
                      </div>
  </div>
  </div>


<!-- Meal -->
<div class="popup3 center">
  <div class="description">
    <!-- <form #newData="ngForm" (ngSubmit)="newdata()" > -->
      <owl-carousel-o [options]="customOptions">
        <ng-template *ngFor="let ml of meal" carouselSlide>  
          <div style="height: 100%;width: 50%;margin-left:25%;" class="card">
            <div align="center" style="background:transparent" class="card-header">
              <p style="letter-spacing:2px" class="fs-3"><i style="color: rgb(255, 112, 112);" class="fas fa-campground"></i>
                {{ml.name}} 
              </p>
            </div>
            <div class="card-body">
              <p style="margin-top: 20px;font-weight: bold;" class="card-title">Description: <span style="font-weight:400">{{ml.description}}</span></p>
                <div align="center" style="margin-left: 09px;" class="row  mb-5">
                    <p class="fs-3 mb-5 mt-5">
                        <i style="margin-right:10px;color: rgb(112, 222, 255);" class="far fa-images"></i>Images of {{ml.name}} plan:-
                    </p>
                    <div class="col-sm-6 mt-3">
                            <img src="assets/KashmirBreakfast.jpg" class="img-fluid img_over" style="width:250px;height:140px" alt="">
                    </div>
                    <div class="col-sm-6 mt-3">
                            <img src="assets/kashmiriChaiAndBreakfast.jpg" class="img-fluid img_over" style="width:250px;height: 140px;" alt="">
                    </div>
                </div>
                <div align="center" style="margin-left:-10px;" class="row mt-3    ">
                        <div align="left" class="col-md-4">
                            <a href="#"> show more.... </a>
                        </div>
                    </div>
                    <form #mealForm="ngForm" (ngSubmit)="showMeal(mealForm.value)">
                      <div class="row">
                        <div class="col-md-4">
                          <input type="text" class="form-control" name=meal ngModel={{ml.name}} value={{ml.name}} >
                        </div>
                        <div class="col-md-4">
                          <input type="text" class="form-control" name=key ngModel={{ml.key}} value={{ml.key}} >
                        </div>
                        <div class="col-md-4">
                          <div align="right" style="margin-right: 40px;margin-bottom: 40px;margin-top: -20px;" class="plus-unit">
                            <button type="submit" class="plus-toggler">select</button>
                        </div>
                        </div>
                      </div>
                    </form> 
            </div>
          </div>
                      </ng-template>
                      </owl-carousel-o>
                      <button type="submit" class="bt12">Add</button>
                      <!-- </form> -->
                      <div class="dismiss-btn">
                        <button (click)="closeModal3()" id="dismiss-popup3-btn">
                          Close
                        </button>
                      </div>
  </div>
  </div>


<!-- Sightseeing -->
<div class="popup4 center">
  <div class="description">
    <!-- <form #newData="ngForm" (ngSubmit)="newdata()" > -->
      <owl-carousel-o [options]="customOptions">
        <ng-template *ngFor="let sight of sights" carouselSlide>  
          <div style="height: 100%;width: 80%;margin-left: 110px;" class="card">
            <div align="center" style="background:transparent" class="card-header">
              <p style="letter-spacing:2px" class="fs-3"><i style="color: rgb(255, 112, 112);" class="fas fa-campground"></i>
                {{sight.name}} 
              </p>
            </div>
            <div class="card-body">
              <p style="margin-top: 20px;font-weight: bold;" class="card-title">Description: <span style="font-weight:400">{{sight.description}}</span></p>
              <div align="center" style="margin-left: 09px;" class="row  mb-3">
                <p class="fs-3">
                    <i style="margin-right:10px" class="far fa-images"></i>Images of {{sight.name}}:-
                </p>
                <div class="col-sm-6">
                        <img src="assets/mu1.jpg" class="img-fluid img_over" style="width:500px;height:140px" alt="">
                </div>
                <div class="col-sm-6">
                        <img src="assets/mu3.jpg" class="img-fluid img_over" style="width:420px;height: 140px;" alt="">
                </div>
                <div align="center" style="margin-left:-10px;" class="row mt-3    ">
                    <div class="col-sm-4">
                        <img src="assets/mu2.jpg" class="img-fluid img_over" style="width:400px;height:140px" alt="">
                    </div>
                    <div class="col-sm-4">
                        <img src="assets/mu4.jpg" class="img-fluid img_over" style="width:400px;height:140px" alt="">
                    </div>
                    <div class="col-sm-4">
                        <img src="assets/mu5.jpg" class="img-fluid img_over" style="width:500px;height:140px" alt="">
                    </div>
                    <div align="left" class="col-md-4">
                        <a href="#"> show more.... </a>
                    </div>
                </div>
            </div>
            <form #sightForm="ngForm" (ngSubmit)="showSight(sightForm.value)">
              <div class="row">
                <div class="col-md-4">
                  <input type="text" class="form-control" name=sight ngModel={{sight.name}} value={{sight.name}} >
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" name=key ngModel={{sight.key}} value={{sight.key}} >
                </div>
                <div class="col-md-4">
                  <div align="right" style="margin-right: 40px;margin-bottom: 40px;margin-top: -20px;" class="plus-unit">
                    <button type="submit" class="plus-toggler">select</button>
                </div>
                </div>
              </div>
            </form> 
            </div>
          </div>
                      </ng-template>
                      </owl-carousel-o>
                      <button type="submit" class="bt12">Add</button>
                      <!-- </form> -->
                      <div class="dismiss-btn">
                        <button (click)="closeModal4()" id="dismiss-popup4-btn">
                          Close
                        </button>
                      </div>
  </div>
  </div>
</div>






                      
    <!-- <div class="">
    <button id="popup-open-btn" (click)="showModal()" >
    OPen popup
    </button>
    </div> -->








<!-- <div class="site wrapper-content">
  <div class="home-content" role="main">
    <div class="top_site_main" style="background-image:url(assets/banner/top-heading.jpg);background-size: cover;">
			<div class="banner-wrapper container article_heading"> -->
				<!-- <div class="breadcrumbs-wrapper"> -->
					<!-- <ul class="phys-breadcrumb">
						<li><a href="index.html" class="home">Home</a></li>
						<li>Package Customize</li>
					</ul>
				</div> -->
        <!-- <h1 style="color: #fff;margin-left: -90px;"><span style="color: rgb(10, 190, 250);margin-right: 20px;"><i class="fas fa-th-list"></i></span>Package Customize</h1></div>
		</div>
    </div>
<div style=" margin-top:30px" class="container-fluid">
    <div style="margin-left: 10px;" class="container row">
      <div class="col-md-12 mb-1">
        <p class="fs-4">
          User Inormation
        </p>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" style="margin-left: 0px;margin-top: -3px;" class="col-md-2 col-form-label">Find
          User</label>
        <div class="col-sm-4 mb-5">
          <input type="text" style="margin-left: -100px;width: 180px;font-size: 12px" #contact_number class="form-control"
            id="staticEmail" placeholder="Enter your contact Number">
        </div>
        <button style="width: 80px;height:30px;font-size: 13px;margin-left: -20%;"
          (click)="getUserData2(contact_number.value)" class="col-sm-2 btn btn-outline-primary">
          Find
        </button>
        <table id="t1" style="margin-left: 7%;" class="table container">
          <thead>
            <th>
              First Name
            </th>
            <th>
              Last Name
            </th>
            <th>
              Contact Number
            </th>
            <th>
              E-mail
            </th>
            <th>
              PIN
            </th>
          </thead>
          <tbody>
            <tr>
              <td>{{userdata.firstName}}</td>
              <td>{{userdata.lastName}}</td>
              <td>{{userdata.contactNo}} </td>
              <td>{{userdata.email}} </td>
              <td>{{userdata.pinCode}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="container-fluid mt-3">
      <form #dayForm="ngForm" (ngSubmit)="addData(dayForm.value)">
        <div class="row">
          <div class="col-md-2">
            <label for="destination" class="form-label">Destination</label>
            <select name="destination" class="form-select" [(ngModel)]="optionSelectedDestinations" id="destination"
              #destination (ngModelChange)="getSubDestinations($event)" required>
              <option></option>
              <option *ngFor="let des of destinations" [ngValue]=des>
                {{des.name}}
              </option>
            </select>
          </div> -->
  
          <!--SUB-->
          <!-- <div class="col-md-2">
            <label for="subDestination" class="form-label">Sub Destination</label>
            <select name="subDestination" class="form-select" [(ngModel)]="optionSelectedSubDestinations"
              id="subDestination" #subDestination (ngModelChange)="getStayAndSights($event)" required>
              <option></option>
              <option *ngFor="let des of subDestinations" [ngValue]=des>
                {{des.name}}
              </option>
            </select>
          </div> -->
  
          <!--Stay-->
          <!-- <div class="col-md-1">
            <label for="stay" class="form-label">Stay</label>
            <select name="stay" class="form-select" [(ngModel)]="optionSelectedStays" id="stay" #destination
              (ngModelChange)="getMeals($event)" required>
              <option></option>
              <option *ngFor="let des of stays" [ngValue]=des>
                {{des.name}}
              </option>
            </select>
          </div> -->
  
          <!--Meals-->
          <!-- <div class="col-md-1">
            <label for="meals" class="form-label">Meals</label>
            <select name="meals" class="form-select" [(ngModel)]="optionSelectedMealOptions" id="meals" #meals required>
              <option></option>
              <option *ngFor="let des of mealOptions" [ngValue]=des>
                {{des.name}}
              </option>
            </select>
          </div>
   -->
          <!-- CheckIn -->
          <!-- <div class="col-md-2">
            <label for="CheckIn" class="form-label">CheckIn</label>
            <input name="checkIn" [(ngModel)]="checkInDate" id="checkIn" type="date" class="form-control">
          </div> -->
          <!-- Checkout -->
                <!-- <div class="col-md-2">
                  <label for="CheckOut" class="form-label">CheckOut</label>
                  <input name="checkOut" type="date" id="CheckOut" [(ngModel)]="checkOutDate" class="form-control">
                </div> -->

          <!--SightSeeing-->
          <!-- <div class="col-md-1">
            <label for="sightSeeing" class="form-label">SightSeeing</label>
            <select name="sightSeeing" class="form-select" [(ngModel)]="optionSelectedSights" id="sightSeeing"
              #sightSeeing required>
              <option></option>
              <option *ngFor="let des of sights" [ngValue]=des>
                {{des.name}}
              </option>
            </select>
          </div>
  
          <div class="col-md-1">
            <button style="margin: 30px;" type="submit" class="btn btn-outline-primary">+</button>
          </div>
        </div>
      </form>
  
      <table id="t2" class="table mt-5 mb-5">
        <thead>
          <tr> -->
            <!-- <th scope="col">Day</th> -->
            <!-- <th scope="col">Destination</th>
            <th scope="col">Sub-Destination</th>
            <th scope="col">Stay</th>
            <th scope="col">CheckIn</th>
         <th scope="col">CheckOut</th>
            <th scope="col">Meal</th>
            <th scope="col">Site Seeing</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody> -->
          <!-- <tr *ngFor="let t of dailyItinerary;let i=index"> -->
            <!-- <td>{{t.content}}</td> -->
            <!-- <td>{{t.destination}}</td>
            <td>{{t.subDestination}}</td>
            <td>{{t.stay}}</td>
            <td>{{t.checkIn}} </td>
          <td>{{t.checkOut}} </td> 
            <td>{{t.meal}}</td>
            <td>{{t.sightSeeing}}</td>
            <td> <button (click)="deleteTodo(i)" class="btn btn-outline-danger">-</button></td>
          </tr>
        </tbody>
      </table>
      <form #submitForm="ngForm" (ngSubmit)="submitAndGeneratePDF(submitForm.value)">
        <div class="container">
          <div style="margin-left: 13%;margin-top: 5%;" class="row">
            <div class="col-md-2">
              <div style="margin-top: 35px;" class="form-check">
                <input class="form-check-input" type="checkbox" ngModel name="airTicket" id="airTicket">
                <label class="form-check-label" for="airTicket">
                  Air Tickets
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <div style="margin-top: 35px;" class="form-check">
                <input class="form-check-input" type="checkbox" ngModel name="visa">
                <label class="form-check-label" for="visa">
                  Visa
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <label for="price" class="form-label">Price</label>
              <input type="text" ngModel class="form-control" name="price" placeholder="Enter the price">
            </div>
            <div class="col-md-4">
              <button type="submit" style="margin-left: 30px;margin-top: 30px;"
                class="btn btn-outline-primary">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div> -->
<!-- <form #data="ngForm" (ngSubmit)="Data(data.value)" >
  <div>
    <label for="subDestination" class="form-label">Sub Destination</label>
    <select name="subDestination" class="form-select" [(ngModel)]="optionSelectedSubDestinations"
      id="subDestination" #subDestination (ngModelChange)="getStayAndSights($event)" required>
      <option></option>
      <option *ngFor="let des of subDestinations1" [ngValue]=des>
        {{des.value}}
      </option>
    </select>
  </div> 
  <button type="submit">Add</button>
</form> -->