<div style="background-image: url(assets/Map/map.png);background-repeat: no-repeat;background-size:100% 100%;" class="wrapper">
    <div class="search-input">
        <a href="" target="_blank" hidden></a>
        <input ngModel type="text" name=Package placeholder="Search your dream destination..." (keyup)="searchApi($event.target)" >
        <div>
        </div>
        <div class="icon">
                <button><i class="fas fa-search"></i></button>
        </div>
        <ul style="margin-top: 20px;">
            <li type="submit" routerLink="customPackage" *ngFor="let i of destinations">
              <form #destinationForm="ngForm" (ngSubmit)=GetDestination(destinationForm.value)>
                <div class="data">
                <div class="left">
                  {{i.name}} 
                  <input ngModel={{i.name}} name='Destination' style="display: none" >
                </div>
                <div class="right">
                  <a type="submit">Plan your trip</a>
                </div>
              </div>
        </form>  
      </li>
    </ul>
      </div>
      
</div>