<div class="navbarTop">
    <div class="site wrapper-content">
    <div class="home-content" role="main">
        <div class="wrapper-bg-video">
            <video poster="assets/video_slider.jpg" playsinline autoplay muted="true" loop>
                <source src="http://physcode.com/video/330149744.mp4" type="video/mp4">
            </video>
            <div class="content-slider">
                <p>Find your special tour today </p>
                <h2>With Travel Tours </h2>
                <p><a href="" class="btn btn-slider">VIEW TOURS </a></p>
            </div>
        </div>
<div class="container-fluid">
    <div class="two-column-respon mg-top-6x mg-bt-6x">
        <!-- <div class="row">
            <div class="col-sm-12 mg-btn-6x">
                <div class="shortcode_title title-center title-decoration-bottom-center">
                    <h3 style="text-align:center" class="title_primary">WHY CHOOSE US?</h3><span class="line_after_title"></span>
                </div>
            </div>
        </div> -->
        <div class="row">
            <!-- <div class="wpb_column col-sm-3">
                <div class="widget-icon-box widget-icon-box-base iconbox-center">
                    <div class="boxes-icon circle" style="font-size:30px;width:80px; height:80px;line-height:80px">
                        <span class="inner-icon"><i class="vc_icon_element-icon flaticon-transport-6"></i></span>
                    </div>
                    <div class="content-inner">
                        <div class="sc-heading article_heading">
                            <h4 class="heading__primary">Diverse Destinations</h4></div>
                        <div class="desc-icon-box">
                            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-sm-4">
                <div class="row">
                    <div align="center" class="col-sm-4">
                        <!-- <p><i style="font-size:30px;color: #ffd200;padding:20px;background-color: #f1f1f1;border-radius: 50px;" class="fas fa-tasks"></i></p> -->
                        <div class="widget-icon-box widget-icon-box-base iconbox-center">
                            <div class="boxes-icon circle" style="font-size:30px;width:80px; height:80px;line-height:80px">
                                <span class="inner-icon"><i class="fas fa-tasks"></i></span>
                            </div>
                            </div>
                    </div>
                    <div class="col-sm-8">
                        <p class="fs-5" style="font-weight:500">Compare And Choose</p>
                        <p>We work with world-class tour operators who go through a screening process and we constantly keep a check on the quality of service</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div align="center" class="col-sm-4">
                        <!-- <p><i style="font-size:30px;color: #ffd200;padding:20px;background-color: #f1f1f1;border-radius: 50px;" class="fas fa-tasks"></i></p> -->
                        <div class="widget-icon-box widget-icon-box-base iconbox-center">
                            <div class="boxes-icon circle" style="font-size:30px;width:80px; height:80px;line-height:80px">
                                <span class="inner-icon"><i class="fas fa-box-open"></i></span>
                            </div>
                            </div>
                    </div>
                    <div class="col-sm-8">
                        <p class="fs-5" style="font-weight:500">Multiple Tour Operator</p>
                        <p>We work with world-class tour operators who go through a screening process and we constantly keep a check on the quality of service</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div align="center" class="col-sm-4">
                        <!-- <p><i style="font-size:30px;color: #ffd200;padding:20px;background-color: #f1f1f1;border-radius: 50px;" class="fas fa-tasks"></i></p> -->
                        <div class="widget-icon-box widget-icon-box-base iconbox-center">
                            <div class="boxes-icon circle" style="font-size:30px;width:80px; height:80px;line-height:80px">
                                <span class="inner-icon"><i class="fas fa-tags"></i></span>
                            </div>
                            </div>
                    </div>
                    <div class="col-sm-8">
                        <p class="fs-5" style="font-weight:500">Best Price Guaranteed</p>
                        <p>We deal directly with the tour operators thus guaranteeing you the best price for your tour.</p>
                    </div>
                </div>
            </div>
         
        </div>
    </div>

    <div class="padding-top-6x padding-bottom-6x section-background">
        <div  style="margin-top:0px;" class="container_landing_page">
            <div class="mb-3" style="text-align:left">
                <h3 class="title_primary fs-4" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;margin-top: -530px;"><i class="fab fa-battle-net"></i></span>TRENDING DOMESTIC DESTINATION</h3>
            </div>
            <div style="margin-top: 30px;" class="row wrapper-tours-slider">

                        <owl-carousel-o id="trending" style="padding-left: 35px;margin-top: -20px;" [options]="customOptions">
                        <ng-template carouselSlide> 
                            <div style="background:transparent;border:1px solid #fff" class="card card2 text-white">
                            <img src="assets/Goa1.jpg" style="height: 300px;width: 95%;" class="card-img" alt="...">
                            <div class="card-img-overlay">
                            <h5 class="card-title fs-4" style="text-align:center;letter-spacing:2px;margin-left: -10px;margin-top:5%;font-family: 'Varela Round', sans-serif;">GOA</h5>
                            <p class="card-text" style="margin-left: 20px;margin-top:160px;">Starting from</p>
                            <p style="margin-left: 20px;" class="card-text fs-4"><span>₹</span>5,700</p>
                            </div>
                        </div></ng-template>  
                        <ng-template carouselSlide>
                            <div style="background:transparent;border:1px solid #fff" class="card card2 text-white">
                                <img src="assets/OOty.jpg" style="height: 300px;width: 95%;" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                <h5 class="card-title fs-4"  style="text-align:center;letter-spacing:2px;margin-left: -10px;margin-top:5%;font-family: 'Varela Round', sans-serif;">OOTY</h5>
                                <p class="card-text"  style="margin-left: 20px;margin-top:160px;" >Starting from</p>
                                <p style="margin-left: 20px;" class="card-text fs-4"><span>₹</span>43,900</p>
                                </div>
                            </div>

                        </ng-template>  
                        <ng-template carouselSlide>
                            
                            <div style="background:transparent;border:1px solid #fff" class="card card2 text-white">
                                <img src="assets/Manali.jpg" style="height: 300px;width: 95%;" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                <h4  style="text-align:center;letter-spacing:2px;margin-left: -10px;margin-top:5%;font-family: 'Varela Round', sans-serif;" class="card-title fs-4">MANALI</h4>
                                <p class="card-text"  style="margin-left: 20px;margin-top:160px;">Starting from</p>
                                <p style="margin-left: 20px;" class="card-text fs-4"><span>₹</span>43,900</p>
                                </div>
                            </div>

                        </ng-template>  
                        <ng-template carouselSlide>
                            <div style="background:transparent;border:1px solid #fff" class="card card2 text-white">
                            <img src="assets/mahabaleshwar.jpg" style="height: 300px;width: 95%;" class="card-img" alt="..img " alt="...">
                            <div class="card-img-overlay">
                        <div class="overlay">
                                <h5 class="card-title fs-4"  style="text-align:center;letter-spacing:2px;margin-left: -10px;margin-top:5%;font-family: 'Varela Round', sans-serif;">Mahabaleshwar</h5>
                                <p class="card-text"  style="margin-left: 20px;margin-top:160px;">Starting from</p>
                                <p style="margin-left: 20px;" class="card-text fs-4" ><span>₹</span>43,900</p>
                            </div>
                        </div>
                        </div>
                    </ng-template>  
                        <ng-template carouselSlide>
                            
                            <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card card2 text-white">
                                <img src="assets/Mumbai.jpg" style="height: 300px;width: 95%;" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                <h5 class="card-title fs-4"  style="text-align:center;letter-spacing:2px;margin-left: -10px;margin-top:5%;font-family: 'Varela Round', sans-serif;">MUMBAI</h5>
                                <p class="card-text"  style="margin-left: 20px;margin-top:160px;">Starting from</p>
                                <p style="margin-left: 20px;" class="card-text fs-4"><span>₹</span>6,999</p>
                                </div>
                            </div>

                        </ng-template>  
                        <ng-template carouselSlide>
                             <div style="background:transparent;border:1px solid #fff" class="card card2 text-white">
                                <img src="assets/Goa1.jpg" style="height: 300px;width: 95%;" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                <h5 class="card-title fs-4"  style="text-align:center;letter-spacing:2px;margin-left: -10px;margin-top:5%;font-family: 'Varela Round', sans-serif;">GOA</h5>
                                <p class="card-text" style="margin-left: 20px;margin-top:160px;">Starting from</p>
                                <p style="margin-left: 20px;" class="card-text fs-4"><span>₹</span>5,700</p>
                                </div>
                                </div>
                           
                        </ng-template>  
                        <ng-template carouselSlide>
                           
                            <div style="background:transparent;border:1px solid #fff" class="card card2 text-white">
                                <img src="assets/OOty.jpg" style="height: 300px;width: 95%;" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                <h5 class="card-title fs-4"  style="text-align:center;letter-spacing:2px;margin-left: -10px;margin-top:5%;font-family: 'Varela Round', sans-serif;">OOTY</h5>
                                <p class="card-text"  style="margin-left: 20px;margin-top:160px;" >Starting from</p>
                                <p style="margin-left: 20px;" class="card-text fs-4"><span>₹</span>43,900</p>
                                </div>
                            </div>

                        </ng-template>  
                        <ng-template carouselSlide>
                            
                            <div style="background:transparent;border:1px solid #fff" class="card card2 text-white">
                                <img src="assets/Manali.jpg" style="height: 300px;width: 95%;" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                <h4  style="text-align:center;letter-spacing:2px;margin-left: -10px;margin-top:5%;font-family: 'Varela Round', sans-serif;" class="card-title fs-4">MANALI</h4>
                                <p class="card-text"  style="margin-left: 20px;margin-top:160px;">Starting from</p>
                                <p style="margin-left: 20px;" class="card-text fs-4"><span>₹</span>43,900</p>
                                </div>
                            </div>

                        </ng-template>  
                        <ng-template carouselSlide>
                            
                            <div style="background:transparent;border:1px solid #fff" class="card card2 text-white">
                                <img src="assets/mahabaleshwar.jpg" style="height: 300px;width: 95%;" class="card-img" alt="..img " alt="...">
                                <div class="card-img-overlay">
                            <div class="overlay">
                                    <h5 class="card-title fs-4" style="text-align:center;margin-left: -40px;">Mahabaleshwar</h5>
                                    <p class="card-text"  style="margin-left: 20px;margin-top:160px;">Starting from</p>
                                    <p style="margin-left: 20px;" class="card-text fs-4" ><span>₹</span>43,900</p>
                                </div>
                            </div>
                            </div>

                        </ng-template>  
                        </owl-carousel-o>
                
            </div>
        </div>
    </div>

    <div class="padding-top-6x padding-bottom-6x section-background">
        <div  style="margin-top: 120px;" class="container_landing_page">
            <div class="mb-3" style="text-align:left">
                <h3 class="title_primary fs-4" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;margin-top: -530px;"><i class="fab fa-battle-net"></i></span>TRENDING INTERNATIONAL DESTINATION</h3>
            </div>
            <div style="margin-top: 30px;" class="row wrapper-tours-slider">

                        <owl-carousel-o id="trending" style="padding-left: 35px;margin-top: -20px;" [options]="customOptions">
                        <ng-template carouselSlide> 
                            <div style="background:transparent;border:1px solid #fff" class="card card2 text-white">
                            <img src="assets/Deals/Bali.jpg" style="height: 300px;width: 95%;" class="card-img" alt="...">
                            <div class="card-img-overlay">
                            <h5 class="card-title fs-4" style="text-align:center;letter-spacing:2px;margin-left: -10px;margin-top:5%;font-family: 'Varela Round', sans-serif;">BALI</h5>
                            <p class="card-text" style="margin-left: 20px;margin-top:160px;">Starting from</p>
                            <p style="margin-left: 20px;" class="card-text fs-4"><span>₹</span>5,700</p>
                            </div>
                        </div></ng-template>  
                        <ng-template carouselSlide>
                            <div style="background:transparent;border:1px solid #fff" class="card card2 text-white">
                                <img src="assets/Deals/NewYork.jpg" style="height: 300px;width: 95%;" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                <h5 class="card-title fs-4"  style="text-align:center;letter-spacing:2px;margin-left: -10px;margin-top:5%;font-family: 'Varela Round', sans-serif;">NEW YORK</h5>
                                <p class="card-text"  style="margin-left: 20px;margin-top:160px;" >Starting from</p>
                                <p style="margin-left: 20px;" class="card-text fs-4"><span>₹</span>43,900</p>
                                </div>
                            </div>

                        </ng-template>  
                        <ng-template carouselSlide>
                            
                            <div style="background:transparent;border:1px solid #fff" class="card card2 text-white">
                                <img src="assets/Deals/Switzerland.jpg" style="height: 300px;width: 95%;" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                <h4  style="text-align:center;letter-spacing:2px;margin-left: -10px;margin-top:5%;font-family: 'Varela Round', sans-serif;" class="card-title fs-4">SWITZERLAND</h4>
                                <p class="card-text"  style="margin-left: 20px;margin-top:160px;">Starting from</p>
                                <p style="margin-left: 20px;" class="card-text fs-4"><span>₹</span>43,900</p>
                                </div>
                            </div>

                        </ng-template>  
                        <ng-template carouselSlide>
                            <div style="background:transparent;border:1px solid #fff" class="card card2 text-white">
                            <img src="assets/Deals/Maldives.jpg" style="height: 300px;width: 95%;" class="card-img" alt="..img " alt="...">
                            <div class="card-img-overlay">
                        <div class="overlay">
                                <h5 class="card-title fs-4"  style="text-align:center;letter-spacing:2px;margin-left: -10px;margin-top:5%;font-family: 'Varela Round', sans-serif;">MALDIVES</h5>
                                <p class="card-text"  style="margin-left: 20px;margin-top:160px;">Starting from</p>
                                <p style="margin-left: 20px;" class="card-text fs-4" ><span>₹</span>43,900</p>
                            </div>
                        </div>
                        </div>
                    </ng-template>  
                        <ng-template carouselSlide>
                            
                            <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card card2 text-white">
                                <img src="assets/Deals/bangkok.jpg" style="height: 300px;width: 95%;" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                <h5 class="card-title fs-4"  style="text-align:center;letter-spacing:2px;margin-left: -10px;margin-top:5%;font-family: 'Varela Round', sans-serif;">BANGKOK</h5>
                                <p class="card-text"  style="margin-left: 20px;margin-top:160px;">Starting from</p>
                                <p style="margin-left: 20px;" class="card-text fs-4"><span>₹</span>6,999</p>
                                </div>
                            </div>

                        </ng-template>  
                        <ng-template carouselSlide>
                             <div style="background:transparent;border:1px solid #fff" class="card card2 text-white">
                                <img src="assets/Deals/Bali.jpg" style="height: 300px;width: 95%;" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                <h5 class="card-title fs-4"  style="text-align:center;letter-spacing:2px;margin-left: -10px;margin-top:5%;font-family: 'Varela Round', sans-serif;">BALI</h5>
                                <p class="card-text" style="margin-left: 20px;margin-top:160px;">Starting from</p>
                                <p style="margin-left: 20px;" class="card-text fs-4"><span>₹</span>5,700</p>
                                </div>
                                </div>
                           
                        </ng-template>  
                        <ng-template carouselSlide>
                           
                            <div style="background:transparent;border:1px solid #fff" class="card card2 text-white">
                                <img src="assets/Deals/NewYork.jpg" style="height: 300px;width: 95%;" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                <h5 class="card-title fs-4"  style="text-align:center;letter-spacing:2px;margin-left: -10px;margin-top:5%;font-family: 'Varela Round', sans-serif;">NEW YORK</h5>
                                <p class="card-text"  style="margin-left: 20px;margin-top:160px;" >Starting from</p>
                                <p style="margin-left: 20px;" class="card-text fs-4"><span>₹</span>43,900</p>
                                </div>
                            </div>

                        </ng-template>  
                        <ng-template carouselSlide>
                            
                            <div style="background:transparent;border:1px solid #fff" class="card card2 text-white">
                                <img src="assets/Deals/Switzerland.jpg" style="height: 300px;width: 95%;" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                <h4  style="text-align:center;letter-spacing:2px;margin-left: -10px;margin-top:5%;font-family: 'Varela Round', sans-serif;" class="card-title fs-4">SWITZERLAND</h4>
                                <p class="card-text"  style="margin-left: 20px;margin-top:160px;">Starting from</p>
                                <p style="margin-left: 20px;" class="card-text fs-4"><span>₹</span>43,900</p>
                                </div>
                            </div>

                        </ng-template>  
                        <ng-template carouselSlide>
                            
                            <div style="background:transparent;border:1px solid #fff" class="card card2 text-white">
                                <img src="assets/Deals/Maldives.jpg" style="height: 300px;width: 95%;" class="card-img" alt="..img " alt="...">
                                <div class="card-img-overlay">
                            <div class="overlay">
                                    <h5 class="card-title fs-4" style="text-align:center;margin-left: -40px;">MALDIVES</h5>
                                    <p class="card-text"  style="margin-left: 20px;margin-top:160px;">Starting from</p>
                                    <p style="margin-left: 20px;" class="card-text fs-4" ><span>₹</span>43,900</p>
                                </div>
                            </div>
                            </div>

                        </ng-template>  
                        </owl-carousel-o>
                
            </div>
        </div>
    </div>



    

    <div class="section-white padding-top-6x padding-bottom-6x tours-type">
        <div style="margin-top: 100px;" class="container_landing_page"  >
            <div class="mt-5 mb-3" style="text-align:left">
                <h3 class="title_primary fs-4" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;"><i class="fab fa-battle-net"></i></span>POPULAR</h3>
            </div>
            <!-- <div class="container"> -->
                <div class="row mb-5">
                  <div class="col-sm-6">
                    <div class="row">
                        <div class="col-6 col-sm-6">
                            <figure style="margin-left: 0;margin-top: 0;">
                                <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                                    <img src="assets/Deals/DestinyFarmstayOoty.jpg" style="height: 175px;width: 100%;" class="card-img" alt="...">
                                    <div class="card-img-overlay">
                                         <div class="shortcode_title title-center title-decoration-bottom-center">
                                                <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:95px;font-family: 'Satisfy', cursive;">Destiny Farmstay </p>
                                                <h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold">Ooty</h5>
                                                <span style="margin-top:-75px;" class="line_after_title"></span>
                                            </div></div>
                                </div>
                            </figure>
                        </div>
                        <div class="col-6 col-sm-6">
                            <figure style="margin-left: 0;margin-top: 0;">
                                <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                                    <img src="assets/Deals/DestinyFarmstayOoty.jpg" style="height: 175px;width: 100%;" class="card-img" alt="...">
                                    <div class="card-img-overlay">
                                         <div class="shortcode_title title-center title-decoration-bottom-center">
                                                <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:95px;font-family: 'Satisfy', cursive;">Destiny Farmstay </p>
                                                <h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold">Ooty</h5>
                                                <span style="margin-top:-75px;" class="line_after_title"></span>
                                            </div></div>
                                </div>
                            </figure>
                        </div>
                        <div class="col-6 col-sm-6 mt-3">
                            <figure style="margin-left: 0;margin-top: 0;">
                                <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                                    <img src="assets/Deals/DestinyFarmstayOoty.jpg" style="height: 175px;width: 100%;" class="card-img" alt="...">
                                    <div class="card-img-overlay">
                                         <div class="shortcode_title title-center title-decoration-bottom-center">
                                                <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:95px;font-family: 'Satisfy', cursive;">Destiny Farmstay </p>
                                                <h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold">Ooty</h5>
                                                <span style="margin-top:-75px;" class="line_after_title"></span>
                                            </div></div>
                                </div>
                            </figure>
                        </div>
                        <div class="col-6 col-sm-6 mt-3">
                            <figure style="margin-left: 0;margin-top: 0;">
                                <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                                    <img src="assets/Deals/DestinyFarmstayOoty.jpg" style="height: 175px;width: 100%;" class="card-img" alt="...">
                                    <div class="card-img-overlay">
                                         <div class="shortcode_title title-center title-decoration-bottom-center">
                                                <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:90px;font-family: 'Satisfy', cursive;">Vilamendhoo Resort</p>
                                                <h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold">Maldives</h5>
                                                <span style="margin-top:-75px;" class="line_after_title"></span>
                                            </div></div>
                                </div>
                            </figure>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                    <figure style="margin-left: 0;margin-top: 0;margin-bottom: 0;height: 380px;">
                    <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                        <img src="assets/Deals/GrandHyatt.jpg" style="height: 380px;width: 100%;" class="card-img" alt="...">
                        <div class="card-img-overlay">
                            <div class="shortcode_title title-center title-decoration-bottom-center">
                                   <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:285px;font-family: 'Satisfy', cursive;">Grand Hyatt Goa</p>
                                   <h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold">GOA</h5>
                                   <span style="margin-top:-75px;" class="line_after_title"></span>
                               </div></div>
                    </div>
                    </figure>
                  </div>
                </div>
            </div>
    </div>
    <!-- <div style="margin-top: -120px;" class="section-white padding-top-6x padding-bottom-6x">
        <div class="container_landing_page">
            <div class="shortcode_title title-center title-decoration-bottom-center">
                <h3 class="title_primary">DEALS AND DISCOUNTS</h3><span class="line_after_title"></span>
            </div>
            <div class="row wrapper-tours-slider">

                <owl-carousel-o id="deals_discount" style="padding-left: 35px;margin-top: -20px;" [options]="customOptions1">
                    <ng-template carouselSlide>
                       <div style="margin-left: 40px;margin-right:35px;" class="item_border">
                            <div style="height: 450px;" class="item_content">
                                <div class="post_images">
                                    <a href="single-tour.html" class="travel_tour-LoopProduct-link">
                                    <span class="price">
                                        <span class="travel_tour-Price-amount amount">$89.00</span>
                                    </span>
                                        <img src="assets/tour/tour-3.jpg" alt="" title="">
                                    </a>
                                    <div class="group-icon">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="" class="frist" data-original-title="River Cruise"><i class="flaticon-transport-2"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Wildlife"><i class="flaticon-island"></i></a>
                                    </div>
                                </div>
                                <div class="wrapper_content">
                                    <div class="post_title"><h4>
                                        <a href="single-tour.html" rel="bookmark">Anchorage to Santiago</a>
                                    </h4></div>
                                    <span class="post_date">5 DAYS 4 NIGHTS</span>
                                    <p>Aliquam lacus nisl, viverra convallis sit amet&nbsp;penatibus nunc&nbsp;luctus</p>
                                </div>
                            </div>
                            <div class="read_more">
                                <div class="item_rating">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </div>
                                <a href="single-tour.html" class="read_more_button">VIEW MORE
                                    <i class="fa fa-long-arrow-right"></i></a>
                                <div class="clear"></div>
                            </div>
                        </div>
                

                    </ng-template>
                    <ng-template carouselSlide>
                        <div style="margin-left: 10px;margin-right:35px;" class="item_border">
                            <div style="height: 450px;" class="item_content">
                                <div class="post_images">
                                    <a href="single-tour.html" class="travel_tour-LoopProduct-link">
                                    <span class="price">
                                        <span class="travel_tour-Price-amount amount">90.00</span>
                                     </span>
                                        <img src="assets/tour/tour-4.jpg" alt="" title="">
                                    </a>
                                    <div class="group-icon">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="" class="frist" data-original-title="River Cruise"><i class="flaticon-transport-2"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Wildlife"><i class="flaticon-island"></i></a>
                                    </div>
                                </div>
                                <div class="wrapper_content">
                                    <div class="post_title"><h4>
                                        <a href="single-tour.html" rel="bookmark">Anchorage to Ushuaia</a>
                                    </h4></div>
                                    <span class="post_date">5 DAYS 4 NIGHTS</span>
                                    <p>Aliquam lacus nisl, viverra convallis sit amet&nbsp;penatibus nunc&nbsp;luctus</p>
                                </div>
                            </div>
                            <div class="read_more">
                                <div class="item_rating">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </div>
                                <a href="single-tour.html" class="read_more_button">VIEW MORE
                                    <i class="fa fa-long-arrow-right"></i></a>
                                <div class="clear"></div>
                            </div>
                        </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div style="margin-left: 10px;margin-right:35px;" class="item_border">
                                <div style="height: 450px;" class="item_content">
                                    <div class="post_images">
                                        <a href="single-tour.html" class="travel_tour-LoopProduct-link">
                                        <span class="price">
                                            <span class="travel_tour-Price-amount amount">$94.00</span>
                                        </span>
                                            <img src="assets/tour/tour-5.jpg" alt="" title="">
                                        </a>
                                        <div class="group-icon">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="" class="frist" data-original-title="River Cruise"><i class="flaticon-transport-2"></i></a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Wildlife"><i class="flaticon-island"></i></a>
                                        </div>
                                    </div>
                                    <div class="wrapper_content">
                                        <div class="post_title"><h4>
                                            <a href="single-tour.html" rel="bookmark">Discover Brazil</a>
                                        </h4></div>
                                        <span class="post_date">5 DAYS 4 NIGHTS</span>
                                        <p>Aliquam lacus nisl, viverra convallis sit amet&nbsp;penatibus nunc&nbsp;luctus</p>
                                    </div>
                                </div>
                                <div class="read_more">
                                    <div class="item_rating">
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </div>
                                    <a href="single-tour.html" class="read_more_button">VIEW MORE
                                        <i class="fa fa-long-arrow-right"></i></a>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            </ng-template>
                            <ng-template style="margin-left: 10px;margin-right:35px;" carouselSlide>
                                <div class="item_border">
                                    <div style="height: 450px;" class="item_content">
                                        <div class="post_images">
                                            <a href="single-tour.html" class="travel_tour-LoopProduct-link">
                                            <span class="price"><del>
                                                <span class="travel_tour-Price-amount amount">$87.00</span></del>
                                                <ins><span class="travel_tour-Price-amount amount">$82.00</span></ins>
                                            </span>
                                                <span class="onsale">Sale!</span>
                                                <img src="assets/tour/tour-1.jpg" alt="" title="">
                                            </a>
                                            <div class="group-icon">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="" class="frist" data-original-title="River Cruise"><i class="flaticon-transport-2"></i></a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Wildlife"><i class="flaticon-island"></i></a>
                                            </div>
                                        </div>
                                        <div class="wrapper_content">
                                            <div class="post_title"><h4>
                                                <a href="single-tour.html" rel="bookmark">Kiwiana Panorama</a>
                                            </h4></div>
                                            <span class="post_date">5 DAYS 4 NIGHTS</span>
                                            <p>Aliquam lacus nisl, viverra convallis sit amet&nbsp;penatibus nunc&nbsp;luctus</p>
                                        </div>
                                    </div>
                                    <div class="read_more">
                                        <div class="item_rating">
                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        </div>
                                        <a href="single-tour.html" class="read_more_button">VIEW MORE
                                            <i class="fa fa-long-arrow-right"></i></a>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                </ng-template>
                               
                </owl-carousel-o>
            </div>
        </div>
    </div> -->

    <div style="margin-top:-20px;" class="section-white padding-top-6x padding-bottom-6x">
        <div class="container_landing_page">
            <div class="row">
                <div  class="col-lg-6">
                    <div class="shortcode_title title-center title-decoration-bottom-center">
                        <h2 class="title_primary">Tours Reviews</h2>
                        <span class="line_after_title"></span>
                    </div>
                    <div id="carouselExampleCaptions" style="width: 90%;padding-left: 40px;margin-left:20px" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="assets/maldives.jpg" style="height: 300px;" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h1 style="color: #111;">Maldives</h1>
                              <p style="color: #111;">Some representative placeholder content for the first slide.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="assets/swit.jpg" style="height: 300px;" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h1  style="color: #ffff;">Switzerland</h1>
                              <p>Some representative placeholder content for the second slide.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="assets/dubai.jpg" style="height: 300px;" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h1 style="color: #ffffff;">Dubai</h1>
                              <p>Some representative placeholder content for the third slide.</p>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
                <div class="col-sm-6">
                    <div class="shortcode_title title-center title-decoration-bottom-center">
                        <h2 class="title_primary">Testimonial</h2>
                        <span class="line_after_title"></span>
                    </div>
                    <div class="row container-fluid">
                        

                        <div id="testimonialCarousel" style="width: 90%;padding-left: 40px;margin-left:20px" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="left">
                                <div style="width: 100%;height:300px;border-radius: 10px;border: 1px solid lightgrey;box-shadow:5px 3px 10px rgba(0, 0, 0, 0.281)" class="card">
                                    <div class="card-body">
                                        <div class="bg12">
                                        <img style="width: 150px;margin-left: 150px;margin-top: 10px;" src="assets/glogo.png" alt="">
                                    </div>
                                    <div style="margin-left:10px;margin-top: 80px;margin-left: -500px;" class="cont123">
                                        <div style="margin-top: 100px;margin-right: 140px;margin-left: -500px;" class="star">
                                            <input type="radio" name="rate" id="rate-5">
                                            <label for="rate-5" class="fas fa-star"></label>
                                            <input type="radio" name="rate" id="rate-4">
                                            <label style="color:#ffb300" for="rate-4" class="fas fa-star"></label>
                                            <input type="radio" name="rate" id="rate-3">
                                            <label style="color:#ffb300" for="rate-3" class="fas fa-star"></label>
                                            <input type="radio" name="rate" id="rate-2">
                                            <label style="color:#ffb300" for="rate-2" class="fas fa-star"></label>
                                            <input type="radio" name="rate" id="rate-1">
                                            <label style="color:#ffb300" for="rate-1" class="fas fa-star"></label>
                                        </div>
                                    </div>
                                    <p style="text-align:center;margin-top:-100px;font-weight: 500;" class="fs-3">4/5</p>
                                    <p style="text-align:center;margin-top:-10px;color: grey;">725+ Reviews</p>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="right" style="margin-left: 20px;">
                                <div style="width: 100%;height:300px;border-radius: 10px;border: 1px solid lightgrey;box-shadow:5px 3px 10px rgba(0, 0, 0, 0.281)" class="card">
                                    <div class="card-body">
                                        <div class="bg12">
                                        <img style="width: 100px;margin-top: 0px;margin-bottom: 25px;margin-left: 180px;" src="assets/fb.png" alt="">
                                    </div>
                                    <div style="margin-left:0px;margin-top: 10px;" class="cont123">
                                        <div style="margin-top: 80px;margin-right: 120px;" class="star">
                                            <input type="radio" name="rate" id="rate-5">
                                            <label style="color:#ffb300" for="rate-5" class="fas fa-star"></label>
                                            <input type="radio" name="rate" id="rate-4">
                                            <label style="color:#ffb300" for="rate-4" class="fas fa-star"></label>
                                            <input type="radio" name="rate" id="rate-3">
                                            <label style="color:#ffb300" for="rate-3" class="fas fa-star"></label>
                                            <input type="radio" name="rate" id="rate-2">
                                            <label style="color:#ffb300" for="rate-2" class="fas fa-star"></label>
                                            <input type="radio" name="rate" id="rate-1">
                                            <label style="color:#ffb300" for="rate-1" class="fas fa-star"></label>
                                        </div>
                                    </div>
                                    <p style="text-align:center;margin-top:-100px;font-weight: 500;" class="fs-3">5/5</p>
                                    <p style="text-align:center;margin-top:-10px;color: grey;">725+ Reviews</p>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel"  data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel"  data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div> 

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
    </div>
    </div>
</div>