<div class="top_site_main" style="background-image:url(assets/banner/top-heading.jpg);background-size: cover;padding-top: 90px;padding-bottom: 50px;">
    <div class="banner-wrapper container article_heading">
<h1 class="heading_primary">Update Data</h1></div>
</div>
<div style="padding-top: 30px;padding-bottom:100px" class="container-fluid">


<!-- Navs/Tabs -->

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#destination" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Destination</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#subd" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" (click)="getDestinations1()" >Sub Destination</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#stay" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Stay</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#meal" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Meal</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#sight" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Sight Seeing</button>
    </div>
</nav>



<div class="tab-content" id="nav-tabContent">

    <div style="margin-top: 0px;" class="collapse active" id="destination" role="tabpanel" aria-labelledby="nav-homw-tab">
        <div class="card card-body">
          <form #destinationForm="ngForm" (ngSubmit)=addDestination(destinationForm.value) >
            <div style="padding-left: 50px;" class="row">
                <div class="col-md-2">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" ngModel name="country" class="form-control" placeholder="Enter Destination" value={{val}} >
                </div>
                <div class="col-md-2">
                    <label for="" class="form-label">Destination</label>
                    <input type="text" ngModel name="destination" class="form-control" placeholder="Enter Destination" value={{val}}>
                </div>
                <div class="col-md-2">
                    <label for="" class="form-label">Notes</label>
                    <input type="text" ngModel name="notes" class="form-control" placeholder="Enter notes" value={{val}}>
                </div>
                <div class="col-md-2">
                    <label for="" class="form-label">Description</label>
                    <input type="text" ngModel name="description" class="form-control" placeholder="Add description" value={{val}}>
                </div>
                <div class="col-md-1">
                    <label for="" class="form-label">Pin Code</label>
                    <input type="text" ngModel name="pincode" class="form-control" placeholder="Enter Pincode" value={{val}}>
                </div>  
                <div class="col-md-2">
                    <label for="" class="form-label">Policies</label>
                    <input type="text" ngModel name="policies" class="form-control" placeholder="Enter Policies" value={{val}}>
                </div> 
                <div class="col-md-1">
                    <input style="margin-top: 30px;color: white;width: 50px;" class="btn12" type="submit" (click)="Clear()" value="+">
                </div> 
            </div>
          </form>
          <table style="padding-left: 80px;margin-top:20px" class="table">
              <thead>
                  <th style="border-top: none;border-right: none;">
                      Country
                  </th>
                  <th style="border-top: none;border-right: none;">
                      Destination
                  </th>
                  <th style="border-top: none;border-right: none;">
                      notes
                  </th>
                  <th style="border-top: none;border-right: none;">
                    Description
                </th>
                  <th style="border-top: none;border-right: none;">
                      Pin Code
                  </th>
                  <th style="border-top: none;border-right: none;">
                    Policies
                </th>
                <th style="border-top: none;border-right: none;">
                    Delete
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let dest of newDestination;let i=index">
                    <td style="border-top: none;border-right: none;"> {{dest.country}} </td>
                    <td style="border-top: none;border-right: none;"> {{dest.name}} </td>
                    <td style="border-top: none;border-right: none;"> {{dest.notes}} </td>
                    <td style="border-top: none;border-right: none;"> {{dest.description}} </td> 
                    <td style="border-top: none;border-right: none;"> {{dest.pinCode}} </td>
                    <td style="border-top: none;border-right: none;"> {{dest.policies}} </td>
                    <td style="border-top: none;border-right: none;"><button (click)="deleteDestination(i)" class="btn btn-outline-danger">-</button></td>
                </tr>
            </tbody>
          </table>
          <div align="right" class="row">
              <div class="col-md-12">   
                <input style="margin-top: 30px;color: white;width: 100px;margin-right: 125px;" class="btn12" type="submit" value="Add" (click)="postDestination()" >
            </div>
          </div>
        </div>
      </div>


<!-- Subdestination -->
      <div style="margin-top: 0px;" class="collapse" id="subd">
        <div class="card card-body">
          <form #subdestinationForm="ngForm" (ngSubmit)=addSubDestination(subdestinationForm.value) >
            <div style="padding-left: 180px;" class="row">
                <div class="col-md-3">
                    <label for="destination" class="form-label">Destination</label>
                    <select name="destination" style="height: 35px;margin-top: 10px;font-size:14px" class="form-select" (ngModelChange)="getSubDestinations($event)" [(ngModel)]="OnOptionSelect" id="destination" value={{val}} #destination required >
                        <option></option>
                        <option *ngFor="let desti of destination_select" [ngValue]=desti>{{desti.name}}</option>

                    </select>
                </div>
                <div class="col-md-2">
                    <label for="" class="form-label">Sub Destination</label>
                    <input type="text" ngModel name="Subdestination" class="form-control" placeholder="Enter Subdestination " value={{val}}>
                </div>
                <div class="col-md-2">
                    <label for="" class="form-label">Description</label>
                    <input type="text" ngModel name="Description" class="form-control" placeholder="Add description" value={{val}}>
                </div>
                <div class="col-md-2">
                    <label for="" class="form-label">Pin Code</label>
                    <input type="text" ngModel name="pincode" class="form-control" placeholder="Enter Pin Code" required value={{val}}>
                </div>
                <div class="col-md-2">
                    <input style="margin-top: 30px;color: white;" class="btn12" type="submit" (click)="Clear()" value="+">
                </div> 
               
            </div>
        </form>
          <table style="margin-top:20px;padding-left: 120px;" class="table">
              <thead>
                  <th style="border-top: none;border-right: none;">
                      Destination
                  </th>
                  <th style="border-top: none;border-right: none;">
                      Sub Destination
                  </th>
                  <th style="border-top: none;border-right: none;">
                      Description
                  </th>
                  <th style="border-top: none;border-right: none;">
                      Pin Code
                  </th>
                  <th style="border-top: none;border-right: none;">Delete</th>
              </thead>
              <tbody>
                <tr *ngFor="let subd of newSubdestinations;let i=index">
                    <!-- <td style="border-top: none;border-right: none;"> {{dest.country}} </td> -->
                    <td style="border-top: none;border-right: none;"> {{subd.destinationId}} </td>
                    <td style="border-top: none;border-right: none;"> {{subd.name}} </td>
                    <td style="border-top: none;border-right: none;">{{subd.description}}</td>
                    <td style="border-top: none;border-right: none;"> {{subd.pincode}} </td>
                    <td style="border-top: none;border-right: none;"> <button (click)="deleteSubdestions(i)" class="btn btn-outline-danger">-</button> </td>
                </tr>
            </tbody>
          </table>
          <div align="right" class="row">
              <div class="col-md-12">
                 <input style="color: white;margin-right: 170px;" class="btn12" type="submit" value="Add" (click)="postSubd()" >
              </div>
          </div>
        
        </div>
      </div>



      <!-- Stay -->
     
      <div style="margin-top: 0px;" class="collapse" id="stay">
        <div class="card card-body">
          <form #stayForm="ngForm" (ngSubmit)=addStay(stayForm.value) >
            <div style="padding-left:10px;" class="row">
                <div class="col-md-2">
                    <label for="destination" class="form-label">Destination</label>
                    <select name="destination" style="height: 35px;margin-top: 10px;font-size:14px" class="form-select" [(ngModel)]="OnOptionSelect" (ngModelChange)="getSubDestinations($event)" id="destination" #destination required value={{val}} >
                        <option></option>
                        <option *ngFor="let desti of destination_select" [ngValue]=desti>{{desti.name}}</option>
    
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="subd" class="form-label">Sub Destination</label>
                    <select name="subd" style="height: 35px;margin-top: 10px;font-size:14px" class="form-select" [(ngModel)]="onOptionSubdestination" id="subdestination" value={{val}} #subdestination required >
                        <option></option>
                        <option *ngFor="let subd of subdestinationOptions" [ngValue]=subd>{{subd.name}}</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="" class="form-label">Stay Name</label>
                    <input type="text" ngModel name="name" class="form-control" placeholder="Enter Name of Stay " value={{val}}>
                </div>
                <div class="col-md-2">
                    <label for="" class="form-label">Description</label>
                    <input type="text" ngModel name="description" class="form-control" placeholder="Add Description" value={{val}}>
                </div>
                <div class="col-md-1">
                    <label for="" class="form-label">Stay Type</label>
                    <input type="text" ngModel name="stayType" class="form-control" placeholder="Enter the Stay Type" value={{val}}>
                </div>
                <div class="col-md-1">
                    <label for="" class="form-label">AC/non-AC</label>
                    <input type="text" ngModel name="acNonAc" class="form-control" placeholder="AC or Non-AC" value={{val}}>
                </div>
                <div class="col-md-1">
                    <label for="" class="form-label">Rating</label>
                    <input type="text" ngModel name="rating" class="form-control" placeholder="Enter Rating" value={{val}}>
                </div>
                <div class="col-md-1">
                    <input style="margin-top: 30px;color: white;width: 50px;" class="btn12" type="submit" (click)="Clear()" value="+">
                </div> 

               
            </div>
            </form>
          <table style="padding-left:50px;margin-top:20px" class="table">
              <thead>
                 
                  <th style="border-top: none;border-right: none;">
                      Sub-Destination ID
                  </th>
                  <th style="border-top: none;border-right: none;">
                    Stay Name
                </th>
                <th style="border-top: none;border-right: none;">
                    Description
                </th>
                  <th style="border-top: none;border-right: none;">
                      Stay Type
                  </th>
                  <th style="border-top: none;border-right: none;">
                   AC / Non-AC
                </th>
                <th style="border-top: none;border-right: none;">
                    Rating
                </th>
                <th style="border-top: none;border-right: none;">
                    Delete
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let st of newStay;let i=index">
                    <!-- <td style="border-top: none;border-right: none;">
                        {{st.destinationId}}
                    </td>    -->
                    <td style="border-top: none;border-right: none;"> {{st.subDestinationId}} </td>
                    <td style="border-top: none;border-right: none;"> {{st.stayName }} </td>
                    <td style="border-top: none;border-right: none;"> {{st.description}}</td>
                    <td style="border-top: none;border-right: none;"> {{st.stayType}} </td>
                    <td style="border-top: none;border-right: none;"> {{st.acNonAc}} </td>
                    <td style="border-top: none;border-right: none;"> {{st.rating}} </td>
                    <td style="border-top: none;border-right: none;">
                        <button (click)="deleteStay(i)" class="btn btn-outline-danger">-</button>
                    </td>
                </tr>
            </tbody>
          </table>
          <div align="right" class="row">
            <div class="col-md-12">
               <input class="btn12" style="color: white;margin-right: 4px;" type="submit" (click)="postStay()" value="Add">
            </div>
        </div>
      
        </div>
      </div>

<!-- Meal -->

  <div style="margin-top: 0px;" class="collapse" id="meal">
    <div class="card card-body">
      <form #mealForm="ngForm" (ngSubmit)=addMeal(mealForm.value) >
        <div class="row">
            <div class="col-md-2">
                <label for="destination" class="form-label">Destination</label>
                <select name="destination" style="height: 35px;margin-top: 10px;font-size:14px" class="form-select" (ngModelChange)="getSubDestinations($event)" [(ngModel)]="OnOptionSelect" id="destination" #destination required  value={{val}}>
                    <option></option>
                    <option *ngFor="let desti of destination_select" [ngValue]=desti>{{desti.name}}</option>

                </select>
            </div>
            <div class="col-md-2">
                <label for="subd" class="form-label">Sub Destination</label>
                <select name="subd" style="height: 35px;margin-top: 10px;font-size:14px" class="form-select" [(ngModel)]="onOptionSubdestination" (ngModelChange)="getStayAndSights($event)" id="subdestination" #subdestination required value={{val}} >
                    <option></option>
                    <option *ngFor="let subd of subdestinationOptions" [ngValue]=subd>{{subd.name}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="StayId" class="form-label">Stay</label>
               

                <select name="StayId" style="height: 35px;margin-top: 10px;font-size:14px" class="form-select" [(ngModel)]="stayOptions" id="Stay" #Stay required value={{val}} >
                    <option></option>
                    <option *ngFor="let stay of stays" [ngValue]=stay>{{stay.name}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="" class="form-label">Meal Type</label>
                <input type="text" ngModel name="mealType" class="form-control" placeholder="Enter Meal Type" value={{val}}>
            </div>
            <div class="col-md-2">
                <label for="" class="form-label">Description</label>
                <input type="text" ngModel name="description" class="form-control" placeholder="Add description" value={{val}}>
            </div>

            <div class="col-md-1">
                <label for="" class="form-label">Rate</label>
                <input type="text" ngModel name="rate" class="form-control" placeholder="Enter the rate" value={{val}}>
            </div>

             <div class="col-md-1">
                    <input style="margin-top: 30px;color: white;width: 50px;" class="btn12" type="submit" (click)="Clear()" value="+" >
                </div> 
           
        </div>
       
      </form>
      <table style="margin-top:20px" class="table">
          <thead>
            
              <th style="border-top: none;border-right: none;">
                  Stay ID
              </th>
              <th style="border-top: none;border-right: none;">
                 Meal Type
              </th>
              <th style="border-top: none;border-right: none;">
                Description
            </th>
              <th style="border-top: none;border-right: none;">
                  Rate
              </th>
              <th style="border-top: none;border-right: none;">
                  Delete
              </th>
          </thead>
          <tbody>
            <tr *ngFor="let meal of newMeal;let i=index">
                
                <td style="border-top: none;border-right: none;"> {{meal.stayId}} </td>
                <td style="border-top: none;border-right: none;"> {{meal.mealsType}} </td>
                <td style="border-top: none;border-right: none;">
                    {{meal.description}}
                </td>
                <td style="border-top: none;border-right: none;"> {{meal.rate}} </td>
                <td style="border-top: none;border-right: none;"> <button (click)="deleteMeal(i)" class="btn btn-outline-danger">-</button> </td>
            </tr>
        </tbody>
      </table>
      <div align="right" class="row">
        <div class="col-md-12">
           <input class="btn12" style="color: white" type="submit" value="Add" (click)="postMeal()">
        </div>
    </div>
    </div>
  </div>

  <!-- Sightseeing -->

  <div style="margin-top: 0px;" class="collapse" id="sight">
    <div class="card card-body">
      <form #sightForm="ngForm" (ngSubmit)=addSight(sightForm.value) >
        <div class="row">
            <div class="col-md-2">
                <label for="destination" class="form-label">Destination</label>
                <select name="destination" style="height: 35px;margin-top: 10px;font-size:14px" class="form-select" (ngModelChange)="getSubDestinations($event)" [(ngModel)]="OnOptionSelect" id="destination" #destination required value={{val}} >
                    <option></option>
                    <option *ngFor="let desti of destination_select" [ngValue]=desti>{{desti.name}}</option>

                </select>
            </div>
            <div class="col-md-2">
                <label for="subdId" class="form-label">Sub Destination</label>
                <select name="subdestination" style="height: 35px;margin-top: 10px;font-size:14px" class="form-select" [(ngModel)]="onOptionSubdestination" id="subdestination" #subdestination required value={{val}} >
                        <option></option>
                        <option *ngFor="let subd of subdestinationOptions" [ngValue]=subd>{{subd.name}}</option>
                    </select>
            </div>
            <div class="col-md-1">
                <label for="" class="form-label">Sight</label>
                <input type="text" ngModel name="sightName" class="form-control" placeholder="Enter Meal Type" value={{val}}>
            </div>
            <div class="col-md-2">
                <label for="" class="form-label">Start Date</label>
                <input type="date" ngModel name="start" class="form-control" placeholder="Enter the Start Date" value={{val}}>
            </div>
            <div class="col-md-2">
                <label for="" class="form-label">End Date</label>
                <input type="date" ngModel name="end" class="form-control" placeholder="Enter the End Date" value={{val}}>
            </div>
            <div class="col-md-1">
                <label for="" class="form-label">Rate</label>
                <input type="text" ngModel name="rate" class="form-control" placeholder="Enter the rate" value={{val}}>
            </div>
            <div class="col-md-2">
                <input style="margin-top: 30px;color: white;" class="btn12" type="submit" value="+">
            </div> 
           
        </div>
      
      </form>
      <table style="margin-top:20px" class="table">
          <thead>
              <th style="border-top: none;border-right: none;">
                  Destination ID
              </th>
              <th style="border-top: none;border-right: none;">
                  Sub Destination ID
              </th>
              <th style="border-top: none;border-right: none;">
                Sight
              </th>
              <th style="border-top: none;border-right: none;">
                  Start Date
              </th>
              <th style="border-top: none;border-right: none;">
                End Date
            </th>
            <th style="border-top: none;border-right: none;">
               Rate
            </th>
            <th style="border-top: none;border-right: none;">
                Delete
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let sights of newSights;let i=index">
                <td style="border-top: none;border-right: none;">
                    {{sights.destinationId}}
                </td>
                <td style="border-top: none;border-right: none;"> {{sights.subDestinationId}} </td>
                <td style="border-top: none;border-right: none;"> {{sights.name}} </td>
                <td style="border-top: none;border-right: none;"> {{sights.startTime}} </td>
                <td style="border-top: none;border-right: none;"> {{sights.endTime}} </td>
                <td style="border-top: none;border-right: none;"> {{sights.rate}} </td>
                <td style="border-top: none;border-right: none;">
                    <button (click)="deleteSights(i)" class="btn btn-outline-danger">-</button>
                </td>
            </tr>
        </tbody>
      </table>
      <div align="right" class="row">
        <div class="col-md-12">
           <input class="btn12" style="color: white" type="submit" (click)="postSight()" value="Add">
        </div>
    </div>
    </div>
  </div>


</div>


<!-- <h1> {{title}} </h1>
<button type="submit" (click)="add()" class="btn12">Click me!</button>
</div> -->
