.wrapper-tours-slider .tours-type-slider .owl-nav .owl-prev, .wrapper-tours-slider .tours-type-slider .owl-nav .owl-next {
	position:   absolute;
	top:        50%;
	color:      #ffb300;
	margin-top: -25px;
	opacity:    1.7;
}

#trending .owl-nav .owl-prev{
	padding-left: 12px;
	padding-top: 12px;
	padding-right: 15px;
	padding-bottom: 10px;
	background-color: #fff;
	border-radius: 500px;
	box-shadow:10px 10px 10px rgba(0, 0, 0,0.5);
	width: 40px;
	color: #ffd200;
	margin-top: -190px;
	margin-left: -70px;
	cursor: pointer;
}

#trending .owl-nav .owl-next{
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 11px;
	padding-bottom: 10px;
	background-color: #fff;
	border-radius: 500px;
	box-shadow:10px 10px 10px rgba(0, 0, 0,0.5);
	width: 40px;
	color: #ffd200;
	margin-top: -35px;
	margin-left: 100%;
	margin-right: 20px;
	cursor: pointer;
}
#exploreByTheme .owl-nav .owl-next{
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 11px;
	padding-bottom: 10px;
	background-color: #fff;
	border-radius: 500px;
	box-shadow:10px 10px 10px rgba(0, 0, 0,0.5);
	width: 40px;
	color: #ffd200;
	margin-top: -35px;
	margin-left: 100%;
	margin-right: 20px;
	cursor: pointer;
	/* z-index: 955; */
}
#exploreByTheme{
	padding-left: 150px;
}
#exploreByTheme .owl-nav .owl-prev{
	padding-left: 12px;
	padding-top: 12px;
	padding-right: 15px;
	padding-bottom: 10px;
	background-color: #fff;
	border-radius: 500px;
	box-shadow:10px 10px 10px rgba(0, 0, 0,0.5);
	width: 40px;
	color: #ffd200;
	margin-top: -140px;
	margin-left: -70px;
	cursor: pointer;
}


#deals_discount .owl-nav .owl-next{
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 11px;
	padding-bottom: 10px;
	background-color: #111;
	border-radius: 500px;
	box-shadow:0px 10px 10px rgba(0, 0, 0,0.5);
	width: 40px;
	color: #ffd200;
	margin-top: -55px;
	margin-left: 100%;
	margin-right: 20px;
}

#deals_discount .owl-nav .owl-prev{
	padding-left: 12px;
	padding-top: 12px;
	padding-right: 15px;
	padding-bottom: 10px;
	background-color: #111;
	border-radius: 500px;
	box-shadow:0px 10px 10px rgba(0, 0, 0,0.5);
	width: 40px;
	color: #ffd200;
	margin-top: -290px;
	margin-left: -70px;
}

#deals_Section .owl-nav .owl-prev{
	padding-left: 12px;
	padding-top: 12px;
	padding-right: 15px;
	padding-bottom: 10px;
	background-color: #111;
	border-radius: 500px;
	box-shadow:0px 10px 10px rgba(0, 0, 0,0.5);
	width: 40px;
	color: #ffd200;
	margin-top: -200px;
	margin-left: -70px;
}
#deals_Section .owl-nav .owl-next{
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 11px;
	padding-bottom: 10px;
	background-color: #111;
	border-radius: 500px;
	box-shadow:0px 10px 10px rgba(0, 0, 0,0.5);
	width: 40px;
	color: #ffd200;
	margin-top: -35px;
	margin-left: 100%;
	margin-right: 20px;
}

#deals_best .owl-nav .owl-next {
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 11px;
	padding-bottom: 10px;
	background-color: #111;
	border-radius: 500px;
	box-shadow:0px 10px 10px rgba(0, 0, 0,0.5);
	width: 40px;
	color: #ffd200;
	margin-top: -35px;
	margin-left: 100%;
	margin-right: 20px;
}

#deals_best .owl-nav .owl-prev{
	padding-left: 12px;
	padding-top: 12px;
	padding-right: 15px;
	padding-bottom: 10px;
	background-color: #111;
	border-radius: 500px;
	box-shadow:0px 10px 10px rgba(0, 0, 0,0.5);
	width: 40px;
	color: #ffd200;
	margin-top: -170px;
	margin-left: -70px;

}

.owl-nav .owl-next {
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 11px;
	padding-bottom: 10px;
	background-color: #111;
	border-radius: 500px;
	box-shadow:0px 10px 10px rgba(0, 0, 0,0.5);
	width: 40px;
	color: #ffd200;
	margin-top: -35px;
	margin-left: 100%;
	margin-right: 20px;
}

.Carousel_Package .owl-nav .owl-prev{
	padding-left: 12px;
	padding-top: 12px;
	padding-right: 15px;
	padding-bottom: 10px;
	background-color: #fff;
	border-radius: 500px;
	box-shadow:0px 10px 10px rgba(0, 0, 0,0.5);
	width: 40px;
	color: #ffd200;
	margin-top: -270px;
	margin-left: -70px;
}

.Carousel_Package .owl-nav .owl-next{
	z-index:1;
	padding-left: 12px;
	padding-top: 12px;
	padding-right: 15px;
	padding-bottom: 10px;
	background-color: #fff;
	border-radius: 500px;
	box-shadow:0px 10px 10px rgba(0, 0, 0,0.5);
	width: 40px;
	color: #ffd200;
	margin-top: -50px;
	margin-left: 73%;
}
.owl-nav .owl-prev{
	padding-left: 12px;
	padding-top: 12px;
	padding-right: 15px;
	padding-bottom: 10px;
	background-color: #111;
	border-radius: 500px;
	box-shadow:0px 10px 10px rgba(0, 0, 0,0.5);
	width: 40px;
	color: #ffd200;
	margin-top: -170px;
	margin-left: -70px;
}
.card2:hover{
	/* transform: scale(1.05,1.05); */
	opacity: 0.8;
	transition: all 0.3s;
	}
	.card1{
		width: 9%;
	}
	.card1:hover{
		cursor: pointer;
		transform: scale(1.12);
		transition: all 1s ease-in-out;
	  }
	 
	 .cont123 .star input{
		display:none;
	}
	.star label{
		font-size: 25px;
		color: lightgrey;
		float: right;
		padding:0px;
		margin-top: -23px;
		margin-left: 10px;
	}
.wrapper-tours-slider .tours-type-slider .owl-nav .owl-prev i, .wrapper-tours-slider .tours-type-slider .owl-nav .owl-next i {
	font-size: 20px;
}

.wrapper-tours-slider .tours-type-slider .owl-nav .owl-prev:hover, .wrapper-tours-slider .tours-type-slider .owl-nav .owl-next:hover {
	opacity: 1;
}

.wrapper-tours-slider .tours-type-slider .owl-nav .owl-prev {
	left: -50px;
}

.wrapper-tours-slider .tours-type-slider .owl-nav .owl-next {
	right: -50px;
}

.wrapper-tours-type-slider .tours-type-slider .owl-nav .owl-prev, .wrapper-tours-type-slider .tours-type-slider .owl-nav .owl-next {
	color: #333;
}