<!-- <form #dataForm="ngForm" (ngSubmit)=addData(dataForm.value) >
    <div style="padding-left: 80px;" class="row">
        <div class="col-md-2">
            <label for="country" class="form-label">Country</label>
            <input type="text" ngModel name="country" class="form-control" placeholder="Enter Destination">
        </div>
        <div class="col-md-2">
            <input style="margin-top: 30px;color: white;" class="btn12" type="submit" value="+">
        </div> 
    </div>
  </form>
  <form #dataForm1="ngForm" (ngSubmit)=addData1(dataForm1.value) >
    <div style="padding-left: 80px;" class="row">
        <div class="col-md-2">
            <label for="country" class="form-label">Country</label>
            <input type="text" ngModel name="country1" class="form-control" placeholder="Enter Destination">
        </div>
        <div class="col-md-2">
            <input style="margin-top: 30px;color: white;" class="btn12" type="submit" value="+">
        </div> 
    </div>
  </form>
  <form #dataForm2="ngForm" (ngSubmit)=addData2(dataForm2.value) >
    <div style="padding-left: 80px;" class="row">
        <div class="col-md-2">
            <label for="country" class="form-label">Country</label>
            <input type="text" ngModel name="country2" class="form-control" placeholder="Enter Destination">
        </div> 
        <div class="col-md-2">
            <input style="margin-top: 30px;color: white;" class="btn12" type="submit" value="+">
        </div> 
    </div>
  </form>
  <input style="margin-top: 30px;color: white;" (click)="ShowArrays()" class="btn12" type="submit" value="Add">
 <table>
    <tbody>
        <tr *ngFor="let arr of arr1">
            <td>
                {{arr.count1}}
            </td>
            <td>
                {{arr.desti1}}
            </td>
            <td>
                {{arr.note1}}
            </td>
            <td>
                {{arr.pin1}}
            </td>
            <td>
                {{arr.policy}}
            </td> -->
        <!-- </tr>
    </tbody>
  </table> -->

  <div class="top_site_main" style="background-image:url(assets/banner/top-heading.jpg);background-size: cover;">
    <div class="banner-wrapper container article_heading">
      <h1 style="padding-top: 190px;" class="heading_primary">Home Page</h1></div>
  </div>
<div style="padding-top: 300px;padding-left: 30%;" class="container">
    <h1>Welcome USer !!!!!!!!</h1>
</div>