 <div class="top_site_main" style="background-image:url(assets/home2.jpg);background-size: cover;">
  <div style="padding-top:150px;padding-bottom:60px" class="banner-wrapper container article_heading">
  
      <h1 style="padding-left:30px;color: white;font-weight: bold;font-size: 34px;letter-spacing:2px" >Home Page</h1>
  </div>

</div>
 <div style="padding-left: 50px;" class="container-fluid home_top">
   <img src="assets/homeimg.jpg" style="width:16%" alt="">
   <div style="padding-top:7%;padding-left: 2%;width: 23%;" class="username">
    <h1 style="font-weight: 500;">Hello User...!!</h1>
    <p style="color: grey;">Welcome to the Morning Star Holidays</p>
   </div>
  
 </div>
 <div style="padding-left: 100px;" class="row container-fluid cont">
   <div class="col-md-8">
    <div class="mb-3" style="text-align:left">
      <h3 class="title_primary fs-3" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;margin-top: -530px;"><i class="fab fa-battle-net"></i></span>YOUR INQUIRIES</h3>
  </div>
  <table style="text-align: center;border: 1px solid #fff;" class="table table-light">

    <thead style="background-color: #ffd200;border: 1px solid #fff;text-align:center;color: #fff">
       
        <th style="text-align:center;border: none">Email Id</th>
        <th style="text-align:center;border: none">Status</th>
        <th style="text-align:center;border: none">City</th>
        <th style="text-align:center;border: none">Product Name</th>
    </thead>
    <tbody>
       <tr>
        <td style="text-align:center;border: none">
        abc@gmail.com
      </td>
      <td style="text-align:center;border: none">
        pending
      </td>
      <td style="text-align:center;border: none">
        AKot
      </td>
      <td style="text-align:center;border: none">
       Magical Maldives
      </td>
        </tr>
        <tr>
          <td style="text-align:center;border: none">
          xyz@gmail.com
        </td>
        <td style="text-align:center;border: none">
          Completed
        </td>
        <td style="text-align:center;border: none">
          Pune
        </td>
        <td style="text-align:center;border: none">
          Australia
        </td>
          </tr>
          <tr>
            <td style="text-align:center;border: none">
            pqr@gmail.com
          </td>
          <td style="text-align:center;border: none">
            pending
          </td>
          <td style="text-align:center;border: none">
            Nagpur
          </td>
          <td style="text-align:center;border: none">
           Miraculous Norway
          </td>
            </tr>
            <tr>
              <td style="text-align:center;border: none">
              abc@gmail.com
            </td>
            <td style="text-align:center;border: none">
              pending
            </td>
            <td style="text-align:center;border: none">
              AKot
            </td>
            <td style="text-align:center;border: none">
             Bali
            </td>
              </tr>
    </tbody>
</table>  
   </div>
   <div class="col-md-4">
    <div class="mb-3" style="text-align:left">
      <h3 class="title_primary fs-3" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;margin-top: -530px;"><i class="fab fa-battle-net"></i></span>Loyalty Score</h3>
  </div>
    <div class="card" style="height:100%;box-shadow: 8px 8px 8px 5px rgba(0,0,0,0.2); border-radius:20px;width: 90%;" alt="">
      <div class="card-body loyalty">
        <div>
        <h2 style="font-size: 40px;text-align:center;" class="card-text">101.00</h2>
        <p style="text-align:center;">Your Loyalty Score is 101.00</p>
        <button class="btn btn-danger" style="text-align:center;font-size: 16px;width:120px;margin-left: 35px;margin-top: 20px;padding: 10px;">Reedem</button>
      </div>
      </div>
    </div>
     </div>



<!-- Deals -->

<div style="margin-top: 100px;" class="row mb-5">
  <div class="mb-3" style="text-align:left">
    <h3 class="title_primary fs-3" style="font-family: 'Varela Round', sans-serif;font-weight: bold;"><span style="margin-right: 10px;color: gold;margin-top: -530px;"><i class="fab fa-battle-net"></i></span>Special Offers for you</h3>
  </div>
  <div class="col-sm-6">
    <div class="row">
        <div class="col-6 col-sm-6">
            <figure style="margin-left: 0;margin-top: 0;">
                <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                    <img src="assets/Deals/deals1.jpg" style="height: 180px;width: 100%;" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <div style="transform: rotate(-10deg);" class="shortcode_title title-center title-decoration-bottom-center">
                            <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:35px;font-family: 'Satisfy', cursive;">Deals Below...</p>
                            <h5 class="card-title fs-1" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold"><span>₹</span>10K</h5>
                            <span style="margin-top:-75px;" class="line_after_title"></span>
                        </div></div>
                </div>
            </figure>
        </div>
        <div class="col-6 col-sm-6">
            <figure style="margin-left: 0;margin-top: 0;">
            <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                <img src="assets/Deals/deals5.jpg" style="height: 180px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">
                     <div style="transform: rotate(-10deg);" class="shortcode_title title-center title-decoration-bottom-center">
                            <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:35px;font-family: 'Satisfy', cursive;">Deals Ranging...</p>
                            <h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold"><span>₹</span>10K-<span>₹</span>20K</h5>
                            <span style="margin-top:-75px;" class="line_after_title"></span>
                        </div></div>
            </div>
            </figure>
        </div>
        <div class="col-6 col-sm-6 mt-3">
            <figure style="margin-left: 0;margin-top: 0;">
            <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                <img src="assets/Deals/deals3.jpg" style="height: 180px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">
                     <div style="transform: rotate(-10deg);" class="shortcode_title title-center title-decoration-bottom-center">
                            <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:35px;font-family: 'Satisfy', cursive;">Deals Ranging...</p>
                            <h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold"><span>₹</span>20K-<span>₹</span>30K</h5>
                            <span style="margin-top:-75px;" class="line_after_title"></span>
                        </div></div>
            </div>
            </figure>
        </div>
        <div class="col-6 col-sm-6 mt-3">
            <figure style="margin-left: 0;margin-top: 0;">
            <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
                <img src="assets/Deals/deals4.jpg" style="height: 180px;width: 100%;" class="card-img" alt="...">
                <div class="card-img-overlay">
                     <div style="transform: rotate(-10deg);" class="shortcode_title title-center title-decoration-bottom-center">
                            <p class="card-title fs-5" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:35px;font-family: 'Satisfy', cursive;">Deals Ranging...</p>
                            <h5 class="card-title fs-3" style="text-align:center;letter-spacing: 2px;margin-left: -0px;margin-top:0%;font-family: 'Varela Round', sans-serif;font-weight:bold"><span>₹</span>30K-<span>₹</span>50K</h5>
                            <span style="margin-top:-75px;" class="line_after_title"></span>
                        </div></div>
            </div>
            </figure>
        </div>
      </div>
  </div>
  <div class="col-sm-6">
    <figure style="margin-left: 0;margin-top: 0;margin-bottom: 0;height: 395px;">
    <div style="background:transparent;border:1px solid #fff;border:1px solid #fff;" class="card deal_card text-white">
        <img src="assets/Deals/deals2.jpg" style="height: 395px;width: 100%;" class="card-img" alt="...">
        <div class="card-img-overlay">
            <div style="transform: rotate(-10deg);" class="shortcode_title title-center title-decoration-bottom-center">
                <p class="card-title fs-2" style="text-align:center;margin-left: -40px;margin-top:120px;font-family: 'Satisfy', cursive;">Deals Above...</p>
                <h5 class="card-title fs-1" style="text-align:center;letter-spacing:7px;margin-left: -40px;margin-top:5%;font-family: 'Varela Round', sans-serif;"><span>₹</span>50K</h5>
                <span  class="line_after_title"></span>
            </div>
           
        </div>
    </div>
    </figure>
  </div>
</div>
 </div>
<!-- <form #totalForm="ngForm" (ngSubmit)="showTotalData(totalForm.value)">
<form #dataForm="ngForm" (ngSubmit)=addData(dataForm.value) >
    <div style="padding-left: 80px;" class="row">
        <div class="col-md-2">
            <label for="country" class="form-label">Country</label>
            <input type="text" ngModel value="country" name="country" #country class="form-control" placeholder="Enter Destination">
        </div>
        <div class="col-md-2">
            <button type="submit" style="margin-top: 30px;color: white;" (click)="getcountry(country.value)" class="btn12">+</button>
        </div> 
    </div>
  </form>
  <form #dataForm1="ngForm" (ngSubmit)=addData1(dataForm1.value) >
    <div style="padding-left: 80px;" class="row">
        <div class="col-md-2">
            <label for="country" class="form-label">State</label>
            <input type="text" ngModel name="state" #state class="form-control" placeholder="Enter Destination">
        </div>
        <div class="col-md-2">
            <button type="submit" style="margin-top: 30px;color: white;" (click)="getstate(state.value)" class="btn12">+</button>
        </div> 
    </div>
  </form>
  <form #dataForm2="ngForm" (ngSubmit)=addData2(dataForm2.value) >
    <div style="padding-left: 80px;" class="row">
        <div class="col-md-2">
            <label for="country" class="form-label">District</label>
            <input type="text" ngModel name="district" #district class="form-control" placeholder="Enter Destination">
        </div> 
        <div class="col-md-2">
            <input style="margin-top: 30px;color: white;" (click)="getdesti(district.value)" class="btn12" type="submit" value="+">
        </div> 
    </div>
  </form>
  <input style="margin-top: 30px;color: white;" (click)="ShowArrays()" class="btn12" type="submit" value="Add">
  </form> -->
 <!-- <table>
    <tbody>
        <tr *ngFor="let arr of arr1">
            <td>
                {{arr.count1}}
            </td>
            <td>
                {{arr.desti1}}
            </td>
            <td>
                {{arr.note1}}
            </td>
            <td>
                {{arr.pin1}}
            </td>
            <td>
                {{arr.policy}}
            </td> 
        </tr>
    </tbody>
  </table> -->

  <!-- <div class="top_site_main" style="background-image:url(assets/banner/top-heading.jpg);background-size: cover;">
    <div class="banner-wrapper container article_heading">
      <h1 style="padding-top: 190px;" class="heading_primary">Home Page</h1></div>
  </div>
<div style="padding-top: 300px;padding-left: 30%;" class="container">
    <h1>Welcome USer !!!!!!!!</h1>
</div> -->

<!-- <table>
    <tbody>
        <tr *ngFor="let i of destination">
            <td>{{i.name}} </td>
        </tr>
    </tbody>
</table> -->


<!-- <form [formGroup]="profileForm" (ngSubmit)="getProfile()">
  
    <label>
      First Name:
      <input type="text" ngModel=Mayur value="mayur" formControlName="firstName">
    </label>
  
    <label>
      Last Name:
      <input type="text" ngModel=Bhakare value="bhakare" formControlName="lastName">
    </label>
      -->

    <!-- <form formGroupName="address"> -->
        <!-- <h3>Address</h3> -->

        <!-- <label>
          Street:
          <input type="text" formControlName="street">
        </label>
      
        <label>
          City:
          <input type="text" formControlName="city">
        </label>
        
        <label>
          State:
          <input type="text" formControlName="state">
        </label>
      
        <label>
          Zip Code:
          <input type="text" formControlName="zip">
        </label>
    </form>


        <input type="submit" value="Submit" >
  </form>



<div class="popup center">
  <div class="icon">
    <i class="fa fa-check"></i>
  </div>
  <div class="title">
    success
  </div>
  <div class="description">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus ab reiciendis dolorem culpa, minima error fugit unde. Explicabo deleniti esse, obcaecati dolorem tempora enim alias, vero iusto cupiditate quos laborum!
  </div>
  <div class="dismiss-btn">
    <button (click)="closeModal()" id="dismiss-popup-btn">
      Dismiss
    </button>
  </div>
</div>

<div class="center">
  <button id="popup-open-btn" (click)="showModal()" >
    OPen popup
  </button>
</div>


<script>
  document.getElementById("popup-open-btn").addEventListener("click",function(){
   document.getElementsByClassName("popup")[0].classList.add("active");
 });

 document.getElementById("dismiss-popup-btn").addEventListener("click",function(){
   document.getElementsByClassName("popup")[0].classList.remove("active")
 })
</script>
 -->
